default_language_version:
  python: python3
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-added-large-files
        exclude: |
          (?x)^(
            paperqa/clients/client_data.*|
            tests/stub_data.*
          )$
      - id: check-byte-order-marker
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: check-shebang-scripts-are-executable
      - id: check-symlinks
      - id: check-toml
      - id: check-yaml
      - id: debug-statements
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: trailing-whitespace
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.7.1
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
  - repo: https://github.com/psf/black-pre-commit-mirror
    rev: 24.10.0
    hooks:
      - id: black
  - repo: https://github.com/rbubley/mirrors-prettier
    rev: v3.3.3
    hooks:
      - id: prettier
  - repo: https://github.com/pappasam/toml-sort
    rev: v0.23.1
    hooks:
      - id: toml-sort-fix
  - repo: https://github.com/codespell-project/codespell
    rev: v2.3.0
    hooks:
      - id: codespell
        additional_dependencies: [".[toml]"]
        exclude: |
          (?x)^(
            tests/cassettes.*|
            paperqa/clients/client_data.*|
            tests/stub_data.*
          )$
  - repo: https://github.com/jumanjihouse/pre-commit-hooks
    rev: 3.0.0
    hooks:
      - id: check-mailmap
  - repo: https://github.com/abravalheri/validate-pyproject
    rev: v0.22
    hooks:
      - id: validate-pyproject
        additional_dependencies:
          - "validate-pyproject-schema-store[all]>=2024.06.24" # Pin for Ruff's FURB154
  - repo: https://github.com/astral-sh/uv-pre-commit
    rev: 0.4.29
    hooks:
      - id: uv-lock
  - repo: https://github.com/renovatebot/pre-commit-hooks
    rev: 38.131.1
    hooks:
      - id: renovate-config-validator
        args: [--strict]
  - repo: https://github.com/adamchainz/blacken-docs
    rev: 1.19.1
    hooks:
      - id: blacken-docs
  - repo: https://github.com/jsh9/markdown-toc-creator
    rev: 0.0.8
    hooks:
      - id: markdown-toc-creator
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.13.0
    hooks:
      - id: mypy
        args: [--pretty, --ignore-missing-imports]
        additional_dependencies:
          - aiohttp
          - coredis
          - fhaviary[llm]>=0.8.2 # Match pyproject.toml
          - ldp>=0.12 # Match pyproject.toml
          - html2text
          - httpx
          - limits
          - numpy
          - openai>=1 # Match pyproject.toml
          - pandas-stubs
          - pydantic~=2.0 # Match pyproject.toml
          - pydantic-settings
          - rich
          - tantivy
          - tenacity
          - tiktoken>=0.4.0 # Match pyproject.toml
          - types-setuptools
          - types-PyYAML
