anthropic
faiss-cpu
langchain-community
langchain-openai
pymupdf
python-dotenv
pyzotero
requests
sentence_transformers
voyageai

# Code QA dependencies
build
pre-commit
pytest
types-requests
types-setuptools
pytest-asyncio
pytest-sugar
pytest-timer
