anthropic
faiss-cpu
langchain-community
langchain-openai
pymupdf
python-dotenv
pyzotero
requests
sentence_transformers
voyageai
langchain-google-vertexai
vertexai

# Code QA dependencies
build
mypy
pre-commit
pytest
pytest-asyncio
pytest-subtests
pytest-sugar
pytest-vcr
pytest-timer
types-requests
types-setuptools
types-PyYAML
