anthropic
faiss-cpu
langchain-community
langchain-openai
pymupdf
python-dotenv
pyzotero
requests
sentence_transformers
voyageai

# Code QA dependencies
build
mypy
pre-commit
pytest
pytest-asyncio
pytest-sugar
pytest-timer
types-requests
types-setuptools
