interactions:
  - request:
      body: ""
      headers:
      method: GET
      uri: https://api.semanticscholar.org/graph/v1/paper/search/match?query=abs12032jsdafn&fields=authors%2CcitationCount%2CcitationStyles%2CexternalIds%2CinfluentialCitationCount%2CisOpenAccess%2Cjournal%2CopenAccessPdf%2CpublicationDate%2CpublicationTypes%2Ctitle%2Curl%2Cvenue%2Cyear
    response:
      body:
        string: '{"error":"Title match not found"}

          '
      headers:
        Content-Type:
          - application/json
        x-amz-apigw-id:
          - PKejSEHsPHcEq9g=
        x-amzn-Remapped-Connection:
          - keep-alive
        x-amzn-Remapped-Content-Length:
          - "34"
        x-amzn-Remapped-Date:
          - Mon, 11 Aug 2025 23:07:26 GMT
        x-amzn-Remapped-Server:
          - gunicorn
        x-amzn-RequestId:
          - dc594903-f43d-46fc-9089-c26f43dfda62
      status:
        code: 404
        message: Not Found
  - request:
      body: ""
      headers:
      method: GET
      uri: https://api.crossref.org/works?mailto=example%40papercrow.ai&query.title=abs12032jsdafn&rows=1
    response:
      body:
        string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"total-results":0,"items":[],"items-per-page":1,"query":{"start-index":0,"search-terms":null}}}'
      headers:
        Content-Type:
          - application/json
        x-api-pool:
          - plus
        x-rate-limit-interval:
          - 1s
        x-rate-limit-limit:
          - "150"
      status:
        code: 200
        message: OK
version: 1
