interactions:
  - request:
      body: null
      headers: {}
      method: GET
      uri: https://api.crossref.org/works/10.1146%2Fannurev.pathol.4.110807.092311?mailto=example@papercrow.ai
    response:
      body:
        string:
          '{"status":"ok","message-type":"work","message-version":"1.0.0","message":{"indexed":{"date-parts":[[2025,8,6]],"date-time":"2025-08-06T13:07:30Z","timestamp":1754485650155},"reference-count":120,"publisher":"Annual
          Reviews","issue":"1","content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":["Annu.
          Rev. Pathol. Mech. Dis."],"published-print":{"date-parts":[[2009,2,1]]},"abstract":"<jats:p>
          PI3-kinase and PTEN are major positive and negative regulators, respectively,
          of the PI3-kinase pathway, which regulates growth, survival, and proliferation.
          These key signaling components are two of the most frequently mutated proteins
          in human cancers, resulting in unregulated activation of PI3K signaling and
          providing irrefutable genetic evidence of the central role of this pathway
          in tumorigenesis. PTEN regulates PI3K signaling by dephosphorylating the lipid
          signaling intermediate PIP<jats:sub>3<\/jats:sub>, but PTEN may have additional
          phosphatase-independent activities, as well as other functions in the nucleus.
          In this review, we highlight current work showing cancer-relevant complexities
          in the regulation of PTEN and PI3K activity, potential novel functions for
          PTEN, and feedback regulation within the pathway. The significance and complexity
          of PI3K signaling make it an important but challenging therapeutic target
          for cancer. <\/jats:p>","DOI":"10.1146\/annurev.pathol.4.110807.092311","type":"journal-article","created":{"date-parts":[[2008,9,3]],"date-time":"2008-09-03T18:23:28Z","timestamp":1220466208000},"page":"127-150","source":"Crossref","is-referenced-by-count":1005,"title":["PTEN
          and the PI3-Kinase Pathway in Cancer"],"prefix":"10.1146","volume":"4","author":[{"given":"Nader","family":"Chalhoub","sequence":"first","affiliation":[{"name":"Department
          of Developmental Neurobiology, St. Jude Children''s Research Hospital, Memphis,
          Tennessee 38105-2794;"}]},{"given":"Suzanne J.","family":"Baker","sequence":"additional","affiliation":[{"name":"Department
          of Developmental Neurobiology, St. Jude Children''s Research Hospital, Memphis,
          Tennessee 38105-2794;"}]}],"member":"22","reference":[{"key":"B1","doi-asserted-by":"publisher","DOI":"10.1038\/nrg1879"},{"key":"B2","doi-asserted-by":"publisher","DOI":"10.1016\/S1097-2765(01)00191-5"},{"key":"B3","doi-asserted-by":"publisher","DOI":"10.1073\/pnas.0506925102"},{"key":"B4","doi-asserted-by":"publisher","DOI":"10.1083\/jcb.200112050"},{"key":"B5","doi-asserted-by":"publisher","DOI":"10.1016\/j.semcdb.2003.12.022"},{"key":"B6","doi-asserted-by":"publisher","DOI":"10.1126\/science.1106148"},{"key":"B7","doi-asserted-by":"publisher","DOI":"10.1074\/jbc.M406731200"[...]
  - request:
      body: null
      headers: {}
      method: GET
      uri: https://api.crossref.org/works/10.1146%2Fannurev.pathol.4.110807.092311/transform/application/x-bibtex
    response:
      body:
        string:
          " @article{Chalhoub_2009, title={PTEN and the PI3-Kinase Pathway in
          Cancer}, volume={4}, ISSN={1553-4014}, url={http://dx.doi.org/10.1146/annurev.pathol.4.110807.092311},
          DOI={10.1146/annurev.pathol.4.110807.092311}, number={1}, journal={Annual
          Review of Pathology: Mechanisms of Disease}, publisher={Annual Reviews}, author={Chalhoub,
          Nader and Baker, Suzanne J.}, year={2009}, month=feb, pages={127\u2013150}
          }\n"
      headers:
        x-api-pool:
          - plus
        x-rate-limit-interval:
          - 1s
        x-rate-limit-limit:
          - "150"
      status:
        code: 200
        message: OK
version: 1
