interactions:
  - request:
      body: null
      headers: {}
      method: GET
      uri: https://api.semanticscholar.org/graph/v1/paper/DOI:10.1016/j.xgen.2025.100814?fields=authors,citationCount,citationStyles,externalIds,influentialCitationCount,isOpenAccess,journal,openAccessPdf,publicationDate,publicationTypes,title,url,venue,year
    response:
      body:
        string:
          '{"paperId": "7e5d4466c8b85f93775fe183e1a318a3e65ac8e4", "externalIds":
          {"PubMedCentral": "12008803", "DOI": "10.1016/j.xgen.2025.100814", "CorpusId":
          268890006, "PubMed": "40120586"}, "url": "https://www.semanticscholar.org/paper/7e5d4466c8b85f93775fe183e1a318a3e65ac8e4",
          "title": "High-throughput screening of human genetic variants by pooled prime
          editing", "venue": "bioRxiv", "year": 2024, "citationCount": 5, "influentialCitationCount":
          0, "isOpenAccess": true, "openAccessPdf": {"url": "https://doi.org/10.1016/j.xgen.2025.100814",
          "status": "GOLD", "license": "CCBY"}, "publicationTypes": ["JournalArticle"],
          "publicationDate": "2024-04-01", "journal": {"name": "Cell Genomics", "volume":
          "5"}, "citationStyles": {"bibtex": "@Article{Herger2024HighthroughputSO,\n
          author = {Michael Herger and Christina M. Kajba and Megan Buckley and Ana
          Cunha and Molly Strom and Gregory M. Findlay},\n booktitle = {bioRxiv},\n
          journal = {Cell Genomics},\n title = {High-throughput screening of human genetic
          variants by pooled prime editing},\n volume = {5},\n year = {2024}\n}\n"},
          "authors": [{"authorId": "2294884120", "name": "Michael Herger"}, {"authorId":
          "2163800172", "name": "Christina M. Kajba"}, {"authorId": "2120283350", "name":
          "Megan Buckley"}, {"authorId": "2294861709", "name": "Ana Cunha"}, {"authorId":
          "2294881320", "name": "Molly Strom"}, {"authorId": "145686550", "name": "Gregory
          M. Findlay"}]}

          '
      headers:
        Content-Type:
          - application/json
        x-amz-apigw-id:
          - PJrsWF5_PHcEJpQ=
        x-amzn-Remapped-Connection:
          - keep-alive
        x-amzn-Remapped-Content-Length:
          - "1411"
        x-amzn-Remapped-Date:
          - Mon, 11 Aug 2025 17:20:14 GMT
        x-amzn-Remapped-Server:
          - gunicorn
        x-amzn-RequestId:
          - 6961f7c9-83ac-4dec-8d61-9bc7badb7479
      status:
        code: 200
        message: OK
  - request:
      body: null
      headers: {}
      method: GET
      uri: https://api.unpaywall.org/v2/10.1016/j.xgen.2025.100814?email=example@papercrow.ai
    response:
      body:
        string:
          '{"doi":"10.1016/j.xgen.2025.100814","doi_url":"https://doi.org/10.1016/j.xgen.2025.100814","title":"High-throughput
          screening of human genetic variants by pooled prime editing","genre":"journal-article","is_paratext":false,"published_date":"2025-03-22","year":2025,"journal_name":"Cell
          Genomics","journal_issns":"2666-979X","journal_issn_l":"2666-979X","journal_is_oa":true,"journal_is_in_doaj":true,"publisher":"Elsevier
          BV","is_oa":true,"oa_status":"gold","has_repository_copy":true,"best_oa_location":{"url":"https://doi.org/10.1016/j.xgen.2025.100814","url_for_pdf":null,"url_for_landing_page":"https://doi.org/10.1016/j.xgen.2025.100814","evidence":"deprecated","license":"cc-by","version":"publishedVersion","host_type":"publisher","is_best":true,"pmh_id":null,"endpoint_id":null,"repository_institution":null,"oa_date":"2025-03-22","updated":"deprecated"},"first_oa_location":{"url":"https://doi.org/10.1016/j.xgen.2025.100814","url_for_pdf":null,"url_for_landing_page":"https://doi.org/10.1016/j.xgen.2025.100814","evidence":"deprecated","license":"cc-by","version":"publishedVersion","host_type":"publisher","is_best":true,"pmh_id":null,"endpoint_id":null,"repository_institution":null,"oa_date":"2025-03-22","updated":"deprecated"},"oa_locations":[{"url":"https://doi.org/10.1016/j.xgen.2025.100814","url_for_pdf":null,"url_for_landing_page":"https://doi.org/10.1016/j.xgen.2025.100814","evidence":"deprecated","license":"cc-by","version":"publishedVersion","host_type":"publisher","is_best":true,"pmh_id":null,"endpoint_id":null,"repository_institution":null,"oa_date":"2025-03-22","updated":"deprecated"},{"url":"https://www.ncbi.nlm.nih.gov/pmc/articles/12008803","url_for_pdf":null,"url_for_landing_page":"https://www.ncbi.nlm.nih.gov/pmc/articles/12008803","evidence":"deprecated","license":"other-oa","version":"submittedVersion","host_type":"repository","is_best":false,"pmh_id":"oai:pubmedcentral.nih.gov:12008803","endpoint_id":"daaf77eacc58eec31bb","repository_institution":"PubMed
          Central","oa_date":"2025-03-22","updated":"deprecated"}],"oa_locations_embargoed":[],"data_standard":2,"z_authors":[{"author_position":"first","raw_author_name":"Michael
          Herger","is_corresponding":true,"raw_affiliation_strings":["The Genome Function
          Laboratory, The Francis Crick Institute, London NW1 1AT, UK."]},{"author_position":"additional","raw_author_name":"Christina
          M. Kajba","is_corresponding":false,"raw_affiliation_strings":["The Genome
          Function Laboratory, The Francis Crick Institute, London NW1 1AT, UK."]},{"author_position":"additional","raw_author_name":"Megan
          Buckley","is_corresponding":false,"raw_affiliation_strings":["The Genome Function
          Laboratory, The Francis Crick Institute, London NW1 1AT, UK."]},{"author_position":"additional","raw_author_name":"Ana
          Cunha","is_corresponding":false,"raw_affiliation_strings":["Viral Vector Core,
          Human Biology Facility, The Francis Crick Institute, London NW1 1AT, UK."]},{"author_position":"additional","raw_author_name":"Molly
          Strom","is_corresponding":false,"raw_affiliation_strings":["Viral Vector Core,
          Human Biology Facility, The Francis Crick Institute, London NW1 1AT, UK."]},{"author_position":"last","raw_author_name":"Gregory
          M. Findlay","is_corresponding":false,"raw_affiliation_strings":["The Genome
          Function Laboratory, The Francis Crick Institute, London NW1 1AT, UK. Electronic
          address: greg.findlay@crick.ac.uk."]}],"updated":"2025-08-04T14:10:34Z"}

          '
      headers:
        Content-Type:
          - application/json
      status:
        code: 200
        message: OK
  - request:
      body: null
      headers: {}
      method: GET
      uri: https://api.openalex.org/works/https://doi.org/10.1016%2Fj.xgen.2025.100814
    response:
      body:
        string:
          '{"id":"https://openalex.org/W4408732759","doi":"https://doi.org/10.1016/j.xgen.2025.100814","title":"High-throughput
          screening of human genetic variants by pooled prime editing","display_name":"High-throughput
          screening of human genetic variants by pooled prime editing","publication_year":2025,"publication_date":"2025-03-01","ids":{"openalex":"https://openalex.org/W4408732759","doi":"https://doi.org/10.1016/j.xgen.2025.100814","pmid":"https://pubmed.ncbi.nlm.nih.gov/40120586"},"language":"en","primary_location":{"is_oa":true,"landing_page_url":"https://doi.org/10.1016/j.xgen.2025.100814","pdf_url":null,"source":{"id":"https://openalex.org/S4210194377","display_name":"Cell
          Genomics","issn_l":"2666-979X","issn":["2666-979X"],"is_oa":true,"is_in_doaj":true,"is_indexed_in_scopus":true,"is_core":true,"host_organization":"https://openalex.org/P4310320990","host_organization_name":"Elsevier
          BV","host_organization_lineage":["https://openalex.org/P4310320990"],"host_organization_lineage_names":["Elsevier
          BV"],"type":"journal"},"license":"cc-by","license_id":"https://openalex.org/licenses/cc-by","version":"publishedVersion","is_accepted":true,"is_published":true},"type":"article","type_crossref":"journal-article","indexed_in":["crossref","pubmed"],"open_access":{"is_oa":true,"oa_status":"gold","oa_url":"https://doi.org/10.1016/j.xgen.2025.100814","any_repository_has_fulltext":false},"authorships":[{"author_position":"first","author":{"id":"https://openalex.org/A5067011895","display_name":"Michael
          Herger","orcid":"https://orcid.org/0000-0002-5390-2695"},"institutions":[{"id":"https://openalex.org/I2801081054","display_name":"The
          Francis Crick Institute","ror":"https://ror.org/04tnbqb63","country_code":"GB","type":"funder","lineage":["https://openalex.org/I2801081054"]}],"countries":["GB"],"is_corresponding":false,"raw_author_name":"Michael
          Herger","raw_affiliation_strings":["The Genome Function Laboratory, The Francis
          Crick Institute, London NW1 1AT, UK."],"affiliations":[{"raw_affiliation_string":"The
          Genome Function Laboratory, The Francis Crick Institute, London NW1 1AT, UK.","institution_ids":["https://openalex.org/I2801081054"]}]},{"author_position":"middle","author":{"id":"https://openalex.org/A5003387836","display_name":"Christina
          M. Kajba","orcid":"https://orcid.org/0000-0002-7896-0744"},"institutions":[{"id":"https://openalex.org/I2801081054","display_name":"The
          Francis Crick Institute","ror":"https://ror.org/04tnbqb63","country_code":"GB","type":"funder","lineage":["https://openalex.org/I2801081054"]}],"countries":["GB"],"is_corresponding":false,"raw_author_[...]
  - request:
      body: null
      headers: {}
      method: GET
      uri: https://api.crossref.org/works/10.1016%2Fj.xgen.2025.100814?mailto=example@papercrow.ai
    response:
      body:
        string:
          '{"status":"ok","message-type":"work","message-version":"1.0.0","message":{"indexed":{"date-parts":[[2025,8,7]],"date-time":"2025-08-07T16:10:01Z","timestamp":1754583001165,"version":"3.41.3"},"reference-count":60,"publisher":"Elsevier
          BV","issue":"4","license":[{"start":{"date-parts":[[2025,4,1]],"date-time":"2025-04-01T00:00:00Z","timestamp":1743465600000},"content-version":"tdm","delay-in-days":0,"URL":"https:\/\/www.elsevier.com\/tdm\/userlicense\/1.0\/"},{"start":{"date-parts":[[2025,4,1]],"date-time":"2025-04-01T00:00:00Z","timestamp":1743465600000},"content-version":"tdm","delay-in-days":0,"URL":"https:\/\/www.elsevier.com\/legal\/tdmrep-license"},{"start":{"date-parts":[[2025,2,20]],"date-time":"2025-02-20T00:00:00Z","timestamp":1740009600000},"content-version":"vor","delay-in-days":0,"URL":"http:\/\/creativecommons.org\/licenses\/by\/4.0\/"}],"funder":[{"DOI":"10.13039\/501100000289","name":"Cancer
          Research UK","doi-asserted-by":"publisher","award":["CC2190"],"id":[{"id":"10.13039\/501100000289","id-type":"DOI","asserted-by":"publisher"}]},{"DOI":"10.13039\/100010438","name":"The
          Francis Crick Institute","doi-asserted-by":"publisher","id":[{"id":"10.13039\/100010438","id-type":"DOI","asserted-by":"publisher"}]},{"DOI":"10.13039\/100010269","name":"Wellcome
          Trust","doi-asserted-by":"publisher","id":[{"id":"10.13039\/100010269","id-type":"DOI","asserted-by":"publisher"}]},{"DOI":"10.13039\/501100000265","name":"Medical
          Research Council","doi-asserted-by":"publisher","id":[{"id":"10.13039\/501100000265","id-type":"DOI","asserted-by":"publisher"}]}],"content-domain":{"domain":["cell.com","elsevier.com","sciencedirect.com"],"crossmark-restriction":true},"short-container-title":["Cell
          Genomics"],"published-print":{"date-parts":[[2025,4]]},"DOI":"10.1016\/j.xgen.2025.100814","type":"journal-article","created":{"date-parts":[[2025,3,22]],"date-time":"2025-03-22T09:21:41Z","timestamp":1742635301000},"page":"100814","update-policy":"https:\/\/doi.org\/10.1016\/elsevier_cm_policy","source":"Crossref","is-referenced-by-count":2,"title":["High-throughput
          screening of human genetic variants by pooled prime editing"],"prefix":"10.1016","volume":"5","author":[{"given":"Michael","family":"Herger","sequence":"first","affiliation":[]},{"given":"Christina
          M.","family":"Kajba","sequence":"additional","affiliation":[]},{"given":"Megan","family":"Buckley","sequence":"additional","affiliation":[]},{"given":"Ana","family":"Cunha","sequence":"additional","affiliation":[]},{"given":"Molly","family":"Strom","sequence":"additional","affiliation":[]},{"ORCID":"https:\/\/orcid.org\/0000-0002-7767-8608","authenticated-orcid":false,"given":"Gregory
          M.","family":"Findlay","sequence":"additional","affiliation":[]}],"member":"78","reference":[{"key":"10.1016\/j.xgen.2025.100814_bib1","doi-asserted-by":"crossref","first-page":"405","DOI":"10.1038\/gim.2015.30","article-title":"Standards
          and guidelines for the interpretation of sequence variants: a joint consensus
          recommendation of the American College of Medical Genetics and Genomics and
          the Association for Molecular Pathology","volume":"17","author":"Richards","year":"2015","journal-title":"Genet.
          Med."},{"key":"10.1016\/j.xgen.2025.100814_bib2","doi-asserted-by":"crossref","first-page":"116","DOI":"10.1016\/j.cels.2017.11.003","article-title":"Quantitative
          Missense Variant Effect Prediction Using Large-Scale Mutagenesis Data","volume":"6","author":"Gray","year":"2018","journal-title":"Cell
          Syst."},{"key":"10.1016\/j.xgen.2025.100814_bib3","doi-asserted-by":"crossref","first-page":"1464","DOI":"10.1126\/science.abi8207","article-title":"From
         [...]
  - request:
      body: null
      headers: {}
      method: GET
      uri: https://api.crossref.org/works/10.1016%2Fj.xgen.2025.100814/transform/application/x-bibtex
    response:
      body:
        string:
          " @article{Herger_2025, title={High-throughput screening of human genetic
          variants by pooled prime editing}, volume={5}, ISSN={2666-979X}, url={http://dx.doi.org/10.1016/j.xgen.2025.100814},
          DOI={10.1016/j.xgen.2025.100814}, number={4}, journal={Cell Genomics}, publisher={Elsevier
          BV}, author={Herger, Michael and Kajba, Christina M. and Buckley, Megan and
          Cunha, Ana and Strom, Molly and Findlay, Gregory M.}, year={2025}, month=apr,
          pages={100814} }

          "
      headers:
        x-api-pool:
          - plus
        x-rate-limit-interval:
          - 1s
        x-rate-limit-limit:
          - "150"
      status:
        code: 200
        message: OK
version: 1
