interactions:
  - request:
      body: null
      headers: {}
      method: GET
      uri: https://api.crossref.org/works/10.1038%2Fs41598-018-27044-6?mailto=example@papercrow.ai
    response:
      body:
        string:
          '{"status":"ok","message-type":"work","message-version":"1.0.0","message":{"indexed":{"date-parts":[[2025,7,2]],"date-time":"2025-07-02T10:26:15Z","timestamp":1751451975110,"version":"3.37.3"},"reference-count":64,"publisher":"Springer
          Science and Business Media LLC","issue":"1","license":[{"start":{"date-parts":[[2018,10,19]],"date-time":"2018-10-19T00:00:00Z","timestamp":1539907200000},"content-version":"tdm","delay-in-days":0,"URL":"https:\/\/creativecommons.org\/licenses\/by\/4.0"},{"start":{"date-parts":[[2018,10,19]],"date-time":"2018-10-19T00:00:00Z","timestamp":1539907200000},"content-version":"vor","delay-in-days":0,"URL":"https:\/\/creativecommons.org\/licenses\/by\/4.0"}],"content-domain":{"domain":["link.springer.com"],"crossmark-restriction":false},"short-container-title":["Sci
          Rep"],"abstract":"<jats:title>Abstract<\/jats:title><jats:p>Phosphoinositide
          3-kinase alpha (PI3K\u03b1) is involved in fundamental cellular processes
          including cell proliferation and differentiation and is frequently mutated
          in human malignancies. One of the most common mutations is E545K, which results
          in an amino acid substitution of opposite charge. It has been recently proposed
          that in this oncogenic charge-reversal mutation, the interactions between
          the protein catalytic and regulatory sub[...]
  - request:
      body: null
      headers: {}
      method: GET
      uri: https://api.crossref.org/works/10.1038%2Fs41598-018-27044-6/transform/application/x-bibtex
    response:
      body:
        string:
          " @article{Leontiadou_2018, title={Insights into the mechanism of the
          PIK3CA E545K activating mutation using MD simulations}, volume={8}, ISSN={2045-2322},
          url={http://dx.doi.org/10.1038/s41598-018-27044-6}, DOI={10.1038/s41598-018-27044-6},
          number={1}, journal={Scientific Reports}, publisher={Springer Science and
          Business Media LLC}, author={Leontiadou, Hari and Galdadas, Ioannis and Athanasiou,
          Christina and Cournia, Zoe}, year={2018}, month=oct }

          "
      headers:
        x-api-pool:
          - plus
        x-rate-limit-interval:
          - 1s
        x-rate-limit-limit:
          - "150"
      status:
        code: 200
        message: OK
version: 1
