interactions:
  - request:
      body: null
      headers: {}
      method: GET
      uri: https://api.openalex.org/works?filter=title.search:Effect+of+native+oxide+layers+on+copper+thin-film+tensile+properties:+A+reactive+molecular+dynamics+study
    response:
      body:
        string:
          '{"meta":{"count":1,"db_response_time_ms":272,"page":1,"per_page":25,"groups_count":null},"results":[{"id":"https://openalex.org/W2277923667","doi":"https://doi.org/10.1063/1.4938384","title":"Effect
          of native oxide layers on copper thin-film tensile properties: A reactive
          molecular dynamics study","display_name":"Effect of native oxide layers on
          copper thin-film tensile properties: A reactive molecular dynamics study","relevance_score":762.2231,"publication_year":2015,"publication_date":"2015-12-21","ids":{"openalex":"https://openalex.org/W2277923667","doi":"https://doi.org/10.1063/1.4938384","mag":"2277923667"},"language":"en","primary_location":{"is_oa":false,"landing_page_url":"https://doi.org/10.1063/1.4938384","pdf_url":null,"source":{"id":"https://openalex.org/S187991544","display_name":"Journal
          of Applied Physics","issn_l":"0021-8979","issn":["0021-8979","1089-7550","1520-8850"],"is_oa":false,"is_in_doaj":false,"is_core":true,"host_organization":"https://openalex.org/P4310320257","host_organization_name":"American
          Institute of Physics","host_organization_lineage":["https://openalex.org/P4310320257"],"host_organization_lineage_names":["American
          Institute of Physics"],"type":"journal"},"license":null,"license_id":null,"version":null,"is_accepted":false,"is_published":false},"type":"article","type_crossref":"journal-article","indexed_in":["crossref"],"open_access":{"is_oa":false,"oa_status":"closed","oa_url":null,"any_repository_has_fulltext":false},"authorships":[{"author_position":"first","author":{"id":"https://openalex.org/A5015270557","display_name":"Michael
          Skarlinski","orcid":null},"institutions":[{"id":"https://openalex.org/I5388228","display_name":"University
          of Rochester","ror":"https://ror.org/022kthw22","country_code":"US","type":"education","lineage":["https://openalex.org/I5388228"]}],"countries":["US"],"is_corresponding":false,"raw_author_name":"Michael
          D. Skarlinski","raw_affiliation_strings":["University of Rochester 1 Materials
          Science Program, , Rochester, New York 14627, USA"],"affiliations":[{"raw_affiliation_string":"University
          of Rochester 1 Materials Science Program, , Rochester, New York 14627, USA","institution_ids":["https://openalex.org/I5388228"]}]},{"author_position":"last","author":{"id":"https://openalex.org/A5113709379","display_name":"David
          J. Quesnel","orcid":null},"institutions":[{"id":"https://openalex.org/I5388228","display_name":"University
          of Rochester","ror":"https://ror.org/022kthw22","country_code":"US","type":"education","lineage":["https://openalex.org/I5388228"]}],"countries":["US"],"is_corresponding":false,"raw_author_name":"David
          J. Quesnel","raw_affiliation_strings":["University of Rochester 1 Materials
          Science Program, , Rochester, New York 14627, USA","University of Rochester
          2 Department of Mechanical Engineering, , Rochester, New York 14627, USA"],"affiliations":[{"raw_affiliation_string":"University
          of Rochester 2 Department of Mechanical Engineering, , Rochester, New York
          14627, USA","institution_ids":["https://openalex.org/I5388228"]},{"raw_affiliation_string":"University
          of Rochester 1 Materials Science Program, , Rochester, New York 14627, USA","institution_ids":["https://openalex.org/I5388228"]}]}],"institution_assertions":[],"countries_distinct_count":1,"institutions_distinct_count":1,"corresponding_author_ids":[],"corresponding_institution_ids":[],"apc_list":{"value":3500,"currency":"USD","value_usd":3500,"provenance":"doaj"},"apc_paid":null,"fwci":0.379,"has_fulltext":true,"fulltext_origin":"ngrams","cited_by_count":8,"citation_normalized_percentile":{"value":0.657628,"is_in_top_1_percent":false,"is_in_top_10_percent":false},"cited_by_percentile_year":{"min":84,"max":85},"biblio":{"volume":"118","issue":"23","first_page":null,"last_page":null},"is_retracted":false,"is_paratext":false,"primary_topic":{"id":"https://openalex.org/T11661","display_name":"Low
          Dielectric Constant Materials for Microelectronics","score":0.9985,"subfield":{"id":"https://openalex.org/subfields/2504","display_name":"Electronic,
          Optical and Magnetic Materials"},"field":{"id":"https://openalex.org/fields/25","display_name":"Materials
          Science"},"domain":{"id":"https://openalex.org/domains/3","display_name":"Physical
          Sciences"}},"topics":[{"id":"https://openalex.org/T11661","display_name":"Low
          Dielectric Constant Materials for Microelectronics","score":0.9985,"subfield":{"id":"https://openalex.org/subfields/2504","display_name":"Electronic,
          Optical and Magnetic Materials"},"field":{"id":"https://openalex.org/fields/25","display_name":"Materials
          Science"},"domain":{"id":"https://openalex.org/domains/3","display_name":"Physical
          Sciences"}},{"id":"https://openalex.org/T10204","display_name":"Nanomaterials
          and Mechanical Properties","score":0.9981,"subfield":{"id":"https://openalex.org/subfields/2505","display_name":"Materials
          Chemistry"},"field":{"id":"https://openalex.org/fields/25","display_name":"Materials
          Science"},"domain":{"id":"https://openalex.org/domains/3","display_name":"Physical
          Sciences"}},{"id":"https://openalex.org/T10717","display_name":"Metal Matrix
          Composites: Science and Applications","score":0.9976,"subfield":{"id":"https://openalex.org/subfields/2210","display_name":"Mechanical
          Engineering"},"field":{"id":"https://openalex.org/fields/22","display_name":"Engineering"},"domain":{"id":"https://openalex.org/domains/3","display_name":"Physical
          Sciences"}}],"keywords":[{"id":"https://openalex.org/keywords/metal-processing","display_name":"Metal
          Processing","score":0.506838},{"id":"https://openalex.org/keywords/mechanical-properties","display_name":"Mechanical
          Properties","score":0.50352},{"id":"https://openalex.org/keywords/copper-oxide","display_name":"Copper
          oxide","score":0.48201525},{"id":"https://openalex.org/keywords/brittleness","display_name":"Brittleness","score":0.4519687}],"concepts":[{"id":"https://openalex.org/C192562407","wikidata":"https://www.wikidata.org/wiki/Q228736","display_name":"Materials
          science","level":0,"score":0.8812834},{"id":"https://openalex.org/C2779851234","wikidata":"https://www.wikidata.org/wiki/Q50690","display_name":"Oxide","level":2,"score":0.7741982},{"id":"https://openalex.org/C159985019","wikidata":"https://www.wikidata.org/wiki/Q181790","display_name":"Composite
          material","level":1,"score":0.6066828},{"id":"https://openalex.org/C61048295","wikidata":"https://www.wikidata.org/wiki/Q909022","display_name":"Nucleation","level":2,"score":0.6024141},{"id":"https://openalex[...]
  - request:
      body: null
      headers: {}
      method: GET
      uri: https://api.unpaywall.org/v2/search?query=Effect%20of%20native%20oxide%20layers%20on%20copper%20thin-film%20tensile%20properties:%20A%20reactive%20molecular%20dynamics%20study&email=example@papercrow.ai
    response:
      body:
        string:
          '{"elapsed_seconds":0.365,"results":[{"response":{"best_oa_location":null,"data_standard":2,"doi":"10.1063/1.4938384","doi_url":"https://doi.org/10.1063/1.4938384","first_oa_location":null,"genre":"journal-article","has_repository_copy":false,"is_oa":false,"is_paratext":false,"journal_is_in_doaj":false,"journal_is_oa":false,"journal_issn_l":"0021-8979","journal_issns":"0021-8979,1089-7550","journal_name":"Journal
          of Applied Physics","oa_locations":[],"oa_locations_embargoed":[],"oa_status":"closed","published_date":"2015-12-21","publisher":"AIP
          Publishing","title":"Effect of native oxide layers on copper thin-film tensile
          properties: A reactive molecular dynamics study","updated":"2023-07-31T05:28:57.007821","year":2015,"z_authors":[{"affiliation":[{"name":"University
          of Rochester 1 Materials Science Program, , Rochester, New York 14627, USA"}],"family":"Skarlinski","given":"Michael
          D.","sequence":"first"},{"affiliation":[{"name":"University of Rochester 1
          Materials Science Program, , Rochester, New York 14627, USA"},{"name":"University
          of Rochester 2 Department of Mechanical Engineering, , Rochester, New York
          14627, USA"}],"family":"Quesnel","given":"David J.","sequence":"additional"}]},"score":0.009231734,"snippet":"<b>Effect</b>
          of <b>native</b> <b>oxide</b> <b>layers</b> on <b>copper</b> <b>thin</b>-<b>film</b>
          <b>tensile</b> <b>properties</b>: A <b>reactive</b> <b>molecular</b> <b>dynamics</b>
          <b>study</b>"}]}

          '
      headers:
        Content-Type:
          - application/json
      status:
        code: 200
        message: OK
  - request:
      body: null
      headers: {}
      method: GET
      uri: https://api.semanticscholar.org/graph/v1/paper/search/match?query=Effect+of+native+oxide+layers+on+copper+thin-film+tensile+properties:+A+reactive+molecular+dynamics+study&fields=authors,citationCount,citationStyles,externalIds,influentialCitationCount,isOpenAccess,journal,openAccessPdf,publicationDate,publicationTypes,title,url,venue,year
    response:
      body:
        string:
          '{"data": [{"paperId": "4187800ac995ae172c88b83f8c2c4da990d02934", "externalIds":
          {"MAG": "2277923667", "DOI": "10.1063/1.4938384", "CorpusId": 124514389},
          "url": "https://www.semanticscholar.org/paper/4187800ac995ae172c88b83f8c2c4da990d02934",
          "title": "Effect of native oxide layers on copper thin-film tensile properties:
          A reactive molecular dynamics study", "venue": "", "year": 2015, "citationCount":
          8, "influentialCitationCount": 0, "isOpenAccess": false, "openAccessPdf":
          null, "publicationTypes": null, "publicationDate": "2015-12-21", "journal":
          {"name": "Journal of Applied Physics", "pages": "235306", "volume": "118"},
          "citationStyles": {"bibtex": "@Article{Skarlinski2015EffectON,\n author =
          {Michael Skarlinski and D. Quesnel},\n journal = {Journal of Applied Physics},\n
          pages = {235306},\n title = {Effect of native oxide layers on copper thin-film
          tensile properties: A reactive molecular dynamics study},\n volume = {118},\n
          year = {2015}\n}\n"}, "authors": [{"authorId": "9821934", "name": "Michael
          Skarlinski"}, {"authorId": "37723150", "name": "D. Quesnel"}], "matchScore":
          283.47464}]}

          '
      headers:
        Content-Type:
          - application/json
        x-amz-apigw-id:
          - CLbZoFaUvHcEhcQ=
        x-amzn-Remapped-Connection:
          - keep-alive
        x-amzn-Remapped-Content-Length:
          - "1109"
        x-amzn-Remapped-Date:
          - Mon, 02 Dec 2024 19:36:30 GMT
        x-amzn-Remapped-Server:
          - gunicorn
        x-amzn-RequestId:
          - 2c2e09cc-9716-4a51-9e02-6541f0d4c466
      status:
        code: 200
        message: OK
  - request:
      body: null
      headers: {}
      method: GET
      uri: https://api.crossref.org/works?mailto=example@papercrow.ai&query.title=Effect+of+native+oxide+layers+on+copper+thin-film+tensile+properties:+A+reactive+molecular+dynamics+study&rows=1
    response:
      body:
        string:
          '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"total-results":12022430,"items":[{"indexed":{"date-parts":[[2023,9,29]],"date-time":"2023-09-29T22:47:50Z","timestamp":1696027670718},"reference-count":57,"publisher":"AIP
          Publishing","issue":"23","funder":[{"DOI":"10.13039\/100000006","name":"Office
          of Naval Research","doi-asserted-by":"publisher","award":["N00014-12-1-0542"],"id":[{"id":"10.13039\/100000006","id-type":"DOI","asserted-by":"publisher"}]}],"content-domain":{"domain":["pubs.aip.org"],"crossmark-restriction":true},"published-print":{"date-parts":[[2015,12,21]]},"abstract":"<jats:p>Metal-oxide
          layers are likely to be present on metallic nano-structures due to either
          environmental exposure during use, or high temperature processing techniques
          such as annealing. It is well known that nano-structured metals have vastly
          different mechanical properties from bulk metals; however, difficulties in
          modeling the transition between metallic and ionic bonding have prevented
          the computational investigation of the effects of ox[...]
  - request:
      body: null
      headers: {}
      method: GET
      uri: https://api.crossref.org/works/10.1063%2F1.4938384/transform/application/x-bibtex
    response:
      body:
        string:
          " @article{Skarlinski_2015, title={Effect of native oxide layers on
          copper thin-film tensile properties: A reactive molecular dynamics study},
          volume={118}, ISSN={1089-7550}, url={http://dx.doi.org/10.1063/1.4938384},
          DOI={10.1063/1.4938384}, number={23}, journal={Journal of Applied Physics},
          publisher={AIP Publishing}, author={Skarlinski, Michael D. and Quesnel, David
          J.}, year={2015}, month=dec }

          "
      headers:
        x-api-pool:
          - plus
        x-rate-limit-interval:
          - 1s
        x-rate-limit-limit:
          - "150"
        x-ratelimit-interval:
          - 1s
        x-ratelimit-limit:
          - "150"
      status:
        code: 200
        message: OK
version: 1
