interactions:
  - request:
      body: null
      headers: {}
      method: GET
      uri: https://api.semanticscholar.org/graph/v1/paper/DOI:10.1007/s40278-023-41815-2?fields=authors,citationCount,citationStyles,externalIds,influentialCitationCount,isOpenAccess,journal,openAccessPdf,publicationDate,publicationTypes,title,url,venue,year
    response:
      body:
        string:
          '{"paperId": "e0d2719e49ad216f98ed640864cdacd1c20f53e6", "externalIds":
          {"DOI": "10.1007/s40278-023-41815-2", "CorpusId": 259225376}, "url": "https://www.semanticscholar.org/paper/e0d2719e49ad216f98ed640864cdacd1c20f53e6",
          "title": "Convalescent-anti-sars-cov-2-plasma/immune-globulin", "venue": "Reactions
          weekly", "year": 2023, "citationCount": 0, "influentialCitationCount": 0,
          "isOpenAccess": false, "openAccessPdf": null, "publicationTypes": ["JournalArticle"],
          "publicationDate": "2023-06-01", "journal": {"name": "Reactions Weekly", "pages":
          "145 - 145", "volume": "1962"}, "citationStyles": {"bibtex": "@Article{None,\n
          booktitle = {Reactions weekly},\n journal = {Reactions Weekly},\n pages =
          {145 - 145},\n title = {Convalescent-anti-sars-cov-2-plasma/immune-globulin},\n
          volume = {1962},\n year = {2023}\n}\n"}, "authors": []}

          '
      headers:
        Content-Type:
          - application/json
        x-amz-apigw-id:
          - CLbaKEedPHcEdsg=
        x-amzn-Remapped-Connection:
          - keep-alive
        x-amzn-Remapped-Content-Length:
          - "837"
        x-amzn-Remapped-Date:
          - Mon, 02 Dec 2024 19:36:32 GMT
        x-amzn-Remapped-Server:
          - gunicorn
        x-amzn-RequestId:
          - 2c66b7de-afe9-4aa5-9d00-a9e4e429292b
      status:
        code: 200
        message: OK
  - request:
      body: null
      headers: {}
      method: GET
      uri: https://api.openalex.org/works/https://doi.org/10.1007%2Fs40278-023-41815-2
    response:
      body:
        string:
          '{"id":"https://openalex.org/W4381738344","doi":"https://doi.org/10.1007/s40278-023-41815-2","title":"Convalescent-anti-sars-cov-2-plasma/immune-globulin","display_name":"Convalescent-anti-sars-cov-2-plasma/immune-globulin","publication_year":2023,"publication_date":"2023-06-23","ids":{"openalex":"https://openalex.org/W4381738344","doi":"https://doi.org/10.1007/s40278-023-41815-2"},"language":"en","primary_location":{"is_oa":false,"landing_page_url":"https://doi.org/10.1007/s40278-023-41815-2","pdf_url":null,"source":{"id":"https://openalex.org/S14436165","display_name":"Reactions
          Weekly","issn_l":"0114-9954","issn":["0114-9954","1179-2051"],"is_oa":false,"is_in_doaj":false,"is_core":true,"host_organization":"https://openalex.org/P4310320330","host_organization_name":"Adis,
          Springer Healthcare","host_organization_lineage":["https://openalex.org/P4310319965","https://openalex.org/P4310320330"],"host_organization_lineage_names":["Springer
          Nature","Adis, Springer Healthcare"],"type":"journal"},"license":null,"license_id":null,"version":null,"is_accepted":false,"is_published":false},"type":"article","type_crossref":"journal-article","indexed_in":["crossref"],"open_access":{"is_oa":false,"oa_status":"closed","oa_url":null,"any_repository_has_fulltext":false},"authorships":[],"institution_assertions":[],"countries_distinct_count":0,"institutions_distinct_count":0,"corresponding_author_ids":[],"corresponding_institution_ids":[],"apc_list":null,"apc_paid":null,"fwci":0.0,"has_fulltext":false,"cited_by_count":0,"citation_normalized_percentile":{"value":0.0,"is_in_top_1_percent":false,"is_in_top_10_percent":false},"cited_by_percentile_year":{"min":0,"max":69},"biblio":{"volume":"1962","issue":"1","first_page":"145","last_page":"145"},"is_retracted":false,"is_paratext":false,"primary_topic":{"id":"https://openalex.org/T12796","display_name":"Cutaneous
          Manifestations of COVID-19: A Comprehensive Review","score":0.9358,"subfield":{"id":"https://openalex.org/subfields/2708","display_name":"Dermatology"},"field":{"id":"https://openalex.org/fields/27","display_name":"Medicine"},"domain":{"id":"https://openalex.org/domains/4","display_name":"Health
          Sciences"}},"topics":[{"id":"https://openalex.org/T12796","display_name":"Cutaneous
          Manifestations of COVID-19: A Comprehensive Review","score":0.9358,"subfield":{"id":"https://openalex.org/subfields/2708","display_name":"Dermatology"},"field":{"id":"https://openalex.org/fields/27","display_name":"Medicine"},"domain":{"id":"https://openalex.org/domains/4","display_name":"Health
          Sciences"}}],"keywords":[{"id":"https://openalex.org/keywords/convalescent-plasma","display_name":"Convalescent
          plasma","score":0.9101845},{"id":"https://openalex.org/keywords/2019-20-coronavirus-outbreak","display_name":"2019-20
          coronavirus outbreak","score":0.52068794},{"id":"https://openalex.org/keywords/cutaneous-signs","display_name":"Cutaneous
          Signs","score":0.434629}],"concepts":[{"id":"https://openalex.org/C3018027319","wikidata":"https://www.wikidata.org/wiki/Q420496","display_name":"Convalescent
          plasma","level":5,"score":0.9101845},{"id":"https://openalex.org/C3007834351","wikidata":"https://www.wikidata.org/wiki/Q82069695","display_name":"Severe
          acute respiratory syndrome coronavirus 2 (SARS-CoV-2)","level":5,"score":0.6916741},{"id":"https://openalex.org/C3008058167","wikidata":"https://www.wikidata.org/wiki/Q84263196","display_name":"Coronavirus
          disease 2019 (COVID-19)","level":4,"score":0.660023},{"id":"https://openalex.org/C159047783","wikidata":"https://www.wikidata.org/wiki/Q[...]
  - request:
      body: null
      headers: {}
      method: GET
      uri: https://api.crossref.org/works/10.1007%2Fs40278-023-41815-2?mailto=example@papercrow.ai
    response:
      body:
        string:
          '{"status":"ok","message-type":"work","message-version":"1.0.0","message":{"indexed":{"date-parts":[[2023,6,24]],"date-time":"2023-06-24T04:17:17Z","timestamp":1687580237047},"reference-count":1,"publisher":"Springer
          Science and Business Media LLC","issue":"1","license":[{"start":{"date-parts":[[2023,6,24]],"date-time":"2023-06-24T00:00:00Z","timestamp":1687564800000},"content-version":"tdm","delay-in-days":0,"URL":"https:\/\/www.springernature.com\/gp\/researchers\/text-and-data-mining"},{"start":{"date-parts":[[2023,6,24]],"date-time":"2023-06-24T00:00:00Z","timestamp":1687564800000},"content-version":"vor","delay-in-days":0,"URL":"https:\/\/www.springernature.com\/gp\/researchers\/text-and-data-mining"}],"content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":["Reactions
          Weekly"],"DOI":"10.1007\/s40278-023-41815-2","type":"journal-article","created":{"date-parts":[[2023,6,23]],"date-time":"2023-06-23T18:42:29Z","timestamp":1687545749000},"page":"145-145","source":"Crossref","is-referenced-by-count":0,"title":["Convalescent-anti-sars-cov-2-plasma\/immune-globulin"],"prefix":"10.1007","volume":"1962","member":"297","published-online":{"date-parts":[[2023,6,24]]},"reference":[{"key":"41815_CR1","doi-asserted-by":"crossref","unstructured":"Delgado-Fernandez
          M, et al. Treatment of COVID-19 with convalescent plasma in patients with
          humoral immunodeficiency - Three consecutive cases and review of the literature.
          Enfermedades Infecciosas Y Microbiologia Clinica 40\n: 507-516, No. 9, Nov
          2022. Available from: URL: \nhttps:\/\/seimc.org\/","DOI":"10.1016\/j.eimce.2021.01.009"}],"container-title":["Reactions
          Weekly"],"original-title":[],"language":"en","link":[{"URL":"https:\/\/link.springer.com\/content\/pdf\/10.1007\/s40278-023-41815-2.pdf","content-type":"application\/pdf","content-version":"vor","intended-application":"text-mining"},{"URL":"https:\/\/link.springer.com\/article\/10.1007\/s40278-023-41815-2\/fulltext.html","content-type":"text\/html","content-version":"vor","intended-application":"text-mining"},{"URL":"https:\/\/link.springer.com\/content\/pdf\/10.1007\/s40278-023-41815-2.pdf","content-type":"application\/pdf","content-version":"vor","intended-application":"similarity-checking"}],"deposited":{"date-parts":[[2023,6,23]],"date-time":"2023-06-23T19:23:18Z","timestamp":1687548198000},"score":1,"resource":{"primary":{"URL":"https:\/\/link.springer.com\/10.1007\/s40278-023-41815-2"}},"subtitle":["Fever
          and mild decrease in baseline oxygen saturation following off-label use: 3
          case reports"],"short-title":[],"issued":{"date-parts":[[2023,6,24]]},"references-count":1,"journal-issue":{"issue":"1","published-online":{"date-parts":[[2023,6]]}},"alternative-id":["41815"],"URL":"http:\/\/dx.doi.org\/10.1007\/s40278-023-41815-2","relation":{},"ISSN":["1179-2051"],"issn-type":[{"value":"1179-2051","type":"electronic"}],"subject":[],"published":{"date-parts":[[2023,6,24]]}}}'
      headers:
        Content-Type:
          - application/json
        x-api-pool:
          - plus
        x-rate-limit-interval:
          - 1s
        x-rate-limit-limit:
          - "150"
        x-ratelimit-interval:
          - 1s
        x-ratelimit-limit:
          - "150"
      status:
        code: 200
        message: OK
  - request:
      body: null
      headers: {}
      method: GET
      uri: https://api.unpaywall.org/v2/10.1007/s40278-023-41815-2?email=example@papercrow.ai
    response:
      body:
        string:
          '{"doi": "10.1007/s40278-023-41815-2", "doi_url": "https://doi.org/10.1007/s40278-023-41815-2",
          "title": "Convalescent-anti-sars-cov-2-plasma/immune-globulin", "genre": "journal-article",
          "is_paratext": false, "published_date": "2023-06-24", "year": 2023, "journal_name":
          "Reactions Weekly", "journal_issns": "1179-2051", "journal_issn_l": "0114-9954",
          "journal_is_oa": false, "journal_is_in_doaj": false, "publisher": "Springer
          Science and Business Media LLC", "is_oa": false, "oa_status": "closed", "has_repository_copy":
          false, "best_oa_location": null, "first_oa_location": null, "oa_locations":
          [], "oa_locations_embargoed": [], "updated": "2023-06-24T05:46:22.445497",
          "data_standard": 2, "z_authors": null}'
      headers:
        Content-Type:
          - application/json
      status:
        code: 200
        message: OK
  - request:
      body: null
      headers: {}
      method: GET
      uri: https://api.crossref.org/works/10.1007%2Fs40278-023-41815-2/transform/application/x-bibtex
    response:
      body:
        string:
          " @article{2023, volume={1962}, ISSN={1179-2051}, url={http://dx.doi.org/10.1007/s40278-023-41815-2},
          DOI={10.1007/s40278-023-41815-2}, number={1}, journal={Reactions Weekly},
          publisher={Springer Science and Business Media LLC}, year={2023}, month=jun,
          pages={145\u2013145} }\n"
      headers:
        x-api-pool:
          - plus
        x-rate-limit-interval:
          - 1s
        x-rate-limit-limit:
          - "150"
        x-ratelimit-interval:
          - 1s
        x-ratelimit-limit:
          - "150"
      status:
        code: 200
        message: OK
version: 1
