interactions:
  - request:
      body: null
      headers: {}
      method: GET
      uri: https://api.semanticscholar.org/graph/v1/paper/DOI:10.1023/a:1007154515475?fields=authors,citationCount,citationStyles,externalIds,influentialCitationCount,isOpenAccess,journal,openAccessPdf,publicationDate,publicationTypes,title,url,venue,year
    response:
      body:
        string:
          '{"paperId": "19807da5b11f3e641535cb72e465001b49b48ee5", "externalIds":
          {"MAG": "1554322594", "DOI": "10.1023/A:1007154515475", "CorpusId": 22646521,
          "PubMed": "11330823"}, "url": "https://www.semanticscholar.org/paper/19807da5b11f3e641535cb72e465001b49b48ee5",
          "title": "An essential role of active site arginine residue in iodide binding
          and histidine residue in electron transfer for iodide oxidation by horseradish
          peroxidase", "venue": "Molecular and Cellular Biochemistry", "year": 2001,
          "citationCount": 7, "influentialCitationCount": 0, "isOpenAccess": false,
          "openAccessPdf": null, "publicationTypes": ["JournalArticle", "Study"], "publicationDate":
          "2001-02-01", "journal": {"name": "Molecular and Cellular Biochemistry", "pages":
          "1-11", "volume": "218"}, "citationStyles": {"bibtex": "@Article{Adak2001AnER,\n
          author = {S. Adak and D. Bandyopadhyay and U. Bandyopadhyay and R. Banerjee},\n
          booktitle = {Molecular and Cellular Biochemistry},\n journal = {Molecular
          and Cellular Biochemistry},\n pages = {1-11},\n title = {An essential role
          of active site arginine residue in iodide binding and histidine residue in
          electron transfer for iodide oxidation by horseradish peroxidase},\n volume
          = {218},\n year = {2001}\n}\n"}, "authors": [{"authorId": "1940081", "name":
          "S. Adak"}, {"authorId": "1701389", "name": "D. Bandyopadhyay"}, {"authorId":
          "5343877", "name": "U. Bandyopadhyay"}, {"authorId": "32656528", "name": "R.
          Banerjee"}]}

          '
      headers:
        Content-Type:
          - application/json
        x-amz-apigw-id:
          - CLbaUG-OPHcEPHQ=
        x-amzn-Remapped-Connection:
          - keep-alive
        x-amzn-Remapped-Content-Length:
          - "1446"
        x-amzn-Remapped-Date:
          - Mon, 02 Dec 2024 19:36:33 GMT
        x-amzn-Remapped-Server:
          - gunicorn
        x-amzn-RequestId:
          - 6b0b285e-d39c-49fb-abd1-9a7463a0a30f
      status:
        code: 200
        message: OK
  - request:
      body: null
      headers: {}
      method: GET
      uri: https://api.semanticscholar.org/graph/v1/paper/DOI:10.48550/arxiv.2312.07559?fields=authors,citationCount,citationStyles,externalIds,influentialCitationCount,isOpenAccess,journal,openAccessPdf,publicationDate,publicationTypes,title,url,venue,year
    response:
      body:
        string:
          '{"paperId": "7e55d8701785818776323b4147cb13354c820469", "externalIds":
          {"ArXiv": "2312.07559", "DBLP": "journals/corr/abs-2312-07559", "DOI": "10.48550/arXiv.2312.07559",
          "CorpusId": 266191420}, "url": "https://www.semanticscholar.org/paper/7e55d8701785818776323b4147cb13354c820469",
          "title": "PaperQA: Retrieval-Augmented Generative Agent for Scientific Research",
          "venue": "arXiv.org", "year": 2023, "citationCount": 38, "influentialCitationCount":
          1, "isOpenAccess": false, "openAccessPdf": null, "publicationTypes": ["JournalArticle"],
          "publication[...]
  - request:
      body: null
      headers: {}
      method: GET
      uri: https://api.semanticscholar.org/graph/v1/paper/DOI:10.1063/1.4938384?fields=authors,citationCount,citationStyles,externalIds,influentialCitationCount,isOpenAccess,journal,openAccessPdf,publicationDate,publicationTypes,title,url,venue,year
    response:
      body:
        string:
          '{"paperId": "4187800ac995ae172c88b83f8c2c4da990d02934", "externalIds":
          {"MAG": "2277923667", "DOI": "10.1063/1.4938384", [...]
  - request:
      body: null
      headers: {}
      method: GET
      uri: https://api.semanticscholar.org/graph/v1/paper/DOI:10.1038/s42256-024-00832-8?fields=authors,citationCount,citationStyles,externalIds,influentialCitationCount,isOpenAccess,journal,openAccessPdf,publicationDate,publicationTypes,title,url,venue,year
    response:
      body:
        string:
          '{"paperId": "354dcdebf3f8b5feeed5c62090e0bc1f0c28db06", "externalIds":
          {"DBLP": "journals/natmi/BranCSBWS24", "ArXiv": "2304.05376", "PubMedCentral":
          "11116106", "DOI": "10.1038/s42256-024-00832-8", "CorpusId": 258059792, "PubMed":
          "38799228"}, "url": "https://www.semanticscholar.org/paper/354dcdebf3f8b5feeed5c62090e0bc1f0c28db06",
          "title": "Augmenting large language models with chemistry tools", "venue":
          "Nat. Mac. Intell.", "year": 2023, "citationCount": 230, "influentialCitationCount":
          12, "isOpenAccess": true, "openAccessPdf": {"url": "https://www.nature.com/articles/s42256-024-00832-8.pd[...]
  - request:
      body: null
      headers: {}
      method: GET
      uri: https://api.semanticscholar.org/graph/v1/paper/DOI:10.1101/2024.04.01.587366?fields=authors,citationCount,citationStyles,externalIds,influentialCitationCount,isOpenAccess,journal,openAccessPdf,publicationDate,publicationTypes,title,url,venue,year
    response:
      body:
        string:
          '{"paperId": "7e5d4466c8b85f93775fe183e1a318a3e65ac8e4", "externalIds":
          {"DOI": "10.1101/2024.04.01.587366", "Corp[...]
[...]
  - request:
      body: null
      headers: {}
      method: GET
      uri: https://api.crossref.org/works/10.48550%2Farxiv.2312.07559?mailto=example@papercrow.ai
    response:
      body:
        string: Resource not found.
      headers:
        Content-Type:
          - text/plain
        x-api-pool:
          - plus
        x-rate-limit-interval:
          - 1s
        x-rate-limit-limit:
          - "150"
        x-ratelimit-interval:
          - 1s
        x-ratelimit-limit:
          - "150"
      status:
        code: 404
        message: Not Found
  - request:
      body: null
      headers: {}
      method: GET
      uri: https://api.crossref.org/works/10.1101%2F2024.04.01.587366?mailto=example@papercrow.ai
    response:
      body:
        string:
          '{"status":"ok","message-type":"work","message-version":"1.0.0","message":{"institution":[{"name":"bioRxiv"}],"indexed":{"date-parts":[[2024,11,19]],"date-time":"2024-11-19T19:09:55Z","timestamp":1732043395754},"posted":{"date-parts":[[2024,4,1]]},"group-title":"Genomics","reference-count":50,"publisher":"Cold
          Spring Harbor Laboratory","content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":[],"accepted":{"date-parts":[[2024,4,1]]},"abstract":"<jats:title>ABSTRACT<\/jats:title><jats:p>Understanding
          the effects of rare genetic variants remains challenging, both in coding and
          non-coding regions. While multiplexed assays of variant effect (MAVEs) have
          enabled scalable functional assessment of variants, established MAVEs are
          limited by either exogenous expression of variants or constraints of genome
          editing. Here, we introduce a pooled prime editing (PE) platform in haploid
          human cells to scalably assay variants in their endogenous context. We first
          optimized delivery of variants to HAP1 cells, defining optimal pegRNA designs
          and establishing a co-selection strategy for improved efficiency. We characterize
          our platform in the context of negative selection by testing over 7,500 pegRNAs
          targeting<jats:italic>SMARCB1<\/jats:italic>for editing activity and observing
          depletion of highly active pegRNAs installing loss-of-function variants. We
          next assess variants in<jats:italic>MLH1<\/jats:italic>via 6-thioguanine selection,
          assaying 65.3% of all possible SNVs in a 200-bp region spanning exon 10 and
          distinguishing LoF variants with high accuracy. Lastly, we assay 362 non-coding<jats:italic>MLH1<\/jats:italic>variants
          across a 60 kb region in a single experiment, identifying pathogenic variants
          acting via multiple mechanisms with high specificity. Our analyses detail
          how filtering for highly active pegRNAs can facilitate both positive and negative
          selection screens. Accordingly, our platform promises to enable highly scalable
          functional assessment of human variants.<\/jats:p>","DOI":"10.1101\/2024.04.01.587366","type":"posted-content","created":{"date-parts":[[2024,4,2]],"date-time":"2024-04-02T02:05:17Z","timestamp":1712023517000},"source":"Crossref","is-referenced-by-count":1,"title":["High-throughput
          screening of human genetic variants by pooled prime editing"],"prefix":"10.1101","author":[{"given":"Michael","family":"Herger","sequence":"first","affiliation":[]},{"given":"Christina
          M.","family":"Kajba","sequence":"additional","affiliation":[]},{"given":"Megan","family":"Buckley","sequence":"additional","affiliation":[]},{"given":"Ana","family":"Cunha","sequence":"additional","affiliation":[]},{"given":"Molly","family":"Strom","sequence":"additional","affiliation":[]},{"ORCID":"http:\/\/orcid.org\/0000-0002-7767-8608","authenticated-orcid":false,"given":"Gregory
          M.","family":"Findlay","sequence":"additional","affiliation":[]}],"member":"246","reference":[{"key":"2024040415500652000_2024.04.01.587366v1.1","doi-asserted-by":"publisher","DOI":"10.1038\/gim.2015.30"},{"key":"2024040415500652000_2024.04.01.587366v1.2","doi-asserted-by":"crossref","first-page":"116","DOI":"10.1016\/j.cels.2017.11.003","article-title":"Quantitative
          Missense Variant Effect Prediction Using Large-Scale Mutagenesis Data","volume":"6","year":"2018","journal-title":"Cell
          Syst"},{"key":"2024040415500652000_2024.04.01.587366v1.3","doi-asserted-by":"publisher","DOI":"10.1126\/science.abi8207"},{"key":"2024040415500652000_2024.04.01.587366v1.4","doi-asserted-by":"publisher","DOI":"10.1016\/J.CELL.2018.12.015"},{"key":"2024040415500652000_2024.04.01.587366v1.5","doi-asserted-by":"crossref","first-page":"eabn8153","DOI":"10.1126\/science.abn8197","article-title":"The
          landscape of tolerated genetic variation in humans and primates","volume":"380","year":"2023","journal-title":"Science"},{"key":"2024040415500652000_2024.04.01.587366v1.6","doi-asserted-by":"crossref","first-page":"eadg7492","DOI":"10.1126\/science.adg7492","article-title":"Accurate
          proteome-wide missense variant effect prediction with AlphaMissense","volume":"381","year":"2023","journal-title":"Science"},{"key":"2024040415500652000_2024.04.01.587366v1.7","doi-asserted-by":"publisher","DOI":"10.1093\/nar\/gkv1222"},{"key":"2024040415500652000_2024.04.01.587366v1.8","doi-asserted-by":"crossref","first-page":"1381","DOI":"10.1038\/s41436-021-01172-3","article-title":"ACMG
          SF v3.0 list for reporting of secondary findings in clinical exome and genome
          sequencing: a policy statement of the American College of Medical Genetics
          and Genomics (ACMG)","volume":"23","year":"2021","journal-title":"Genet. Med"},{"key":"2024040415500652000_2024.04.01.587366v1.9","doi-asserted-by":"publisher","DOI":"10.1038\/nprot.2016.135"},{"key":"2024040415500652000_2024.04.01.587366v1.10","doi-asserted-by":"publisher","DOI":"10.1093\/hmg\/ddab219"},{"key":"2024040415500652000_2024.04.01.587366v1.11","doi-asserted-by":"publisher","DOI":"10.1038\/s41467-019-11526-w"},{[...]
  - request:
      body: null
      headers: {}
      method: GET
      uri: https://api.crossref.org/works/10.1007%2Fs40278-023-41815-2?mailto=example@papercrow.ai
    response:
      body:
        string:
          '{"status":"ok","message-type":"work","message-version":"1.0.0","message":{"indexed":{"date-parts":[[2023,6,24]],"date-time":"2023-06-24T04:17:17Z","timestamp":1687580237047},"reference-count":1,"publisher":"Springer
          Science and Business Media LLC","issue":"1","license":[{"start":{"date-parts":[[2023,6,24]],"date-time":"2023-06-24T00:00:00Z","timestamp":1687564800000},"content-version":"tdm","delay-in-days":0,"URL":"https:\/\/www.springernature.com\/gp\/researchers\/text-and-data-mining"},{"start":{"date-parts":[[2023,6,24]],"date-time":"2023-06-24T00:00:00Z","timestamp":1687564800000},"content-version":"vor","delay-in-days":0,"URL":"https:\/\/www.springernature.com\/gp\/researchers\/text-and-data-mining"}],"content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":["Reactions
          Weekly"],"DOI":"10.1007\/s40278-023-41815-2","type":"journal-article","created":{"date-parts":[[2023,6,23]],"date-time":"2023-06-23T18:42:29Z","timestamp":1687545749000},"page":"145-145","source":"Crossref","is-referenced-by-count":0,"title":["Convalescent-anti-sars-cov-2-plasma\/immune-globulin"],"prefix":"10.1007","volume":"1962","member":"297","published-online":{"date-parts":[[2023,6,24]]},"reference":[{"key":"41815_CR1","doi-asserted-by":"crossref","unstructured":"Delgado-Fernandez
          M, et al. Treatment of COVID-19 with convalescent plasma in patients with
          humoral immunodeficiency - Three consecutive cases and review of the literature.
          Enfermedades Infecciosas Y Microbiologia Clinica 40\n: 507-516, No. 9, Nov
          2022. Available from: URL: \nhttps:\/\/seimc.org\/","DOI":"10.1016\/j.eimce.2021.01.009"}],"container-title":["Reactions
          Weekly"],"original-title":[],"language":"en","link":[{"URL":"https:\/\/link.springer.com\/content\/pdf\/10.1007\/s40278-023-41815-2.pdf","content-type":"application\/pdf","content-version":"vor","intended-application":"text-mining"},{"URL":"https:\/\/link.springer.com\/article\/10.1007\/s40278-023-41815-2\/fulltext.html","content-type":"text\/html","content-version":"vor","intended-application":"text-mining"},{"URL":"https:\/\/link.springer.com\/content\/pdf\/10.1007\/s40278-023-41815-2.pdf","content-type":"application\/pdf","content-version":"vor","intended-application":"similarity-checking"}],"deposited":{"date-parts":[[2023,6,23]],"date-time":"2023-06-23T19:23:18Z","timestamp":1687548198000},"score":1,"resource":{"primary":{"URL":"https:\/\/link.springer.com\/10.1007\/s40278-023-41815-2"}},"subtitle":["Fever
          and mild decrease in baseline oxygen saturation following off-label use: 3
          case reports"],"short-title":[],"issued":{"date-parts":[[2023,6,24]]},"references-count":1,"journal-issue":{"issue":"1","published-online":{"date-parts":[[2023,6]]}},"alternative-id":["41815"],"URL":"http:\/\/dx.doi.org\/10.1007\/s40278-023-41815-2","relation":{},"ISSN":["1179-2051"],"issn-type":[{"value":"1179-2051","type":"electronic"}],"subject":[],"published":{"date-parts":[[2023,6,24]]}}}'
      headers:
        Content-Type:
          - application/json
        x-api-pool:
          - plus
        x-rate-limit-interval:
          - 1s
        x-rate-limit-limit:
          - "150"
        x-ratelimit-interval:
          - 1s
        x-ratelimit-limit:
          - "150"
      status:
        code: 200
        message: OK
  - request:
      body: null
      headers: {}
      method: GET
      uri: https://api.crossref.org/works/10.1063%2F1.4938384?mailto=example@papercrow.ai
    response:
      body:
        string:
          '{"status":"ok","message-type":"work","message-version":"1.0.0","message":{"indexed":{"date-parts":[[2023,9,29]],"date-time":"2023-09-29T22:47:50Z","timestamp":1696027670718},"reference-count":57,"publisher":"AIP
          Publishing","issue":"23","funder":[{"DOI":"10.13039\/100000006","name":"Office
          of Naval Research","doi-asserted-by":"publisher","award":["N00014-12-1-0542"],"id":[{"id":"10.13039\/100000006","id-type":"DOI","asserted-by":"publisher"}]}],"content-domain":{"domain":["pubs.aip.org"],"crossmark-restriction":true},"short-container-title":[],"published-print":{"date-parts":[[2015,12,21]]},"abstract":"<jats:p>Metal-oxide
          layers are likely to be present on metallic nano-structures due to either
          environmental exposure during use, or high temperature processing techniques
          such as annealing. It is well known that nano-structured metals have vastly
          different mechanical properties from bulk metals; however, difficulties in
          modeling the transition between metallic and ionic bonding have prevented
          th[...]
  - request:
      body: null
      headers: {}
      method: GET
      uri: https://api.crossref.org/works/10.1023%2Fa:1007154515475?mailto=example@papercrow.ai
    response:
      body:
        string:
          '{"status":"ok","message-type":"work","message-version":"1.0.0","message":{"indexed":{"date-parts":[[2024,1,21]],"date-time":"2024-01-21T17:53:48Z","timestamp":1705859628791},"reference-count":0,"publisher":"Springer
          Science and Business Media LLC","issue":"1\/2","content-dom[...]
[...]
  - request:
      body: null
      headers: {}
      method: GET
      uri: https://api.crossref.org/works/10.1007%2Fs40278-023-41815-2/transform/application/x-bibtex
    response:
      body:
        string:
          " @article{2023, volume={1962}, ISSN={1179-2051}, url={http://dx.doi.org/10.1007/s40278-023-41815-2},
          DOI={10.1007/s40278-023-41815-2}, number={1}, journal={Reactions Weekly},
          publisher={Springer Science and Business Media LLC}, year={2023}, month=jun,
          pages={145\u2013145} }\n"
      headers:
        x-api-pool:
          - plus
        x-rate-limit-interval:
          - 1s
        x-rate-limit-limit:
          - "150"
        x-ratelimit-interval:
          - 1s
        x-ratelimit-limit:
          - "150"
      status:
        code: 200
        message: OK
  - request:
      body: null
      headers: {}
      method: GET
      uri: https://api.crossref.org/works/10.1063%2F1.4938384/transform/application/x-bibtex
    response:
      body:
        string:
          " @article{Skarlinski_2015, title={Effect of native oxide layers on
          copper thin-film tensile properties: A reactive molecular dynamics study},
          volume={118}, ISSN={1089-7550}, url={http://dx.doi.org/10.1063/1.4938384},
          DOI={10.1063/1.4938384}, number={23}, journal={Journal of Applied Physics},
          publisher={AIP Publishing}, author={Skarlinski, Michael D. and Quesnel, David
          J.}, year={2015}, month=dec }

          "
      headers:
        x-api-pool:
          - plus
        x-rate-limit-interval:
          - 1s
        x-rate-limit-limit:
          - "150"
        x-ratelimit-interval:
          - 1s
        x-ratelimit-limit:
          - "150"
      status:
        code: 200
        message: OK
  - request:
      body: null
      headers: {}
      method: GET
      uri: https://api.crossref.org/works/10.1101%2F2024.04.01.587366/transform/application/x-bibtex
    response:
      body:
        string:
          " @article{Herger_2024, title={High-throughput screening of human genetic
          variants by pooled prime editing}, url={http://dx.doi.org/10.1101/2024.04.01.587366},
          DOI={10.1101/2024.04.01.587366}, publisher={Cold Spring Harbor Laboratory},
          author={Herger, Michael and Kajba, Christina M. and Buckley, Megan and Cunha,
          Ana and Strom, Molly and Findlay, Gregory M.}, year={2024}, month=apr }

          "
      headers:
        x-api-pool:
          - plus
        x-rate-limit-interval:
          - 1s
        x-rate-limit-limit:
          - "150"
        x-ratelimit-interval:
          - 1s
        x-ratelimit-limit:
          - "150"
      status:
        code: 200
        message: OK
[...]
  - request:
      body: null
      headers: {}
      method: GET
      uri: https://api.crossref.org/works/10.1023%2Fa:1007154515475/transform/application/x-bibtex
    response:
      body:
        string:
          " @article{Adak_2001, volume={218}, ISSN={0300-8177}, url={http://dx.doi.org/10.1023/a:1007154515475},
          DOI={10.1023/a:1007154515475}, number={1/2}, journal={Molecular and Cellular
          Biochemistry}, publisher={Springer Science and Business Media LLC}, author={Adak,
          Subrata and Bandyopadhyay, Debashis and Bandyopadhyay, Uday and Banerjee,
          Ranajit K.}, year={2001}, pages={1\u201311} }\n"
      headers:
        x-api-pool:
          - plus
        x-rate-limit-interval:
          - 1s
        x-rate-limit-limit:
          - "150"
        x-ratelimit-interval:
          - 1s
        x-ratelimit-limit:
          - "150"
      status:
        code: 200
        message: OK
version: 1
