interactions:
  - request:
      body: null
      headers: {}
      method: GET
      uri: https://api.semanticscholar.org/graph/v1/paper/DOI:10.1016/j.addr.2015.01.008?fields=authors,citationCount,citationStyles,externalIds,influentialCitationCount,isOpenAccess,journal,openAccessPdf,publicationDate,publicationTypes,title,url,venue,year
    response:
      body:
        string:
          '{"paperId": "b6c4e9f285bd1b0b69b98daa47fea3d29d50c658", "externalIds":
          {"MAG": "2033425827", "DOI": "10.1016/j.addr.2015.01.008", "CorpusId": 205284104,
          "PubMed": "25666165"}, "url": "https://www.semanticscholar.org/paper/b6c4e9f285bd1b0b69b98daa47fea3d29d50c658",
          "title": "Pharmacokinetics, biodistribution and cell uptake of antisense oligonucleotides.",
          "venue": "Advanced Drug Delivery Reviews", "year": 2015, "citationCount":
          689, "influentialCitationCount": 29, "isOpenAccess": true, "openAccessPdf":
          {"url": "https://doi.org/10.1016/j.addr.2015.01.008", "status": "HYBRID",
          "license": "CCBYNCND"}, "publicationTypes": ["Review", "JournalArticle"],
          "publicationDate": "2015-06-29", "journal": {"name": "Advanced drug delivery
          reviews", "pages": "\n          46-51\n        ", "volume": "87"}, "citationStyles":
          {"bibtex": "@Article{Geary2015PharmacokineticsBA,\n author = {R. Geary and
          D. Norris and R. Yu and C. Bennett},\n booktitle = {Advanced Drug Delivery
          Reviews},\n journal = {Advanced drug delivery reviews},\n pages = {\n          46-51\n        },\n
          title = {Pharmacokinetics, biodistribution and cell uptake of antisense oligonucleotides.},\n
          volume = {87},\n year = {2015}\n}\n"}, "authors": [{"authorId": "4084271",
          "name": "R. Geary"}, {"authorId": "2764740", "name": "D. Norris"}, {"authorId":
          "6086943", "name": "R. Yu"}, {"authorId": "145182233", "name": "C. Bennett"}]}

          '
      headers:
        Content-Type:
          - application/json
        x-amz-apigw-id:
          - PJrlREf7vHcEsIA=
        x-amzn-Remapped-Connection:
          - keep-alive
        x-amzn-Remapped-Content-Length:
          - "1395"
        x-amzn-Remapped-Date:
          - Mon, 11 Aug 2025 17:19:29 GMT
        x-amzn-Remapped-Server:
          - gunicorn
        x-amzn-RequestId:
          - 9a237738-16b9-4dc9-8fb0-eb9cbda7f47a
      status:
        code: 200
        message: OK
  - request:
      body: null
      headers: {}
      method: GET
      uri: https://api.unpaywall.org/v2/10.1016/j.addr.2015.01.008?email=example@papercrow.ai
    response:
      body:
        string:
          '{"doi":"10.1016/j.addr.2015.01.008","doi_url":"https://doi.org/10.1016/j.addr.2015.01.008","title":"Pharmacokinetics,
          biodistribution and cell uptake of antisense oligonucleotides","genre":"journal-article","is_paratext":false,"published_date":"2015-02-07","year":2015,"journal_name":"Advanced
          Drug Delivery Reviews","journal_issns":"0169-409X,1872-8294","journal_issn_l":"0169-409X","journal_is_oa":false,"journal_is_in_doaj":false,"publisher":"Elsevier
          BV","is_oa":true,"oa_status":"hybrid","has_repository_copy":false,"best_oa_location":{"url":"https://doi.org/10.1016/j.addr.2015.01.008","url_for_pdf":null,"url_for_landing_page":"https://doi.org/10.1016/j.addr.2015.01.008","evidence":"deprecated","license":"cc-by-nc-nd","version":"publishedVersion","host_type":"publisher","is_best":true,"pmh_id":null,"endpoint_id":null,"repository_institution":null,"oa_date":"2015-02-07","updated":"deprecated"},"first_oa_location":{"url":"https://doi.org/10.1016/j.addr.2015.01.008","url_for_pdf":null,"url_for_landing_page":"https://doi.org/10.1016/j.addr.2015.01.008","evidence":"deprecated","license":"cc-by-nc-nd","version":"publishedVersion","host_type":"publisher","is_best":true,"pmh_id":null,"endpoint_id":null,"repository_institution":null,"oa_date":"2015-02-07","updated":"deprecated"},"oa_locations":[{"url":"https://doi.org/10.1016/j.addr.2015.01.008","url_for_pdf":null,"url_for_landing_page":"https://doi.org/10.1016/j.addr.2015.01.008","evidence":"deprecated","license":"cc-by-nc-nd","version":"publishedVersion","host_type":"publisher","is_best":true,"pmh_id":null,"endpoint_id":null,"repository_institution":null,"oa_date":"2015-02-07","updated":"deprecated"}],"oa_locations_embargoed":[],"data_standard":2,"z_authors":[{"author_position":"first","raw_author_name":"Richard
          S. Geary","is_corresponding":true,"raw_affiliation_strings":["Isis Pharmaceuticals,
          Inc., 2855 Gazelle Court, Carlsbad, CA 92010, USA"]},{"author_position":"additional","raw_author_name":"Daniel
          Norris","is_corresponding":false,"raw_affiliation_strings":["Isis Pharmaceuticals,
          Inc., 2855 Gazelle Court, Carlsbad, CA 92010, USA"]},{"author_position":"additional","raw_author_name":"Rosie
          Yu","is_corresponding":false,"raw_affiliation_strings":["Isis Pharmaceuticals,
          Inc., 2855 Gazelle Court, Carlsbad, CA 92010, USA"]},{"author_position":"last","raw_author_name":"C.
          Frank Bennett","is_corresponding":false,"raw_affiliation_strings":["Isis Pharmaceuticals,
          Inc., 2855 Gazelle Court, Carlsbad, CA 92010, USA"]}],"updated":"2025-05-22T18:42:22Z"}

          '
      headers:
        Content-Type:
          - application/json
      status:
        code: 200
        message: OK
  - request:
      body: null
      headers: {}
      method: GET
      uri: https://api.crossref.org/works/10.1016%2Fj.addr.2015.01.008?mailto=example@papercrow.ai
    response:
      body:
        string:
          '{"status":"ok","message-type":"work","message-version":"1.0.0","message":{"indexed":{"date-parts":[[2025,8,6]],"date-time":"2025-08-06T12:45:34Z","timestamp":1754484334089},"reference-count":43,"publisher":"Elsevier
          BV","license":[{"start":{"date-parts":[[2015,6,1]],"date-time":"2015-06-01T00:00:00Z","timestamp":1433116800000},"content-version":"tdm","delay-in-days":0,"URL":"https:\/\/www.elsevier.com\/tdm\/userlicense\/1.0\/"},{"start":{"date-parts":[[2015,2,6]],"date-time":"2015-02-06T00:00:00Z","timestamp":1423180800000},"content-version":"vor","delay-in-days":0,"URL":"http:\/\/creativecommons.org\/licenses\/by-nc-nd\/4.0\/"}],"content-domain":{"domain":["elsevier.com","sciencedirect.com"],"crossmark-restriction":true},"short-container-title":["Advanced
          Drug Delivery Reviews"],"published-print":{"date-parts":[[2015,6]]},"DOI":"10.1016\/j.addr.2015.01.008","type":"journal-article","created":{"date-parts":[[2015,2,7]],"date-time":"2015-02-07T16:40:26Z","timestamp":1423327226000},"page":"46-51","update-policy":"http:\/\/dx.doi.org\/10.1016\/elsevier_cm_policy","source":"Crossref","is-referenced-by-count":724,"special_numbering":"C","title":["Pharmacokinetics,
          biodistribution and cell uptake of antisense oligonucleotides"],"prefix":"10.1016","volume":"87","author":[{"given":"Richard
          S.","family":"Geary","sequence":"first","affiliation":[]},{"given":"Daniel","family":"Norris","sequence":"additional","affiliation":[]},{"given":"Rosie","family":"Yu","sequence":"additional","affiliation":[]},{"given":"C.
          Frank","family":"Bennett","sequence":"additional","affiliation":[]}],"member":"78","reference":[{"key":"10.1016\/j.addr.2015.01.008_bb0005","series-title":"Antisense
          Drug Technology: Principles, Strategies, and Applications","first-page":"3","article-title":"Mechanisms
          of antisense drug action, an introduction","author":"Crooke","year":"2007"},{"key":"10.1016\/j.addr.2015.01.008_bb0010","doi-asserted-by":"crossref","first-page":"259","DOI":"10.1146\/annurev.pharmtox.010909.105654","article-title":"RNA
          targeting therapeutics: molecular mechanisms of antisense oligonucleotides
          as a therapeutic platform","volume":"50","author":"Bennett","year":"2010","journal-title":"Annu
          Rev Pharmacol Toxicol."},{"key":"10.1016\/j.addr.2015.01.008_bb0015","doi-asserted-by":"crossref","first-page":"17181","DOI":"10.1074\/jbc.M311683200","article-title":"Determination
          of the role of the human RNase H1 in the pharmacology of DNA-like antisense
          drugs","volume":"279","author":"Wu","year":"2004","journal-title":"J Biol
          Chem."},{"issue":"7","key":"10.1016\/j.addr.2015.01.008_bb0020","doi-asserted-by":"crossref","first-page":"599","DOI":"10.1038\/nsmb780","article-title":"Kinetic
          analysis of the RNAi enzyme complex","volume":"11","author":"Haley","year":"2004","journal-title":"Nat
          Struct Mol Biol"},{"key":"10.1016\/j.addr.2015.01.008_bb0025","series-title":"Antisense
          Drug Technology: Principles, Strategies, and Applications","first-page":"183","article-title":"Basic
          principles of the pharm[...]
  - request:
      body: null
      headers: {}
      method: GET
      uri: https://api.openalex.org/works/https://doi.org/10.1016%2Fj.addr.2015.01.008
    response:
      body:
        string:
          '{"id":"https://openalex.org/W2033425827","doi":"https://doi.org/10.1016/j.addr.2015.01.008","title":"Pharmacokinetics,
          biodistribution and cell uptake of antisense oligonucleotides","display_name":"Pharmacokinetics,
          biodistribution and cell uptake of antisense oligonucleotides","publication_year":2015,"publication_date":"2015-02-07","ids":{"openalex":"https://openalex.org/W2033425827","doi":"https://doi.org/10.1016/j.addr.2015.01.008","mag":"2033425827","pmid":"https://pubmed.ncbi.nlm.nih.gov/25666165"},"language":"en","primary_location":{"is_oa":true,"landing_page_url":"https://doi.org/10.1016/j.addr.2015.01.008","pdf_url":null,"source":{"id":"https://openalex.org/S114437232","display_name":"Advanced
          Drug Delivery Reviews","issn_l":"0169-409X","issn":["0169-409X","1872-8294"],"is_oa":false,"is_in_doaj":false,"is_indexed_in_scopus":true,"is_core":true,"host_organization":"https://openalex.org/P4310320990","host_organization_name":"Elsevier
          BV","host_organization_lineage":["https://openalex.org/P4310320990"],"host_organization_lineage_names":["Elsevier
          BV"],"type":"journal"},"license":"cc-by-nc-nd","license_id":"https://openalex.org/licenses/cc-by-nc-nd","version":"publishedVersion","is_accepted":true,"is_published":true},"type":"review","type_crossref":"journal-article","indexed_in":["crossref","pubmed"],"open_access":{"is_oa":true,"oa_status":"hybrid","oa_url":"https://doi.org/10.1016/j.addr.2015.01.008","any_repository_has_fulltext":false},"authorships":[{"author_position":"first","author":{"id":"https://openalex.org/A5056554811","display_name":"Richard
          S. Geary","orcid":"https://orcid.org/0000-0002-6308-3179"},"institutions":[{"id":"https://openalex.org/I2800035258","display_name":"Ionis
          Pharmaceuticals (United States)","ror":"https://ror.org/00t8bew53","country_code":"US","type":"funder","lineage":["https://openalex.org/I2800035258"]}],"countries":["US"],"is_corresponding":false,"raw_author_name":"Richard
          S. Geary","raw_affiliation_strings":["Isis Pharmaceuticals Inc, 2855 Gazelle
          Court, Carlsbad, CA 92010, USA."],"affiliations":[{"raw_affiliation_string":"Isis
          Pharmaceuticals Inc, 2855 Gazelle Court, Carlsbad, CA 92010, USA.","institution_ids":["https://openalex.org/I2800035258"]}]},{"author_position":"middle","author":{"id":"https://openalex.org/A5041113915","display_name":"Daniel
          A. Norris","orcid":"https://orcid.org/0000-0003-2074-5862"},"institutions":[{"id":"https://openalex.org/I2800035258","display_name":"Ionis
          Pharmaceuticals (United States)","ror":"https://ror.org/00t8bew53","country_code":"US","type":"funder","lineage":["https://openalex.org/I2800035258"]}],"countries":["US"],"is_corresponding":false,"raw[...]
  - request:
      body: null
      headers: {}
      method: GET
      uri: https://api.crossref.org/works/10.1016%2Fj.addr.2015.01.008/transform/application/x-bibtex
    response:
      body:
        string:
          " @article{Geary_2015, title={Pharmacokinetics, biodistribution and
          cell uptake of antisense oligonucleotides}, volume={87}, ISSN={0169-409X},
          url={http://dx.doi.org/10.1016/j.addr.2015.01.008}, DOI={10.1016/j.addr.2015.01.008},
          journal={Advanced Drug Delivery Reviews}, publisher={Elsevier BV}, author={Geary,
          Richard S. and Norris, Daniel and Yu, Rosie and Bennett, C. Frank}, year={2015},
          month=jun, pages={46\u201351} }\n"
      headers:
        x-api-pool:
          - plus
        x-rate-limit-interval:
          - 1s
        x-rate-limit-limit:
          - "150"
      status:
        code: 200
        message: OK
version: 1
