interactions:
  - request:
      body: null
      headers: {}
      method: GET
      uri: https://api.crossref.org/works?mailto=test@example.com&query.title=Augmenting+large+language+models+with+chemistry+tools&rows=1
    response:
      body:
        string:
          '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"total-results":2283974,"items":[{"indexed":{"date-parts":[[2024,8,9]],"date-time":"2024-08-09T17:10:06Z","timestamp":1723223406992},"reference-count":103,"publisher":"Springer
          Science and Business Media LLC","issue":"5","license":[{"start":{"date-parts":[[2024,5,8]],"date-time":"2024-05-08T00:00:00Z","timestamp":1715126400000},"content-version":"tdm","delay-in-days":0,"URL":"https:\/\/creativecommons.org\/licenses\/by\/4.0"},{"start":{"date-parts":[[2024,5,8]],"date-time":"2024-05-08T00:00:00Z","timestamp":1715126400000},"content-version":"vor","delay-in-days":0,"URL":"https:\/\/creativecommons.org\/licenses\/by\/4.0"}],"funder":[{"DOI":"10.13039\/501100001711","name":"Schweizerischer
          Nationalfonds zur F\u00f6rderung der Wissenschaftlichen Forschung","doi-asserted-by":"publisher","award":["180544","180544","180544"]},{"DOI":"10.13039\/100000001","name":"National
          Science Foundation","doi-asserted-by":"publisher","award":["1751471","1751471"]}],"content-domain":{"domain":["link.springer.com"],"crossmark-restriction":false},"short-container-title":["Nat
          Mach Intell"],"abstract":"<jats:title>Abstract<\/jats:title><jats:p>Large
          language models (LLMs) have shown strong performance in tasks across domains
          but struggle with chemistry-related problems. These models also lack access
          to external knowledge sources, limiting their usefulness in scientific applications.
          We introduce ChemCrow, an LLM chemistry agent designed to accomplish tasks
          across organic synthesis, drug discovery and materials design. By integrating
          18 expert-designed tools and using GPT-4 as the LLM, ChemCrow augments the
          LLM performance in chemistry, and new capabilities emerge. Our agent autonomously
          planned and executed the syntheses of an insect repellent and three organocatalysts
          and guided the discovery of a novel chromophore. Our evaluation, including
          both LLM and expert assessments, demonstrates ChemCrow\u2019s effectiveness
          in automating a diverse set of chemical tasks. Our work not only aids expert
          chemists and lowers barriers for non-experts but also fosters scientific advancement
          by bridging the gap between experimental and computational chemistry.<\/jats:p>","DOI":"10.1038\/s42256-024-00832-8","type":"journal-article","created":{"date-parts":[[2024,5,8]],"date-time":"2024-05-08T10:03:31Z","timestamp":1715162611000},"page":"525-535","update-policy":"http:\/\/dx.doi.org\/10.1007\/springer_crossmark_policy","source":"Crossref","is-referenced-by-count":12,"title":["Augmenting
          large language models with chemistry tools"],"prefix":"10.1038","volume":"6","author":[{"given":"Andres","family":"M.
          Bran","sequence":"first","affiliation":[]},{"given":"Sam","family":"Cox","sequence":"additional","affiliation":[]},{"ORCID":"http:\/\/orcid.org\/0000-0003-0310-0851","authenticated-orcid":false,"given":"Oliver","family":"Schilter","sequence":"additional","affiliation":[]},{"given":"Carlo","family":"Baldassari","sequence":"additional","affiliation":[]},{"ORCID":"http:\/\/orcid.org\/0000-0002-6647-3965","authenticated-orcid":false,"given":"Andrew
          D.","family":"White","sequence":"additional","affiliation":[]},{"ORCID":"http:\/\/orcid.org\/0000-0003-3046-6576","authenticated-orcid":false,"given":"Philippe","family":"Schwaller","sequence":"additional","affiliation":[]}],"member":"297","published-online":{"date-parts":[[2024,5,8]]},"reference":[{"key":"832_CR1","unstructured":"Devlin,
          J., Chang, M.-W., Lee, K. & Toutanova, K. Bert: pre-training of deep bidirectional
          transformers for language understanding. In Proc. Conference of the North
          American Chapter of the Association for Computational Linguistics: Human Language
          Technologies (eds Burstein, J. et al.) 4171\u20134186 (Association for Computational
          Linguistics, 2019)."},{"key":"832_CR2","first-page":"1877","volume":"33","author":"T
          Brown","year":"2020","unstructured":"Brown, T. et al. Language models are
          few-shot learners. Adv. Neural Inf. Process. Syst. 33, 1877\u20131901 (2020).","journal-title":"Adv.
          Neural Inf. Process. Syst."},{"key":"832_CR3","unstructured":"Bommasani, R.
          et al. On the opportunities and risks of foundation models. Preprint at https:\/\/arxiv.org\/abs\/2108.07258
          (2021)."},{"key":"832_CR4","first-page":"1","volume":"24","author":"A Chowdhery","year":"2023","unstructured":"Chowdhery,
          A. et al. Palm: scaling language modeling with pathways. J. Mach. Learn. Res.
          24, 1\u2013113 (2023).","journal-title":"J. Mach. Learn. Res."},{"key":"832_CR5","unstructured":"Bubeck,
          S. et al. Sparks of artificial general intelligence: early experiments with
          gpt-4. Preprint at https:\/\/arxiv.org\/abs\/2303.12712 (2023)."},{"key":"832_CR6","unstructured":"Github
          Copilot. GitHub https:\/\/copilot.github.com (2023)."},{"key":"832_CR7","unstructured":"Li,
          R. et al. Starcoder: may the source be with you! Trans. Mach. Learn. Res.
          https:\/\/openreview.net\/pdf?id=KoFOg41haE (2023)."},{"key":"832_CR8","doi-asserted-by":"crossref","unstructured":"Ziegler,
          A. et al. Productivity assessment of neural code completion. In Proc. 6th
          ACM SIGPLAN International Symposium on Machine Programming (eds Chaudhuri,
          S. and Sutton, C.) 21\u201329 (ACM, 2022).","DOI":"10.1145\/3520312.3534864"},{"key":"832_CR9","unstructured":"Vaswani,
          A. et al. Attention is all you need. In Proc. Advances in Neural Informa[...]
  - request:
      body: null
      headers: {}
      method: GET
      uri: https://api.crossref.org/works/10.1038%2Fs42256-024-00832-8/transform/application/x-bibtex
    response:
      body:
        string:
          " @article{M_Bran_2024, title={Augmenting large language models with
          chemistry tools}, volume={6}, ISSN={2522-5839}, url={http://dx.doi.org/10.1038/s42256-024-00832-8},
          DOI={10.1038/s42256-024-00832-8}, number={5}, journal={Nature Machine Intelligence},
          publisher={Springer Science and Business Media LLC}, author={M. Bran, Andres
          and Cox, Sam and Schilter, Oliver and Baldassari, Carlo and White, Andrew
          D. and Schwaller, Philippe}, year={2024}, month=may, pages={525\u2013535}
          }\n"
      headers:
        x-api-pool:
          - plus
        x-rate-limit-interval:
          - 1s
        x-rate-limit-limit:
          - "150"
        x-ratelimit-interval:
          - 1s
        x-ratelimit-limit:
          - "150"
      status:
        code: 200
        message: OK
  - request:
      body: null
      headers: {}
      method: GET
      uri: https://api.semanticscholar.org/graph/v1/paper/search/match?query=Augmenting+large+language+models+with+chemistry+tools&fields=authors,citationCount,citationStyles,externalIds,influentialCitationCount,isOpenAccess,journal,openAccessPdf,publicationDate,publicationTypes,title,url,venue,year
    response:
      body:
        string:
          '{"data": [{"paperId": "354dcdebf3f8b5feeed5c62090e0bc1f0c28db06", "externalIds":
          {"DBLP": "journals/natmi/BranCSBWS24", "ArXiv": "2304.05376", "PubMedCentral":
          "11116106", "DOI": "10.1038/s42256-024-00832-8", "CorpusId": 258059792, "PubMed":
          "38799228"}, "url": "https://www.semanticscholar.org/paper/354dcdebf3f8b5feeed5c62090e0bc1f0c28db06",
          "title": "Augmenting large language models with chemistry tools", "venue":
          "Nat. Mac. Intell.", "year": 2023, "citationCount": 187, "influentialCitationCount":
          12, "isOpenAccess": true, "openAccessPdf": {"url": "https://www.nature.com/articles/s42256-024-00832-8.pdf",
          "status": "HYBRID"}, "publicationTypes": ["JournalArticle"], "publicationDate":
          "2023-04-11", "journal": {"name": "Nature Machine Intelligence", "pages":
          "525 - 535", "volume": "6"}, "citationStyles": {"bibtex": "@Article{Bran2023AugmentingLL,\n
          author = {Andr\u00e9s M Bran and Sam Cox and Oliver Schilter and Carlo Baldassari
          and Andrew D. White and P. Schwaller},\n booktitle = {Nat. Mac. Intell.},\n
          journal = {Nature Machine Intelligence},\n pages = {525 - 535},\n title =
          {Augmenting large language models with chemistry tools},\n volume = {6},\n
          year = {2023}\n}\n"}, "authors": [{"authorId": "2216007369", "name": "Andr\u00e9s
          M Bran"}, {"authorId": "2161337138", "name": "Sam Cox"}, {"authorId": "1820929773",
          "name": "Oliver Schilter"}, {"authorId": "2251414370", "name": "Carlo Baldassari"},
          {"authorId": "2150199535", "name": "Andrew D. White"}, {"authorId": "1379965853",
          "name": "P. Schwaller"}], "matchScore": 181.37788}]}

          '
      headers:
        Content-Type:
          - application/json
        x-amz-apigw-id:
          - cdcLsGaQvHcEOxA=
        x-amzn-Remapped-Connection:
          - keep-alive
        x-amzn-Remapped-Content-Length:
          - "1551"
        x-amzn-Remapped-Date:
          - Tue, 13 Aug 2024 18:34:01 GMT
        x-amzn-Remapped-Server:
          - gunicorn
        x-amzn-RequestId:
          - 2347c943-5dab-4e0f-b1e3-d3d152e38b92
      status:
        code: 200
        message: OK
version: 1
