interactions:
  - request:
      body: null
      headers: {}
      method: GET
      uri: https://api.unpaywall.org/v2/search?query=PaperQA:%20Retrieval-Augmented%20Generative%20Agent%20for%20Scientific%20Research&email=example@papercrow.ai
    response:
      body:
        string: '{"elapsed_seconds":0.021,"results":[]}

          '
      headers:
        Content-Type:
          - application/json
      status:
        code: 200
        message: OK
  - request:
      body: null
      headers: {}
      method: GET
      uri: https://api.semanticscholar.org/graph/v1/paper/search/match?query=PaperQA:+Retrieval-Augmented+Generative+Agent+for+Scientific+Research&fields=authors,citationCount,citationStyles,externalIds,influentialCitationCount,isOpenAccess,journal,openAccessPdf,publicationDate,publicationTypes,title,url,venue,year
    response:
      body:
        string:
          '{"data": [{"paperId": "7e55d8701785818776323b4147cb13354c820469", "externalIds":
          {"ArXiv": "2312.07559", "DBLP": "journals/corr/abs-2312-07559", "DOI": "10.48550/arXiv.2312.07559",
          "CorpusId": 266191420}, "url": "https://www.semanticscholar.org/paper/7e55d8701785818776323b4147cb13354c820469",
          "title": "PaperQA: Retrieval-Augmented Generative Agent for Scientific Research",
          "venue": "arXiv.org", "year": 2023, "citationCount": 25, "influentialCitationCount":
          1, "isOpenAccess": false, "openAccessPdf": null, "publicationTypes": ["JournalArticle"],
          "publicationDate": "2023-12-08", "journal": {"name": "ArXiv", "volume": "abs/2312.07559"},
          "citationStyles": {"bibtex": "@Article{L''ala2023PaperQARG,\n author = {Jakub
          L''ala and Odhran O''Donoghue and Aleksandar Shtedritski and Sam Cox and Samuel
          G. Rodriques and Andrew D. White},\n booktitle = {arXiv.org},\n journal =
          {ArXiv},\n title = {PaperQA: Retrieval-Augmented Generative Agent for Scientific
          Research},\n volume = {abs/2312.07559},\n year = {2023}\n}\n"}, "authors":
          [{"authorId": "2219926382", "name": "Jakub L''ala"}, {"authorId": "2258961056",
          "name": "Odhran O''Donoghue"}, {"authorId": "2258961451", "name": "Aleksandar
          Shtedritski"}, {"authorId": "2161337138", "name": "Sam Cox"}, {"authorId":
          "2258964497", "name": "Samuel G. Rodriques"}, {"authorId": "2273941271", "name":
          "Andrew D. White"}], "matchScore": 245.30392}]}

          '
      headers:
        Content-Type:
          - application/json
        x-amz-apigw-id:
          - eM78AGtAPHcElCw=
        x-amzn-Remapped-Connection:
          - keep-alive
        x-amzn-Remapped-Content-Length:
          - "1386"
        x-amzn-Remapped-Date:
          - Mon, 16 Sep 2024 14:27:24 GMT
        x-amzn-Remapped-Server:
          - gunicorn
        x-amzn-RequestId:
          - 20898718-6cb6-472f-95a9-0dce2bb43279
      status:
        code: 200
        message: OK
  - request:
      body: null
      headers: {}
      method: GET
      uri: https://api.crossref.org/works?mailto=example@papercrow.ai&query.title=PaperQA:+Retrieval-Augmented+Generative+Agent+for+Scientific+Research&rows=1
    response:
      body:
        string:
          '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"total-results":2022077,"items":[{"indexed":{"date-parts":[[2024,3,8]],"date-time":"2024-03-08T00:26:06Z","timestamp":1709857566241},"reference-count":48,"publisher":"Oxford
          University Press (OUP)","issue":"1","license":[{"start":{"date-parts":[[2024,2,21]],"date-time":"2024-02-21T00:00:00Z","timestamp":1708473600000},"content-version":"vor","delay-in-days":48,"URL":"https:\/\/creativecommons.org\/licenses\/by\/4.0\/"}],"funder":[{"DOI":"10.13039\/100000092","name":"National
          Library of Medicine","doi-asserted-by":"publisher","award":["R01LM009886","R01LM014344"],"id":[{"id":"10.13039\/100000092","id-type":"DOI","asserted-by":"publisher"}]},{"DOI":"10.13039\/100006108","name":"National
          Center for Advancing Translational Sciences","doi-asserted-by":"publisher","award":["UL1TR001873"],"id":[{"id":"10.13039\/100006108","id-type":"DOI","asserted-by":"publisher"}]},{"DOI":"10.13039\/100000002","name":"National
          Institutes of Health","doi-asserted-by":"publisher","id":[{"id":"10.13039\/100000002","id-type":"DOI","asserted-by":"publisher"}]}],"content-domain":{"domain":[],"crossmark-restriction":false},"published-print":{"date-parts":[[2024,1,4]]},"abstract":"<jats:title>Abstract<\/jats:title>\n               <jats:sec>\n                  <jats:title>Objective<\/jats:title>\n                  <jats:p>To
          automate scientific claim verification using PubMed abstracts.<\/jats:p>\n               <\/jats:sec>\n               <jats:sec>\n                  <jats:title>Materials
          and Methods<\/jats:title>\n                  <jats:p>We developed CliVER,
          an end-to-end scientific Claim VERification system that leverages retrieval-augmented
          techniques to automatically retrieve relevant clinical trial abstracts, extract
          pertinent sentences, and use the PICO[...]
