interactions:
  - request:
      body: null
      headers: {}
      method: GET
      uri: https://api.crossref.org/works/10.1073%2Fpnas.1205508109?mailto=example@papercrow.ai
    response:
      body:
        string:
          '{"status":"ok","message-type":"work","message-version":"1.0.0","message":{"indexed":{"date-parts":[[2025,8,6]],"date-time":"2025-08-06T12:08:59Z","timestamp":1754482139670},"reference-count":37,"publisher":"Proceedings
          of the National Academy of Sciences","issue":"38","content-domain":{"domain":["www.pnas.org"],"crossmark-restriction":true},"short-container-title":["Proc.
          Natl. Acad. Sci. U.S.A."],"published-print":{"date-parts":[[2012,9,18]]},"abstract":"<jats:p>\n            The
          p110\u03b1 catalytic subunit (\n            <jats:italic>PIK3CA<\/jats:italic>\n            )
          is one of the most frequently mutated genes in cancer. We have examined the
          activation of the wild-type p110\u03b1\/p85\u03b1 and a spectrum of oncogenic
          mutants using hydrogen\/deuterium exchange mass spectrometry (HDX-MS). We
          find that for the wild-type enzyme, the natural transition from an inactive
          cytosolic conformation to an activated form on membranes entails four distinct
          events. Analysis of oncogenic mutations shows that all up-regulate the enzyme
          by enhancing one or more of these dynamic events. We provide the first insight
          into the activation mechanism by mutations in the linker between the adapter-binding
          domain (ABD) and the Ras-binding domain (RBD) (G106V and G118D). These mutations,
          which are common in endometrial cancers, enhance two of the natural activation
          events: movement of the ABD and ABD\u2013RBD linker relative to the rest of
          the catalytic subunit and breaking the C2\u2013iSH2 interface on binding membranes.
          C2 domain mutants (N345K and C420R) also mimic these events, even in the absence
          of membranes. A third event is breaking the nSH2\u2013helical domain contact
          caused by phosphotyrosine-containing peptides binding to the enzyme, which
          is mimicked by a helical domain mutation (E545K). Interaction of the C lobe
          of the kinase domain with membranes is the fourth activation event, and is
          potentiated by kinase domain mutations (e.g., H1047R). All mutations increased
          lipid binding and basal activity, even mutants distant from the membrane surface.
          Our results elucidate a unifying mechanism in which diverse\n            <jats:italic>PIK3CA<\/jats:italic>\n            mutations
          stimulate lipid kinase activity by facilitating allosteric motions required
          for catalysis on membranes.\n          <\/jats:p>","DOI":"10.1073\/pnas.1205508109","type":"journal-article","created":{"date-parts":[[2012,9,5]],"date-time":"2012-09-05T00:17:32Z","timestamp":1346804252000},"page":"15259-15264","update-policy":"http:\/\/dx.doi.org\/10.1073\/pnas.cm10313","source":"Crossref","is-referenced-by-count":261,"title":["Oncogenic
          mutations mimic and enhance dynamic events in the natural activation of phosphoinositide
          3-kinase p110\u03b1 (\n            <i>PIK3CA<\/i>\n            )"],"prefix":"10.1073","volume":"109","author":[{"given":"John
          E.","family":"Burke","sequence":"first","affiliation":[{"name":"Laboratory
          of Molecular Biology, Medical Research Council, Cambridge CB2 0QH, United
          Kingdom"}]},{"given":"Olga","family":"Perisic","sequence":"additional","affiliation":[{"name":"Laboratory
          of Molecular Biology, Medical Research Council, Cambridge CB2 0QH, United
          Kingdom"}]},{"given":"Glenn R.","family":"Masson","sequence":"additional","affiliation":[{"name":"Laboratory
          of Molecular Biology, Medical Research Council, Cambridge CB2 0QH, United
          Kingdom"}]},{"given":"Oscar","family":"Vadas","sequence":"additional","affiliation":[{"name":"Laboratory
          of Molecular Biology, Medical Research Council, Cambridge CB2 0QH, United
          Kingdom"}]},{"given":"Roger L.","family":"Williams","sequence":"additional","affiliation":[{"name":"Laboratory
          of Molecular Biology, Medical Research Council, Cambridge CB2 0QH, United
          Kingdom"}]}],"member":"341","published-online":{"date-parts":[[2012,9,4]]},"reference":[{"key":"e_1_3_3_1_2","doi-asserted-by":"publisher","DOI":"10.1126\/science.276.5320.1848"},{"key":"e_1_3_3_2_2","doi-asserted-by":"publisher","DOI":"10.1126\/science.1096502"},{"key":"e_1_3_3_3_2","doi-asserted-by":"publisher","DOI":"10.1146\/annurev.pathol.4.110807.092311"},{"key":"e_1_3_3_4_2","doi-asserted-by":"publisher","DOI":"10.1126\/scisignal.2002165"},{"key":"e_1_3_3_5_2","doi-asserted-by":"publisher","DOI":"10.1038\/onc.2011.532"},{"key":"e_1_3_3_6_2","doi-asserted-by":"publisher","DOI":"10.1073\/pnas.0712169105"},{"key":"e[...]
  - request:
      body: null
      headers: {}
      method: GET
      uri: https://api.crossref.org/works/10.1073%2Fpnas.1205508109/transform/application/x-bibtex
    response:
      body:
        string:
          " @article{Burke_2012, title={Oncogenic mutations mimic and enhance
          dynamic events in the natural activation of phosphoinositide 3-kinase p110\u03B1
          (\n            PIK3CA\n            )}, volume={109}, ISSN={1091-6490}, url={http://dx.doi.org/10.1073/pnas.1205508109},
          DOI={10.1073/pnas.1205508109}, number={38}, journal={Proceedings of the National
          Academy of Sciences}, publisher={Proceedings of the National Academy of Sciences},
          author={Burke, John E. and Perisic, Olga and Masson, Glenn R. and Vadas, Oscar
          and Williams, Roger L.}, year={2012}, month=sep, pages={15259\u201315264}
          }\n"
      headers:
        x-api-pool:
          - plus
        x-rate-limit-interval:
          - 1s
        x-rate-limit-limit:
          - "150"
      status:
        code: 200
        message: OK
version: 1
