interactions:
  - request:
      body: null
      headers: {}
      method: GET
      uri: https://api.semanticscholar.org/graph/v1/paper/DOI:10.1073/pnas.1414271111?fields=authors,citationCount,citationStyles,externalIds,influentialCitationCount,isOpenAccess,journal,openAccessPdf,publicationDate,publicationTypes,title,url,venue,year
    response:
      body:
        string:
          '{"paperId": "db3720c812a462ef955d5654b65ca9189d4b8372", "externalIds":
          {"MAG": "2109415576", "DOI": "10.1073/pnas.1414271111", "CorpusId": 10888161,
          "PubMed": "25349395"}, "url": "https://www.semanticscholar.org/paper/db3720c812a462ef955d5654b65ca9189d4b8372",
          "title": "Developing functional musculoskeletal tissues through hypoxia and
          lysyl oxidase-induced collagen cross-linking", "venue": "Proceedings of the
          National Academy of Sciences of the United States of America", "year": 2014,
          "citationCount": 136, "influentialCitationCount": 4, "isOpenAccess": true,
          "openAccessPdf": {"url": "https://www.pnas.org/content/pnas/111/45/E4832.full.pdf",
          "status": "BRONZE", "license": null}, "publicationTypes": ["JournalArticle"],
          "publicationDate": "2014-10-27", "journal": {"name": "Proceedings of the National
          Academy of Sciences", "pages": "E4832 - E4841", "volume": "111"}, "citationStyles":
          {"bibtex": "@Article{Makris2014DevelopingFM,\n author = {Eleftherios Makris
          and D. Responte and N. Paschos and Jerry C. Hu and Kyriacos, \u039a\u03c5\u03c1\u03b9\u03ac\u03ba\u03bf\u03c2,
          Athanasiou, \u0391\u03b8\u03b1\u03bd\u03b1\u03c3\u03af\u03bf\u03c5},\n booktitle
          = {Proceedings of the National Academy of Sciences of the United States of
          America},\n journal = {Proceedings of the National Academy of Sciences},\n
          pages = {E4832 - E4841},\n title = {Developing functional musculoskeletal
          tissues through hypoxia and lysyl oxidase-induced collagen cross-linking},\n
          volume = {111},\n year = {2014}\n}\n"}, "authors": [{"authorId": "50040319",
          "name": "Eleftherios Makris"}, {"authorId": "5165779", "name": "D. Responte"},
          {"authorId": "3776061", "name": "N. Paschos"}, {"authorId": "32210454", "name":
          "Jerry C. Hu"}, {"authorId": "2541052", "name": "Kyriacos, \u039a\u03c5\u03c1\u03b9\u03ac\u03ba\u03bf\u03c2,
          Athanasiou, \u0391\u03b8\u03b1\u03bd\u03b1\u03c3\u03af\u03bf\u03c5"}]}

          '
      headers:
        Content-Type:
          - application/json
        x-amz-apigw-id:
          - PJrlZG3FvHcEpTw=
        x-amzn-Remapped-Connection:
          - keep-alive
        x-amzn-Remapped-Content-Length:
          - "1878"
        x-amzn-Remapped-Date:
          - Mon, 11 Aug 2025 17:19:30 GMT
        x-amzn-Remapped-Server:
          - gunicorn
        x-amzn-RequestId:
          - 79505a96-b797-4069-8883-8b15e539a63e
      status:
        code: 200
        message: OK
  - request:
      body: null
      headers: {}
      method: GET
      uri: https://api.unpaywall.org/v2/10.1073/pnas.1414271111?email=example@papercrow.ai
    response:
      body:
        string:
          '{"doi":"10.1073/pnas.1414271111","doi_url":"https://doi.org/10.1073/pnas.1414271111","title":"Developing
          functional musculoskeletal tissues through hypoxia and lysyl oxidase-induced
          collagen cross-linking","genre":"journal-article","is_paratext":false,"published_date":"2014-10-27","year":2014,"journal_name":"Proceedings
          of the National Academy of Sciences","journal_issns":"0027-8424,1091-6490","journal_issn_l":"0027-8424","journal_is_oa":false,"journal_is_in_doaj":false,"publisher":"Proceedings
          of the National Academy of Sciences","is_oa":true,"oa_status":"bronze","has_repository_copy":true,"best_oa_location":{"url":"https://www.pnas.org/content/pnas/111/45/E4832.full.pdf","url_for_pdf":"https://www.pnas.org/content/pnas/111/45/E4832.full.pdf","url_for_landing_page":"https://doi.org/10.1073/pnas.1414271111","evidence":"deprecated","license":null,"version":"publishedVersion","host_type":"publisher","is_best":true,"pmh_id":null,"endpoint_id":null,"repository_institution":null,"oa_date":"2014-10-27","updated":"deprecated"},"first_oa_location":{"url":"https://www.pnas.org/content/pnas/111/45/E4832.full.pdf","url_for_pdf":"https://www.pnas.org/content/pnas/111/45/E4832.full.pdf","url_for_landing_page":"https://doi.org/10.1073/pnas.1414271111","evidence":"deprecated","license":null,"version":"publishedVersion","host_type":"publisher","is_best":true,"pmh_id":null,"endpoint_id":null,"repository_institution":null,"oa_date":"2014-10-27","updated":"deprecated"},"oa_locations":[{"url":"https://www.pnas.org/content/pnas/111/45/E4832.full.pdf","url_for_pdf":"https://www.pnas.org/content/pnas/111/45/E4832.full.pdf","url_for_landing_page":"https://doi.org/10.1073/pnas.1414271111","evidence":"deprecated","license":null,"version":"publishedVersion","host_type":"publisher","is_best":true,"pmh_id":null,"endpoint_id":null,"repository_institution":null,"oa_date":"2014-10-27","updated":"deprecated"},{"url":"http://doi.org/10.1073/pnas.1414271111","url_for_pdf":null,"url_for_landing_page":"http://doi.org/10.1073/pnas.1414271111","evidence":"deprecated","license":null,"version":"submittedVersion","host_type":"repository","is_best":false,"pmh_id":"oai:pubmedcentral.nih.gov:4234579","endpoint_id":"daaf77eacc58eec31bb","repository_institution":"PubMed
          Central","oa_date":"2014-10-27","updated":"deprecated"}],"oa_locations_embargoed":[],"data_standard":2,"z_authors":[{"author_position":"first","raw_author_name":"Eleftherios
          A. Makris","is_corresponding":true,"raw_affiliation_strings":["Departments
          of aBiomedical Engineering and"]},{"author_position":"additional","raw_author_name":"Donald
          J. Responte","is_corresponding":false,"raw_affiliation_strings":["Departments
          of aBiomedical Engineering and"]},{"author_position":"additional","raw_author_name":"Nikolaos
          K. Paschos","is_corresponding":false,"raw_affiliation_strings":["Departments
          of aBiomedical Engineering and"]},{"author_position":"additional","raw_author_name":"Jerry
          C. Hu","is_corresponding":false,"raw_affiliation_strings":["Departments of
          aBiomedical Engineering and"]},{"author_position":"last","raw_author_name":"Kyriacos
          A. Athanasiou","is_corresponding":false,"raw_affiliation_strings":["Departments
          of aBiomedical Engineering and","Orthopedic Surgery, University of California,
          Davis, CA 95616"]}],"updated":"2025-07-30T14:23:20Z"}

          '
      headers:
        Content-Type:
          - application/json
      status:
        code: 200
        message: OK
  - request:
      body: null
      headers: {}
      method: GET
      uri: https://api.openalex.org/works/https://doi.org/10.1073%2Fpnas.1414271111
    response:
      body:
        string:
          '{"id":"https://openalex.org/W2109415576","doi":"https://doi.org/10.1073/pnas.1414271111","title":"Developing
          functional musculoskeletal tissues through hypoxia and lysyl oxidase-induced
          collagen cross-linking","display_name":"Developing functional musculoskeletal
          tissues through hypoxia and lysyl oxidase-induced collagen cross-linking","publication_year":2014,"publication_date":"2014-10-27","ids":{"openalex":"https://openalex.org/W2109415576","doi":"https://doi.org/10.1073/pnas.1414271111","mag":"2109415576","pmid":"https://pubmed.ncbi.nlm.nih.gov/25349395","pmcid":"https://www.ncbi.nlm.nih.gov/pmc/articles/4234579"},"language":"en","primary_location":{"is_oa":true,"landing_page_url":"https://doi.org/10.1073/pnas.1414271111","pdf_url":null,"source":{"id":"https://openalex.org/S125754415","display_name":"Proceedings
          of the National Academy of Sciences","issn_l":"0027-8424","issn":["0027-8424","1091-6490"],"is_oa":false,"is_in_doaj":false,"is_indexed_in_scopus":true,"is_core":true,"host_organization":"https://openalex.org/P4310320052","host_organization_name":"National
          Academy of Sciences","host_organization_lineage":["https://openalex.org/P4310320052"],"host_organization_lineage_names":["National
          Academy of Sciences"],"type":"journal"},"license":null,"license_id":null,"version":"publishedVersion","is_accepted":true,"is_published":true},"type":"article","type_crossref":"journal-article","indexed_in":["crossref","pubmed"],"open_access":{"is_oa":true,"oa_status":"bronze","oa_url":"https://doi.org/10.1073/pnas.1414271111","any_repository_has_fulltext":true},"authorships":[{"author_position":"first","author":{"id":"https://openalex.org/A5004589339","display_name":"Eleftherios
          Makris","orcid":"https://orcid.org/0000-0003-4136-4620"},"institutions":[],"countries":[],"is_corresponding":false,"raw_author_name":"Eleftherios
          A. Makris","raw_affiliation_strings":["Departments of Biomedical Engineering
          and."],"affiliations":[{"raw_affiliation_string":"Departments of Biomedical
          Engineering and.","institution_ids":[]}]},{"author_position":"middle","author":{"id":"https://openalex.org/A5043066789","display_name":"Donald
          J. Responte","orcid":null},"institutions":[],"countries":[],"is_corresponding":false,"raw_author_name":"Donald
          J. Responte","raw_affiliation_strings":["Departments of Biomedical Engineering
          and."],"affiliations":[{"raw_affiliation_string":"Departments of Biomedical
          Engineering and.","institution_ids":[]}]},{"author_position":"middle","author":{"id":"h[...]
  - request:
      body: null
      headers: {}
      method: GET
      uri: https://api.crossref.org/works/10.1073%2Fpnas.1414271111?mailto=example@papercrow.ai
    response:
      body:
        string:
          '{"status":"ok","message-type":"work","message-version":"1.0.0","message":{"indexed":{"date-parts":[[2025,8,2]],"date-time":"2025-08-02T05:06:43Z","timestamp":1754111203328,"version":"3.40.5"},"reference-count":69,"publisher":"Proceedings
          of the National Academy of Sciences","issue":"45","content-domain":{"domain":["www.pnas.org"],"crossmark-restriction":true},"short-container-title":["Proc.
          Natl. Acad. Sci. U.S.A."],"published-print":{"date-parts":[[2014,11,11]]},"abstract":"<jats:title>Significance<\/jats:title>\n          <jats:p>The
          inadequate mechanical properties of engineered tissues have prevented related
          therapies from clinical translation. Collagen cross-links correlate with the
          mechanical integrity of tissues; however, addressing the weakness of neotissues
          through enhancing collagen cross-links has not received the attention it deserves.
          The present study demonstrates, both in vitro and in vivo, that improvements
          in the mechanical properties of native and engineered tissues can be attained
          using endogenous (hypoxia-mediated) lysyl oxidase and exogenous application
          of lysyl oxidase-like 2, which are enzymes responsible for collagen cross-linking.
          By promoting an \u223c16-fold increase in collagen cross-linking and, concomitantly,
          an approximately fivefold enhancement in the neotissue\u2019s mechanical properties,
          this work creates new prospects for regenerative medicine. The methods developed
          here work across a spectrum of collagen-rich tissues and are clinically applicable.<\/jats:p>","DOI":"10.1073\/pnas.1414271111","type":"journal-article","created":{"date-parts":[[2014,10,28]],"date-time":"2014-10-28T07:24:15Z","timestamp":1414481055000},"update-policy":"https:\/\/doi.org\/10.1073\/pnas.cm10313","source":"Crossref","is-referenced-by-count":129,"title":["Developing
          functional musculoskeletal tissues through hypoxia and lysyl oxidase-induced
          collagen cross-linking"],"prefix":"10.1073","volume":"111","author":[{"given":"Eleftherios
          A.","family":"Makris","sequence":"first","affiliation":[{"name":"Departments
          of aBiomedical Engineering and"}]},{"given":"Donald J.","family":"Responte","sequence":"additional","affiliation":[{"name":"Departments
          of aBiomedical Engineering and"}]},{"ORCID":"https:\/\/orcid.org\/0000-0002-1689-6636","authenticated-orcid":false,"given":"Nikolaos
          K.","family":"Paschos","sequence":"additional","affiliation":[{"name":"Departments
          of aBiomedical Engineering and"}]},{"given":"Jerry C.","family":"Hu","sequence":"additional","affiliation":[{"name":"Departments
          of aBiomedical Engineering and"}]},{"given":"Kyriacos A.","family":"Athanasiou","sequence":"additional","affiliation":[{"name":"Departments
          of aBiomedical Engineering and"},{"name":"Orthopedic Surgery, University of
          California, Davis, CA 95616"}]}],"member":"341","published-online":{"date-parts":[[2014,10,27]]},"reference":[{"key":"e_1_3_3_1_2","doi-asserted-by":"publisher","DOI":"10.1089\/ten.2006.12.969"},{"key":"e_1_3_3_2_2","doi-asserted-by":"publisher","DOI":"10.1126\/science.1222454"},{"key":"e_1_3_3_3_2","doi-asserted-by":"publisher","DOI":"10.1371\/journal.pone.0002341"},{"key":"e_1_3_3_4_2","doi-asserted-by":"publisher","DOI":"10.1089\/ten.2006.12.469"},{"key":"e_1_3_3_5_2","doi-asserted-by":"publisher","DOI":"10.1089\/ten.tea.2008.0478"},{"key":"e_1_3_3_6_2","doi-asserted-by":"publisher","DOI":"10.2200\/S00212ED1V01Y200910TIS003"},{"key":"e_1_[...]
  - request:
      body: null
      headers: {}
      method: GET
      uri: https://api.crossref.org/works/10.1073%2Fpnas.1414271111/transform/application/x-bibtex
    response:
      body:
        string:
          " @article{Makris_2014, title={Developing functional musculoskeletal
          tissues through hypoxia and lysyl oxidase-induced collagen cross-linking},
          volume={111}, ISSN={1091-6490}, url={http://dx.doi.org/10.1073/pnas.1414271111},
          DOI={10.1073/pnas.1414271111}, number={45}, journal={Proceedings of the National
          Academy of Sciences}, publisher={Proceedings of the National Academy of Sciences},
          author={Makris, Eleftherios A. and Responte, Donald J. and Paschos, Nikolaos
          K. and Hu, Jerry C. and Athanasiou, Kyriacos A.}, year={2014}, month=oct }

          "
      headers:
        x-api-pool:
          - plus
        x-rate-limit-interval:
          - 1s
        x-rate-limit-limit:
          - "150"
      status:
        code: 200
        message: OK
version: 1
