interactions:
  - request:
      body: null
      headers: {}
      method: GET
      uri: https://api.crossref.org/works/10.1186%2F1471-2148-11-4?mailto=example@papercrow.ai
    response:
      body:
        string:
          '{"status":"ok","message-type":"work","message-version":"1.0.0","message":{"indexed":{"date-parts":[[2025,4,7]],"date-time":"2025-04-07T21:26:17Z","timestamp":1744061177733},"reference-count":47,"publisher":"Springer
          Science and Business Media LLC","issue":"1","license":[{"start":{"date-parts":[[2011,1,5]],"date-time":"2011-01-05T00:00:00Z","timestamp":1294185600000},"content-version":"unspecified","delay-in-days":0,"URL":"http:\/\/www.springer.com\/tdm"}],"content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":["BMC
          Evol Biol"],"published-print":{"date-parts":[[2011,12]]},"DOI":"10.1186\/1471-2148-11-4","type":"journal-article","created":{"date-parts":[[2011,1,5]],"date-time":"2011-01-05T20:07:09Z","timestamp":1294258029000},"source":"Crossref","is-referenced-by-count":79,"title":["Phylogenomics
          of phosphoinositide lipid kinases: perspectives on the evolution of second
          messenger signaling and drug discovery"],"prefix":"10.1186","volume":"11","author":[{"given":"James
          R","family":"Brown","sequence":"first","affiliation":[]},{"given":"Kurt R","family":"Auger","sequence":"additional","affiliation":[]}],"member":"297","published-online":{"date-parts":[[2011,1,5]]},"reference":[{"key":"1613_CR1","doi-asserted-by":"publisher","first-page":"481","DOI":"10.1146\/annurev.biochem.67.1.481","volume":"67","author":"DA
          Fruman","year":"1998","unstructured":"Fruman DA, Meyers RE, Cantley LC: Phosphoinositide
          kinases. Annu Rev Biochem. 1998, 67: 481-507. 10.1146\/annurev.biochem.67.1.481.","journal-title":"Annu
          Rev Biochem"},{"key":"1613_CR2","doi-asserted-by":"publisher","first-page":"606","DOI":"10.1038\/nrg1879","volume":"7","author":"JA
          Engelman","year":"2006","unstructured":"Engelman JA, Luo J, Cantley LC: The
          evolution of phosphatidylinositol 3-kinases as regulators of growth and metabolism.
          Nat Rev Genet. 2006, 7: 606-619. 10.1038\/nrg1879.","journal-title":"Nat Rev
          Genet"},{"key":"1613_CR3","doi-asserted-by":"publisher","first-page":"267",[...]
  - request:
      body: null
      headers: {}
      method: GET
      uri: https://api.crossref.org/works/10.1186%2F1471-2148-11-4/transform/application/x-bibtex
    response:
      body:
        string:
          " @article{Brown_2011, title={Phylogenomics of phosphoinositide lipid
          kinases: perspectives on the evolution of second messenger signaling and drug
          discovery}, volume={11}, ISSN={1471-2148}, url={http://dx.doi.org/10.1186/1471-2148-11-4},
          DOI={10.1186/1471-2148-11-4}, number={1}, journal={BMC Evolutionary Biology},
          publisher={Springer Science and Business Media LLC}, author={Brown, James
          R and Auger, Kurt R}, year={2011}, month=jan }

          "
      headers:
        x-api-pool:
          - plus
        x-rate-limit-interval:
          - 1s
        x-rate-limit-limit:
          - "150"
      status:
        code: 200
        message: OK
version: 1
