interactions:
  - request:
      body: null
      headers: {}
      method: GET
      uri: https://api.semanticscholar.org/graph/v1/paper/DOI:10.1023/a:1007154515475?fields=authors,citationCount,citationStyles,externalIds,influentialCitationCount,isOpenAccess,journal,openAccessPdf,publicationDate,publicationTypes,title,url,venue,year
    response:
      body:
        string:
          '{"paperId": "19807da5b11f3e641535cb72e465001b49b48ee5", "externalIds":
          {"MAG": "1554322594", "DOI": "10.1023/A:1007154515475", "CorpusId": 22646521,
          "PubMed": "11330823"}, "url": "https://www.semanticscholar.org/paper/19807da5b11f3e641535cb72e465001b49b48ee5",
          "title": "An essential role of active site arginine residue in iodide binding
          and histidine residue in electron transfer for iodide oxidation by horseradish
          peroxidase", "venue": "Molecular and Cellular Biochemistry", "year": 2001,
          "citationCount": 7, "influentialCitationCount": 0, "isOpenAccess": false,
          "openAccessPdf": {"url": "", "status": "CLOSED", "license": null}, "publicationTypes":
          ["JournalArticle", "Study"], "publicationDate": "2001-02-01", "journal": {"name":
          "Molecular and Cellular Biochemistry", "pages": "1-11", "volume": "218"},
          "citationStyles": {"bibtex": "@Article{Adak2001AnER,\n author = {S. Adak and
          D. Bandyopadhyay and U. Bandyopadhyay and R. Banerjee},\n booktitle = {Molecular
          and Cellular Biochemistry},\n journal = {Molecular and Cellular Biochemistry},\n
          pages = {1-11},\n title = {An essential role of active site arginine residue
          in iodide binding and histidine residue in electron transfer for iodide oxidation
          by horseradish peroxidase},\n volume = {218},\n year = {2001}\n}\n"}, "authors":
          [{"authorId": "1940081", "name": "S. Adak"}, {"authorId": "1701389", "name":
          "D. Bandyopadhyay"}, {"authorId": "5343877", "name": "U. Bandyopadhyay"},
          {"authorId": "32656528", "name": "R. Banerjee"}]}

          '
      headers:
        Content-Type:
          - application/json
        x-amz-apigw-id:
          - PJrk_F14PHcELwQ=
        x-amzn-Remapped-Connection:
          - keep-alive
        x-amzn-Remapped-Content-Length:
          - "1490"
        x-amzn-Remapped-Date:
          - Mon, 11 Aug 2025 17:19:27 GMT
        x-amzn-Remapped-Server:
          - gunicorn
        x-amzn-RequestId:
          - cd94f62f-190c-4719-bbb6-9b1fc14aaf2b
      status:
        code: 200
        message: OK
  - request:
      body: null
      headers: {}
      method: GET
      uri: https://api.openalex.org/works/https://doi.org/10.1023%2Fa:1007154515475
    response:
      body:
        string:
          '{"id":"https://openalex.org/W1554322594","doi":"https://doi.org/10.1023/a:1007154515475","title":"An
          essential role of active site arginine residue in iodide binding and histidine
          residue in electron transfer for iodide oxidation by horseradish peroxidase.","display_name":"An
          essential role of active site arginine residue in iodide binding and histidine
          residue in electron transfer for iodide oxidation by horseradish peroxidase.","publication_year":2001,"publication_date":"2001-01-01","ids":{"openalex":"https://openalex.org/W1554322594","doi":"https://doi.org/10.1023/a:1007154515475","mag":"1554322594","pmid":"https://pubmed.ncbi.nlm.nih.gov/11330823"},"language":"en","primary_location":{"is_oa":false,"landing_page_url":"https://doi.org/10.1023/a:1007154515475","pdf_url":null,"source":{"id":"https://openalex.org/S11742566","display_name":"Molecular
          and Cellular Biochemistry","issn_l":"0300-8177","issn":["0300-8177","1573-4919"],"is_oa":false,"is_in_doaj":false,"is_indexed_in_scopus":true,"is_core":true,"host_organization":"https://openalex.org/P4310319900","host_organization_name":"Springer
          Science+Business Media","host_organization_lineage":["https://openalex.org/P4310319965","https://openalex.org/P4310319900"],"host_organization_lineage_names":["Springer
          Nature","Springer Science+Business Media"],"type":"journal"},"license":null,"license_id":null,"version":null,"is_accepted":false,"is_published":false},"type":"article","type_crossref":"journal-article","indexed_in":["crossref","pubmed"],"open_access":{"is_oa":false,"oa_status":"closed","oa_url":null,"any_repository_has_fulltext":false},"authorships":[{"author_position":"first","author":{"id":"https://openalex.org/A5007713390","display_name":"Subrata
          Adak","orcid":"https://orcid.org/0000-0001-7376-4755"},"institutions":[{"id":"https://openalex.org/I160344538","display_name":"Indian
          Institute of Chemical Biology","ror":"https://ror.org/01kh0x418","country_code":"IN","type":"funder","lineage":["https://openalex.org/I160344538","https://openalex.org/I2799351866","https://openalex.org/I4210134808","https://openalex.org/I66760702"]}],"countries":["IN"],"is_corresponding":false,"raw_author_name":"Subrata
          Adak","raw_affiliation_strings":["Department of Physiology, Indian Institute
          of Chemical Biology, Calcutta."],"affiliations":[{"raw_affiliation_string":"Department
          of Physiology, Indian Institute of Chemical Biology, Calcutta.","institution_ids":["https://openalex.org/I160344538"]}]},{"author_position":"middle","author":{"id":"https://openalex.org/A5053039237","display_name":"Debasish
          Bandyopadhyay","orcid":"https://orcid.org/0000-0001-7993-0777"},"institutions":[{"id":"https://openalex.org/I160344538","display_name":"Indian
          Institute of Chemical Biology","ror":"https://ror.org/01kh0x418","country_code":"IN","type":"funder","lineage":["https://openalex.org/I160344538","https://openalex.org/I2799351866","https://opena[...]
  - request:
      body: null
      headers: {}
      method: GET
      uri: https://api.unpaywall.org/v2/10.1023/a:1007154515475?email=example@papercrow.ai
    response:
      body:
        string:
          '{"doi":"10.1023/a:1007154515475","doi_url":"https://doi.org/10.1023/a:1007154515475","title":"An
          essential role of active site arginine residue in iodide binding and histidine
          residue in electron transfer for iodide oxidation by horseradish peroxidase","genre":"journal-article","is_paratext":false,"published_date":"2001-02-01","year":2001,"journal_name":"Molecular
          and Cellular Biochemistry","journal_issns":"0300-8177,1573-4919","journal_issn_l":"0300-8177","journal_is_oa":false,"journal_is_in_doaj":false,"publisher":"Springer
          Science and Business Media LLC","is_oa":false,"oa_status":"closed","has_repository_copy":false,"best_oa_location":null,"first_oa_location":null,"oa_locations":[],"oa_locations_embargoed":[],"data_standard":2,"z_authors":[{"author_position":"first","raw_author_name":"Subrata
          Adak","is_corresponding":true,"raw_affiliation_strings":["Department of Physiology,
          Indian Institute of Chemical Biology, 4 Raja S.C. Mullick Road, Calcutta,
          700 032, India"]},{"author_position":"additional","raw_author_name":"Debashis
          Bandyopadhyay","is_corresponding":false,"raw_affiliation_strings":["Department
          of Physiology, Indian Institute of Chemical Biology, 4 Raja S.C. Mullick Road,
          Calcutta, 700 032, India"]},{"author_position":"additional","raw_author_name":"Uday
          Bandyopadhyay","is_corresponding":false,"raw_affiliation_strings":["Department
          of Physiology, Indian Institute of Chemical Biology, 4 Raja S.C. Mullick Road,
          Calcutta, 700 032, India"]},{"author_position":"last","raw_author_name":"Ranajit
          K. Banerjee","is_corresponding":false,"raw_affiliation_strings":["Department
          of Physiology, Indian Institute of Chemical Biology, 4 Raja S.C. Mullick Road,
          Calcutta, 700 032, India"]}],"updated":"2025-05-24T02:33:38Z"}

          '
      headers:
        Content-Type:
          - application/json
      status:
        code: 200
        message: OK
  - request:
      body: null
      headers: {}
      method: GET
      uri: https://api.crossref.org/works/10.1023%2Fa:1007154515475?mailto=example@papercrow.ai
    response:
      body:
        string:
          '{"status":"ok","message-type":"work","message-version":"1.0.0","message":{"indexed":{"date-parts":[[2025,5,21]],"date-time":"2025-05-21T04:29:13Z","timestamp":1747801753621,"version":"3.41.0"},"reference-count":38,"publisher":"Springer
          Science and Business Media LLC","issue":"1-2","license":[{"start":{"date-parts":[[2001,2,1]],"date-time":"2001-02-01T00:00:00Z","timestamp":980985600000},"content-version":"tdm","delay-in-days":0,"URL":"https:\/\/www.springernature.com\/gp\/researchers\/text-and-data-mining"},{"start":{"date-parts":[[2001,2,1]],"date-time":"2001-02-01T00:00:00Z","timestamp":980985600000},"content-version":"vor","delay-in-days":0,"URL":"https:\/\/www.springernature.com\/gp\/researchers\/text-and-data-mining"}],"content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":["Mol
          Cell Biochem"],"published-print":{"date-parts":[[2001,2]]},"DOI":"10.1023\/a:1007154515475","type":"journal-article","created":{"date-parts":[[2002,12,22]],"date-time":"2002-12-22T09:07:15Z","timestamp":1040548035000},"page":"1-11","source":"Crossref","is-referenced-by-count":7,"title":["An
          essential role of active site arginine residue in iodide binding and histidine
          residue in electron transfer for iodide oxidation by horseradish peroxidase"],"prefix":"10.1007","volume":"218","author":[{"given":"Subrata","family":"Adak","sequence":"first","affiliation":[]},{"given":"Debashis","family":"Bandyopadhyay","sequence":"additional","affiliation":[]},{"given":"Uday","family":"Bandyopadhyay","sequence":"additional","affiliation":[]},{"given":"Ranajit
          K.","family":"Banerjee","sequence":"additional","affiliation":[]}],"member":"297","reference":[{"key":"271450_CR1","doi-asserted-by":"crossref","first-page":"187","DOI":"10.1016\/S0010-8545(00)80316-1","volume":"19","author":"HB
          Dunford","year":"1976","unstructured":"Dunford HB, Stillman JS: On the function
          and mechanism of action of peroxidases. Coord Chem Rev 19: 187\u2013251, 1976","journal-title":"Coord
          Chem Rev"},{"key":"271450_CR2","first-page":"1","volume-title":"Peroxidases
          in Chemistry and Biology","author":"HB Dunford","year":"1991","unstructured":"Dunford
          HB: Horseradish peroxidase: Structure and kinetic properties. In J. Everse,
          K.E. Everse, M.B. Gresham (eds). Peroxidases in Chemistry and Biology, vol.
          II. CRC Press, Boca Raton, FL, 1991, pp 1\u201324"},{"key":"271450_CR3","doi-asserted-by":"crossref","first-page":"861","DOI":"10.1146\/annurev.bi.45.070176.004241","volume":"45","author":"M
          Morrison","year":"1976","unstructured":"Morrison M, Schonbaum GR: Peroxide-catalyzed
          halogenation. Ann Rev Biochem 45: 8[...]
  - request:
      body: null
      headers: {}
      method: GET
      uri: https://api.crossref.org/works/10.1023%2Fa:1007154515475/transform/application/x-bibtex
    response:
      body:
        string:
          " @article{Adak_2001, title={An essential role of active site arginine
          residue in iodide binding and histidine residue in electron transfer for iodide
          oxidation by horseradish peroxidase}, volume={218}, ISSN={1573-4919}, url={http://dx.doi.org/10.1023/a:1007154515475},
          DOI={10.1023/a:1007154515475}, number={1\u20132}, journal={Molecular and Cellular
          Biochemistry}, publisher={Springer Science and Business Media LLC}, author={Adak,
          Subrata and Bandyopadhyay, Debashis and Bandyopadhyay, Uday and Banerjee,
          Ranajit K.}, year={2001}, month=feb, pages={1\u201311} }\n"
      headers:
        x-api-pool:
          - plus
        x-rate-limit-interval:
          - 1s
        x-rate-limit-limit:
          - "150"
      status:
        code: 200
        message: OK
version: 1
