interactions:
  - request:
      body: null
      headers: {}
      method: GET
      uri: https://api.crossref.org/works/10.1016%2Fj.bbcan.2023.188947?mailto=example@papercrow.ai
    response:
      body:
        string:
          '{"status":"ok","message-type":"work","message-version":"1.0.0","message":{"indexed":{"date-parts":[[2025,6,17]],"date-time":"2025-06-17T10:54:58Z","timestamp":1750157698314},"reference-count":44,"publisher":"Elsevier
          BV","issue":"5","license":[{"start":{"date-parts":[[2023,9,1]],"date-time":"2023-09-01T00:00:00Z","timestamp":1693526400000},"content-version":"tdm","delay-in-days":0,"URL":"https:\/\/www.elsevier.com\/tdm\/userlicense\/1.0\/"},{"start":{"date-parts":[[2024,7,5]],"date-time":"2024-07-05T00:00:00Z","timestamp":1720137600000},"content-version":"am","delay-in-days":308,"URL":"http:\/\/www.elsevier.com\/open-access\/userlicense\/1.0\/"},{"start":{"date-parts":[[2023,9,1]],"date-time":"2023-09-01T00:00:00Z","timestamp":1693526400000},"content-version":"stm-asf","delay-in-days":0,"URL":"https:\/\/doi.org\/10.15223\/policy-017"},{"start":{"date-parts":[[2023,9,1]],"date-time":"2023-09-01T00:00:00Z","timestamp":1693526400000},"content-version":"stm-asf","delay-in-days":0,"URL":"https:\/\/doi.org\/10.15223\/policy-037"},{"start":{"date-parts":[[2023,9,1]],"date-time":"2023-09-01T00:00:00Z","timestamp":1693526400000},"content-version":"stm-asf","delay-in-days":0,"URL":"https:\/\/doi.org\/10.15223\/policy-012"},{"start":{"date-parts":[[2023,9,1]],"date-time":"2023-09-01T00:00:00Z","timestamp":1693526400000},"content-version":"stm-asf","delay-in-days":0,"URL":"https:\/\/doi.org\/10.15223\/policy-029"},{"start":{"date-parts":[[2023,9,1]],"date-time":"2023-09-01T00:00:00Z","timestamp":1693526400000},"content-version":"stm-asf","delay-in-days":0,"URL":"https:\/\/doi.org\/10.15223\/policy-004"}],"content-domain":{"domain":["elsevier.com","sciencedirect.com"],"crossmark-restriction":true},"short-container-title":["Biochimica
          et Biophysica Acta (BBA) - Reviews on Cancer"],"published-print":{"date-parts":[[2023,9]]},"DOI":"10.1016\/j.bbcan.2023.188947","type":"journal-article","created":{"date-parts":[[2023,6,30]],"date-time":"2023-06-30T15:15:13Z","timestamp":1688138113000},"page":"188947","update-policy":"http:\/\/dx.doi.org\/10.1016\/elsevier_cm_policy","source":"Crossref","is-referenced-by-count":2,"title":["Structural
          and mechanistic insights provided by single particle cryo-EM analysis of phosphoinositide
          3-kinase (PI3K\u03b1)"],"prefix":"10.1016","volume":"1878","author":[{"given":"Peter
          K.","family":"Vogt","sequence":"first","affiliation":[]},{"given":"Jonathan
          R.","family":"Hart","sequence":"additional","affiliation":[]},{"given":"Su","family":"Yang","sequence":"additional","affiliation":[]},{"given":"Qingtong","family":"Zhou","sequence":"additional","affiliation":[]},{"given":"Dehua","family":"Yang","sequence":"additional","affiliation":[]},{"given":"Ming-Wei","family":"Wang","sequence":"additional","affiliation":[]}],"member":"78","reference":[{"issue":"45","key":"10.1016\/j.bbcan.2023.188947_bb0005","doi-asserted-by":"crossref","DOI":"10.1073\/pnas.2109327118","article-title":"Cryo-EM
          structures of PI3K\u03b1 reveal conformational changes during inhibition and
          activation","volume":"118","author":"Liu","year":"2021","journal-title":"Proc.
          Natl. Acad. Sci. U. S. A."},{"issue":"35","key":"10.1016\/j.bbcan.2023.188947_bb0010","doi-asserted-by":"crossref","DOI":"10.1126\/sciadv.abj4282","article-title":"Structure
          of the phosphoinositide 3-kinase (PI3K) p110\u03b3-p101 complex reveals molecular
          mechanism of GPCR activation","volume":"7","author":"Rathinaswamy","year":"2021","journal-title":"Sci.
          Adv."},{"issue":"3","key":"10.1016\/j.bbcan.2023.188947_bb0015","doi-asserted-by":"crossref","first-page":"218","DOI":"10.1038\/s41594-022-00730-w","article-title":"Structural
          basis of phosphatidylinositol 3-kinase C2\u03b1 function","volume":"29","author":"Lo","year":"2022","journal-title":"Nat.
          Struct. Mol. Biol."},{"key":"10.1016\/j.bbcan.2023.188947_bb0020","doi-asserted-by":"crossref","first-page":"36","DOI":"10.1016\/j.semcancer.2019.02.002","article-title":"PIK3CA
          in cancer: the past 30 years","volume":"59","author":"Arafeh","year":"2019","journal-title":"Semin.
[...]
  - request:
      body: null
      headers: {}
      method: GET
      uri: https://api.crossref.org/works/10.1016%2Fj.bbcan.2023.188947/transform/application/x-bibtex
    response:
      body:
        string:
          " @article{Vogt_2023, title={Structural and mechanistic insights provided
          by single particle cryo-EM analysis of phosphoinositide 3-kinase (PI3K\u03B1)},
          volume={1878}, ISSN={0304-419X}, url={http://dx.doi.org/10.1016/j.bbcan.2023.188947},
          DOI={10.1016/j.bbcan.2023.188947}, number={5}, journal={Biochimica et Biophysica
          Acta (BBA) - Reviews on Cancer}, publisher={Elsevier BV}, author={Vogt, Peter
          K. and Hart, Jonathan R. and Yang, Su and Zhou, Qingtong and Yang, Dehua and
          Wang, Ming-Wei}, year={2023}, month=sep, pages={188947} }\n"
      headers:
        x-api-pool:
          - plus
        x-rate-limit-interval:
          - 1s
        x-rate-limit-limit:
          - "150"
      status:
        code: 200
        message: OK
version: 1
