interactions:
  - request:
      body: null
      headers: {}
      method: GET
      uri: https://api.crossref.org/works/10.1023%2Fa:1007154515475?mailto=test@example.com
    response:
      body:
        string:
          '{"status":"ok","message-type":"work","message-version":"1.0.0","message":{"indexed":{"date-parts":[[2024,1,21]],"date-time":"2024-01-21T17:53:48Z","timestamp":1705859628791},"reference-count":0,"publisher":"Springer
          Science and Business Media LLC","issue":"1\/2","content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":[],"published-print":{"date-parts":[[2001]]},"DOI":"10.1023\/a:1007154515475","type":"journal-article","created":{"date-parts":[[2002,12,22]],"date-time":"2002-12-22T09:07:15Z","timestamp":1040548035000},"page":"1-11","source":"Crossref","is-referenced-by-count":6,"title":[],"prefix":"10.1007","volume":"218","author":[{"given":"Subrata","family":"Adak","sequence":"first","affiliation":[]},{"given":"Debashis","family":"Bandyopadhyay","sequence":"additional","affiliation":[]},{"given":"Uday","family":"Bandyopadhyay","sequence":"additional","affiliation":[]},{"given":"Ranajit
          K.","family":"Banerjee","sequence":"additional","affiliation":[]}],"member":"297","container-title":["Molecular
          and Cellular Biochemistry"],"original-title":[],"deposited":{"date-parts":[[2012,12,27]],"date-time":"2012-12-27T23:10:34Z","timestamp":1356649834000},"score":1,"resource":{"primary":{"URL":"http:\/\/link.springer.com\/10.1023\/A:1007154515475"}},"subtitle":[],"short-title":[],"issued":{"date-parts":[[2001]]},"references-count":0,"journal-issue":{"issue":"1\/2"},"alternative-id":["271450"],"URL":"http:\/\/dx.doi.org\/10.1023\/a:1007154515475","relation":{},"ISSN":["0300-8177"],"issn-type":[{"value":"0300-8177","type":"print"}],"subject":[],"published":{"date-parts":[[2001]]}}}'
      headers:
        Content-Type:
          - application/json
        x-api-pool:
          - plus
        x-rate-limit-interval:
          - 1s
        x-rate-limit-limit:
          - "150"
        x-ratelimit-interval:
          - 1s
        x-ratelimit-limit:
          - "150"
      status:
        code: 200
        message: OK
  - request:
      body: null
      headers: {}
      method: GET
      uri: https://api.semanticscholar.org/graph/v1/paper/DOI:10.1023/a:1007154515475?fields=authors,citationCount,citationStyles,externalIds,influentialCitationCount,isOpenAccess,journal,openAccessPdf,publicationDate,publicationTypes,title,url,venue,year
    response:
      body:
        string:
          '{"paperId": "19807da5b11f3e641535cb72e465001b49b48ee5", "externalIds":
          {"MAG": "1554322594", "DOI": "10.1023/A:1007154515475", "CorpusId": 22646521,
          "PubMed": "11330823"}, "url": "https://www.semanticscholar.org/paper/19807da5b11f3e641535cb72e465001b49b48ee5",
          "title": "An essential role of active site arginine residue in iodide binding
          and histidine residue in electron transfer for iodide oxidation by horseradish
          peroxidase", "venue": "Molecular and Cellular Biochemistry", "year": 2001,
          "citationCount": 7, "influentialCitationCount": 0, "isOpenAccess": false,
          "openAccessPdf": null, "publicationTypes": ["JournalArticle", "Study"], "publicationDate":
          "2001-02-01", "journal": {"name": "Molecular and Cellular Biochemistry", "pages":
          "1-11", "volume": "218"}, "citationStyles": {"bibtex": "@Article{Adak2001AnER,\n
          author = {S. Adak and D. Bandyopadhyay and U. Bandyopadhyay and R. Banerjee},\n
          booktitle = {Molecular and Cellular Biochemistry},\n journal = {Molecular
          and Cellular Biochemistry},\n pages = {1-11},\n title = {An essential role
          of active site arginine residue in iodide binding and histidine residue in
          electron transfer for iodide oxidation by horseradish peroxidase},\n volume
          = {218},\n year = {2001}\n}\n"}, "authors": [{"authorId": "1940081", "name":
          "S. Adak"}, {"authorId": "1701389", "name": "D. Bandyopadhyay"}, {"authorId":
          "5343877", "name": "U. Bandyopadhyay"}, {"authorId": "32656528", "name": "R.
          Banerjee"}]}

          '
      headers:
        Content-Type:
          - application/json
        x-amz-apigw-id:
          - cdcMHEwsvHcEB4w=
        x-amzn-Remapped-Connection:
          - keep-alive
        x-amzn-Remapped-Content-Length:
          - "1446"
        x-amzn-Remapped-Date:
          - Tue, 13 Aug 2024 18:34:02 GMT
        x-amzn-Remapped-Server:
          - gunicorn
        x-amzn-RequestId:
          - 1c51e9d8-caf7-4a06-ad5d-815a80bd1356
      status:
        code: 200
        message: OK
  - request:
      body: null
      headers: {}
      method: GET
      uri: https://api.crossref.org/works/10.1023%2Fa:1007154515475/transform/application/x-bibtex
    response:
      body:
        string:
          " @article{Adak_2001, volume={218}, ISSN={0300-8177}, url={http://dx.doi.org/10.1023/a:1007154515475},
          DOI={10.1023/a:1007154515475}, number={1/2}, journal={Molecular and Cellular
          Biochemistry}, publisher={Springer Science and Business Media LLC}, author={Adak,
          Subrata and Bandyopadhyay, Debashis and Bandyopadhyay, Uday and Banerjee,
          Ranajit K.}, year={2001}, pages={1\u201311} }\n"
      headers:
        x-api-pool:
          - plus
        x-rate-limit-interval:
          - 1s
        x-rate-limit-limit:
          - "150"
        x-ratelimit-interval:
          - 1s
        x-ratelimit-limit:
          - "150"
      status:
        code: 200
        message: OK
version: 1
