interactions:
  - request:
      body: null
      headers: {}
      method: GET
      uri: https://api.crossref.org/works?mailto=example@papercrow.ai&query.title=Augmenting+large+language+models+with+chemistry+tools&rows=1&query.author=Andres+M.+Bran+Sam+Cox&select=DOI,author,title
    response:
      body:
        string:
          '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"total-results":5569,"items":[{"DOI":"10.1038\/s42256-024-00832-8","author":[{"given":"Andres","family":"M.
          Bran","sequence":"first","affiliation":[]},{"given":"Sam","family":"Cox","sequence":"additional","affiliation":[]},{"ORCID":"http:\/\/orcid.org\/0000-0003-0310-0851","authenticated-orcid":false,"given":"Oliver","family":"Schilter","sequence":"additional","affiliation":[]},{"given":"Carlo","family":"Baldassari","sequence":"additional","affiliation":[]},{"ORCID":"http:\/\/orcid.org\/0000-0002-6647-3965","authenticated-orcid":false,"given":"Andrew
          D.","family":"White","sequence":"additional","affiliation":[]},{"ORCID":"http:\/\/orcid.org\/0000-0003-3046-6576","authenticated-orcid":false,"given":"Philippe","family":"Schwaller","sequence":"additional","affiliation":[]}],"title":["Augmenting
          large language models with chemistry tools"]}],"items-per-page":1,"query":{"start-index":0,"search-terms":null}}}'
      headers:
        Content-Type:
          - application/json
        x-api-pool:
          - plus
        x-rate-limit-interval:
          - 1s
        x-rate-limit-limit:
          - "150"
        x-ratelimit-interval:
          - 1s
        x-ratelimit-limit:
          - "150"
      status:
        code: 200
        message: OK
  - request:
      body: null
      headers: {}
      method: GET
      uri: https://api.semanticscholar.org/graph/v1/paper/search/match?query=Augmenting+large+language+models+with+chemistry+tools&fields=authors,externalIds,title
    response:
      body:
        string:
          '{"data": [{"paperId": "354dcdebf3f8b5feeed5c62090e0bc1f0c28db06", "externalIds":
          {"DBLP": "journals/natmi/BranCSBWS24", "ArXiv": "2304.05376", "PubMedCentral":
          "11116106", "DOI": "10.1038/s42256-024-00832-8", "CorpusId": 258059792, "PubMed":
          "38799228"}, "title": "Augmenting large language models with chemistry tools",
          "authors": [{"authorId": "2216007369", "name": "Andr\u00e9s M Bran"}, {"authorId":
          "2161337138", "name": "Sam Cox"}, {"authorId": "1820929773", "name": "Oliver
          Schilter"}, {"authorId": "2251414370", "name": "Carlo Baldassari"}, {"authorId":
          "2150199535", "name": "Andrew D. White"}, {"authorId": "1379965853", "name":
          "P. Schwaller"}], "matchScore": 181.10751}]}

          '
      headers:
        Content-Type:
          - application/json
        x-amz-apigw-id:
          - dmiqgG8FPHcEQag=
        x-amzn-Remapped-Connection:
          - keep-alive
        x-amzn-Remapped-Content-Length:
          - "684"
        x-amzn-Remapped-Date:
          - Wed, 04 Sep 2024 22:52:25 GMT
        x-amzn-Remapped-Server:
          - gunicorn
        x-amzn-RequestId:
          - db084384-127d-4c64-bde2-9688907e8236
      status:
        code: 200
        message: OK
  - request:
      body: null
      headers: {}
      method: GET
      uri: https://api.crossref.org/works/10.48550%2FarXiv.2304.05376/transform/application/x-bibtex
    response:
      body:
        string: Resource not found.
      headers:
        Content-Type:
          - text/plain;charset=utf-8
        x-api-pool:
          - plus
        x-rate-limit-interval:
          - 1s
        x-rate-limit-limit:
          - "150"
        x-ratelimit-interval:
          - 1s
        x-ratelimit-limit:
          - "150"
      status:
        code: 404
        message: Not Found
  - request:
      body: null
      headers: {}
      method: GET
      uri: https://api.crossref.org/works?mailto=example@papercrow.ai&query.title=Augmenting+large+language+models+with+chemistry+tools&rows=1&select=DOI,title
    response:
      body:
        string:
          '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"total-results":2296021,"items":[{"DOI":"10.1038\/s42256-024-00832-8","title":["Augmenting
          large language models with chemistry tools"]}],"items-per-page":1,"query":{"start-index":0,"search-terms":null}}}'
      headers:
        Content-Type:
          - application/json
        x-api-pool:
          - plus
        x-rate-limit-interval:
          - 1s
        x-rate-limit-limit:
          - "150"
        x-ratelimit-interval:
          - 1s
        x-ratelimit-limit:
          - "150"
      status:
        code: 200
        message: OK
  - request:
      body: null
      headers: {}
      method: GET
      uri: https://api.semanticscholar.org/graph/v1/paper/search/match?query=Augmenting+large+language+models+with+chemistry+tools&fields=externalIds,title
    response:
      body:
        string:
          '{"data": [{"paperId": "354dcdebf3f8b5feeed5c62090e0bc1f0c28db06", "externalIds":
          {"DBLP": "journals/natmi/BranCSBWS24", "ArXiv": "2304.05376", "PubMedCentral":
          "11116106", "DOI": "10.1038/s42256-024-00832-8", "CorpusId": 258059792, "PubMed":
          "38799228"}, "title": "Augmenting large language models with chemistry tools",
          "matchScore": 179.37169}]}

          '
      headers:
        Content-Type:
          - application/json
        x-amz-apigw-id:
          - dmiqrHAjPHcEDvw=
        x-amzn-Remapped-Connection:
          - keep-alive
        x-amzn-Remapped-Content-Length:
          - "348"
        x-amzn-Remapped-Date:
          - Wed, 04 Sep 2024 22:52:27 GMT
        x-amzn-Remapped-Server:
          - gunicorn
        x-amzn-RequestId:
          - 31d8dee3-bbf4-4742-9a8e-9262ee6cae1c
      status:
        code: 200
        message: OK
[...]
  - request:
      body: null
      headers: {}
      method: GET
      uri: https://api.semanticscholar.org/graph/v1/paper/DOI:10.1007/s40278-023-41815-2?fields=externalIds,title
    response:
      body:
        string:
          '{"paperId": "e0d2719e49ad216f98ed640864cdacd1c20f53e6", "externalIds":
          {"DOI": "10.1007/s40278-023-41815-2", "CorpusId": 259225376}, "title": "Convalescent-anti-sars-cov-2-plasma/immune-globulin"}

          '
      headers:
        Content-Type:
          - application/json
        x-amz-apigw-id:
          - dmirCETbPHcEZ1w=
        x-amzn-Remapped-Connection:
          - keep-alive
        x-amzn-Remapped-Content-Length:
          - "197"
        x-amzn-Remapped-Date:
          - Wed, 04 Sep 2024 22:52:28 GMT
        x-amzn-Remapped-Server:
          - gunicorn
        x-amzn-RequestId:
          - 6eeeafbe-a4fe-4345-8839-162c2990ce23
      status:
        code: 200
        message: OK
  - request:
      body: null
      headers: {}
      method: GET
      uri: https://api.crossref.org/works/10.1007%2Fs40278-023-41815-2?mailto=example@papercrow.ai
    response:
      body:
        string:
          '{"status":"ok","message-type":"work","message-version":"1.0.0","message":{"indexed":{"date-parts":[[2023,6,24]],"date-time":"2023-06-24T04:17:17Z","timestamp":1687580237047},"reference-count":1,"publisher":"Springer
          Science and Business Media LLC","issue":"1","license":[{"start":{"date-parts":[[2023,6,24]],"date-time":"2023-06-24T00:00:00Z","timestamp":1687564800000},"content-version":"tdm","delay-in-days":0,"URL":"https:\/\/www.springernature.com\/gp\/researchers\/text-and-data-mining"},{"start":{"date-parts":[[2023,6,24]],"date-time":"2023-06-24T00:00:00Z","timestamp":1687564800000},"content-version":"vor","delay-in-days":0,"URL":"https:\/\/www.springernature.com\/gp\/researchers\/text-and-data-mining"}],"content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":["Reactions
          Weekly"],"DOI":"10.1007\/s40278-023-41815-2","type":"journal-article","created":{"date-parts":[[2023,6,23]],"date-time":"2023-06-23T18:42:29Z","timestamp":1687545749000},"page":"145-145","source":"Crossref","is-referenced-by-count":0,"title":["Convalescent-anti-sars-cov-2-plasma\/immune-globulin"],"prefix":"10.1007","volume":"1962","member":"297","published-online":{"date-parts":[[2023,6,24]]},"reference":[{"key":"41815_CR1","doi-asserted-by":"crossref","unstructured":"Delgado-Fernandez
          M, et al. Treatment of COVID-19 with convalescent plasma in patients with
          humoral immunodeficiency - Three consecutive cases and review of the literature.
          Enfermedades Infecciosas Y Microbiologia Clinica 40\n: 507-516, No. 9, Nov
          2022. Available from: URL: \nhttps:\/\/seimc.org\/","DOI":"10.1016\/j.eimce.2021.01.009"}],"container-title":["Reactions
          Weekly"],"original-title":[],"language":"en","link":[{"URL":"https:\/\/link.springer.com\/content\/pdf\/10.1007\/s40278-023-41815-2.pdf","content-type":"application\/pdf","content-version":"vor","intended-application":"text-mining"},{"URL":"https:\/\/link.springer.com\/article\/10.1007\/s40278-023-41815-2\/fulltext.html","content-type":"text\/html","content-version":"vor","intended-application":"text-mining"},{"URL":"https:\/\/link.springer.com\/content\/pdf\/10.1007\/s40278-023-41815-2.pdf","content-type":"application\/pdf","content-version":"vor","intended-application":"similarity-checking"}],"deposited":{"date-parts":[[2023,6,23]],"date-time":"2023-06-23T19:23:18Z","timestamp":1687548198000},"score":1,"resource":{"primary":{"URL":"https:\/\/link.springer.com\/10.1007\/s40278-023-41815-2"}},"subtitle":["Fever
          and mild decrease in baseline oxygen saturation following off-label use: 3
          case reports"],"short-title":[],"issued":{"date-parts":[[2023,6,24]]},"references-count":1,"journal-issue":{"issue":"1","published-online":{"date-parts":[[2023,6]]}},"alternative-id":["41815"],"URL":"http:\/\/dx.doi.org\/10.1007\/s40278-023-41815-2","relation":{},"ISSN":["1179-2051"],"issn-type":[{"value":"1179-2051","type":"electronic"}],"subject":[],"published":{"date-parts":[[2023,6,24]]}}}'
      headers:
        Content-Type:
          - application/json
        x-api-pool:
          - plus
        x-rate-limit-interval:
          - 1s
        x-rate-limit-limit:
          - "150"
        x-ratelimit-interval:
          - 1s
        x-ratelimit-limit:
          - "150"
      status:
        code: 200
        message: OK
  - request:
      body: null
      headers: {}
      method: GET
      uri: https://api.crossref.org/works/10.1007%2Fs40278-023-41815-2/transform/application/x-bibtex
    response:
      body:
        string:
          " @article{2023, volume={1962}, ISSN={1179-2051}, url={http://dx.doi.org/10.1007/s40278-023-41815-2},
          DOI={10.1007/s40278-023-41815-2}, number={1}, journal={Reactions Weekly},
          publisher={Springer Science and Business Media LLC}, year={2023}, month=jun,
          pages={145\u2013145} }\n"
      headers:
        x-api-pool:
          - plus
        x-rate-limit-interval:
          - 1s
        x-rate-limit-limit:
          - "150"
        x-ratelimit-interval:
          - 1s
        x-ratelimit-limit:
          - "150"
      status:
        code: 200
        message: OK
  - request:
      body: null
      headers: {}
      method: GET
      uri: https://api.crossref.org/works/10.1007%2Fs40278-023-41815-2/transform/application/x-bibtex
    response:
      body:
        string:
          " @article{2023, volume={1962}, ISSN={1179-2051}, url={http://dx.doi.org/10.1007/s40278-023-41815-2},
          DOI={10.1007/s40278-023-41815-2}, number={1}, journal={Reactions Weekly},
          publisher={Springer Science and Business Media LLC}, year={2023}, month=jun,
          pages={145\u2013145} }\n"
      headers:
        x-api-pool:
          - plus
        x-rate-limit-interval:
          - 1s
        x-rate-limit-limit:
          - "150"
        x-ratelimit-interval:
          - 1s
        x-ratelimit-limit:
          - "150"
      status:
        code: 200
        message: OK
version: 1
