interactions:
  - request:
      body: null
      headers: {}
      method: GET
      uri: https://api.crossref.org/works/10.48550%2Farxiv.2312.07559?mailto=example@papercrow.ai
    response:
      body:
        string: Resource not found.
      headers:
        Content-Type:
          - text/plain
        x-api-pool:
          - plus
        x-rate-limit-interval:
          - 1s
        x-rate-limit-limit:
          - "150"
        x-ratelimit-interval:
          - 1s
        x-ratelimit-limit:
          - "150"
      status:
        code: 404
        message: Not Found
  - request:
      body: null
      headers: {}
      method: GET
      uri: https://api.semanticscholar.org/graph/v1/paper/DOI:10.48550/arxiv.2312.07559?fields=externalIds,title
    response:
      body:
        string:
          '{"paperId": "7e55d8701785818776323b4147cb13354c820469", "externalIds":
          {"ArXiv": "2312.07559", "DBLP": "journals/corr/abs-2312-07559", "DOI": "10.48550/arXiv.2312.07559",
          "CorpusId": 266191420}, "title": "PaperQA: Retrieval-Augmented Generative
          Agent for Scientific Research"}

          '
      headers:
        Content-Type:
          - application/json
        x-amz-apigw-id:
          - CLbZYEvlPHcEn6Q=
        x-amzn-Remapped-Connection:
          - keep-alive
        x-amzn-Remapped-Content-Length:
          - "277"
        x-amzn-Remapped-Date:
          - Mon, 02 Dec 2024 19:36:27 GMT
        x-amzn-Remapped-Server:
          - gunicorn
        x-amzn-RequestId:
          - 91c16d98-30a3-4999-8972-34e8fe4de41f
      status:
        code: 200
        message: OK
  - request:
      body: null
      headers: {}
      method: GET
      uri: https://api.crossref.org/works/10.48550%2FarXiv.2312.07559/transform/application/x-bibtex
    response:
      body:
        string: Resource not found.
      headers:
        Content-Type:
          - text/plain;charset=utf-8
        x-api-pool:
          - plus
        x-rate-limit-interval:
          - 1s
        x-rate-limit-limit:
          - "150"
        x-ratelimit-interval:
          - 1s
        x-ratelimit-limit:
          - "150"
      status:
        code: 404
        message: Not Found
  - request:
      body: null
      headers: {}
      method: GET
      uri: https://api.crossref.org/works/10.1063%2F1.4938384?mailto=example@papercrow.ai
    response:
      body:
        string:
          '{"status":"ok","message-type":"work","message-version":"1.0.0","message":{"indexed":{"date-parts":[[2023,9,29]],"date-time":"2023-09-29T22:47:50Z","timestamp":1696027670718},"reference-count":57,"publisher":"AIP
          Publishing","issue":"23","funder":[{"DOI":"10.13039\/100000006","name":"Office
          of Naval Research","doi-asserted-by":"publisher","award":["N00014-12-1-0542"],"id":[{"id":"10.13039\/100000006","id-type":"DOI","asserted-by":"publisher"}]}],"content-domain":{"domain":["pubs.aip.org"],"crossmark-restriction":true},"short-container-title":[],"published-print":{"date-parts":[[2015,12,21]]},"abstract":"<jats:p>Metal-oxide
          layers are likely to be present on metallic nano-structures due to either
          environmental exposure during use, or high temperature processing techniques
          such as annealing. It is well known that nano-structured metals have vastly
          different mechanical properties from bulk metals; however, difficulties in
          modeling the transition between metallic and ionic bonding have prevented
          the computational investigation of the effects of ox[...]
  - request:
      body: null
      headers: {}
      method: GET
      uri: https://api.crossref.org/works/10.1063%2F1.4938384/transform/application/x-bibtex
    response:
      body:
        string:
          " @article{Skarlinski_2015, title={Effect of native oxide layers on
          copper thin-film tensile properties: A reactive molecular dynamics study},
          volume={118}, ISSN={1089-7550}, url={http://dx.doi.org/10.1063/1.4938384},
          DOI={10.1063/1.4938384}, number={23}, journal={Journal of Applied Physics},
          publisher={AIP Publishing}, author={Skarlinski, Michael D. and Quesnel, David
          J.}, year={2015}, month=dec }

          "
      headers:
        x-api-pool:
          - plus
        x-rate-limit-interval:
          - 1s
        x-rate-limit-limit:
          - "150"
        x-ratelimit-interval:
          - 1s
        x-ratelimit-limit:
          - "150"
      status:
        code: 200
        message: OK
  - request:
      body: null
      headers: {}
      method: GET
      uri: https://api.semanticscholar.org/graph/v1/paper/DOI:10.1063/1.4938384?fields=authors,citationCount,citationStyles,externalIds,influentialCitationCount,isOpenAccess,journal,openAccessPdf,publicationDate,publicationTypes,title,url,venue,year
    response:
      body:
        string:
          '{"paperId": "4187800ac995ae172c88b83f8c2c4da990d02934", "externalIds":
          {"MAG": "2277923667", "DOI": "10.1063/1.4938384", "CorpusId": 124514389},
          "url": "https://www.semanticscholar.org/paper/4187800ac995ae172c88b83f8c2c4da990d02934",
          "title": "Effect of native oxide layers on copper thin-film tensile properties:
          A reactive molecular dynamics study", "venue": "", "year": 2015, "citationCount":
          8, "influentialCitationCount": 0, "isOpenAccess": false, "openAccessPdf":
          null, "publicationTypes": null, "publicationDate": "2015-12-21", "journal":
          {"name": "Journal of Applied Physics", "pages": "235306", "volume": "118"},
          "citationStyles": {"bibtex": "@Article{Skarlinski2015EffectON,\n author =
          {Michael Skarlinski and D. Quesnel},\n journal = {Journal of Applied Physics},\n
          pages = {235306},\n title = {Effect of native oxide layers on copper thin-film
          tensile properties: A reactive molecular dynamics study},\n volume = {118},\n
          year = {2015}\n}\n"}, "authors": [{"authorId": "9821934", "name": "Michael
          Skarlinski"}, {"authorId": "37723150", "name": "D. Quesnel"}]}

          '
      headers:
        Content-Type:
          - application/json
        x-amz-apigw-id:
          - CLbZnGx0vHcEQmQ=
        x-amzn-Remapped-Connection:
          - keep-alive
        x-amzn-Remapped-Content-Length:
          - "1072"
        x-amzn-Remapped-Date:
          - Mon, 02 Dec 2024 19:36:29 GMT
        x-amzn-Remapped-Server:
          - gunicorn
        x-amzn-RequestId:
          - 141e3859-3a24-462d-85ac-835a5a4f4fdd
      status:
        code: 200
        message: OK
version: 1
