interactions:
  - request:
      body: null
      headers: {}
      method: GET
      uri: https://api.semanticscholar.org/graph/v1/paper/DOI:10.1023/a:1007154515475?fields=authors,citationCount,citationStyles,externalIds,influentialCitationCount,isOpenAccess,journal,openAccessPdf,publicationDate,publicationTypes,title,url,venue,year
    response:
      body:
        string:
          '{"paperId": "19807da5b11f3e641535cb72e465001b49b48ee5", "externalIds":
          {"MAG": "1554322594", "DOI": "10.1023/A:1007154515475", "CorpusId": 22646521,
          "PubMed": "11330823"}, "url": "https://www.semanticscholar.org/paper/19807da5b11f3e641535cb72e465001b49b48ee5",
          "title": "An essential role of active site arginine residue in iodide binding
          and histidine residue in electron transfer for iodide oxidation by horseradish
          peroxidase", "venue": "Molecular and Cellular Biochemistry", "year": 2001,
          "citationCount": 7, "influentialCitationCount": 0, "isOpenAccess": false,
          "openAccessPdf": null, "publicationTypes": ["JournalArticle", "Study"], "publicationDate":
          "2001-02-01", "journal": {"name": "Molecular and Cellular Biochemistry", "pages":
          "1-11", "volume": "218"}, "citationStyles": {"bibtex": "@Article{Adak2001AnER,\n
          author = {S. Adak and D. Bandyopadhyay and U. Bandyopadhyay and R. Banerjee},\n
          booktitle = {Molecular and Cellular Biochemistry},\n journal = {Molecular
          and Cellular Biochemistry},\n pages = {1-11},\n title = {An essential role
          of active site arginine residue in iodide binding and histidine residue in
          electron transfer for iodide oxidation by horseradish peroxidase},\n volume
          = {218},\n year = {2001}\n}\n"}, "authors": [{"authorId": "1940081", "name":
          "S. Adak"}, {"authorId": "1701389", "name": "D. Bandyopadhyay"}, {"authorId":
          "5343877", "name": "U. Bandyopadhyay"}, {"authorId": "32656528", "name": "R.
          Banerjee"}]}

          '
      headers:
        Content-Type:
          - application/json
        x-amz-apigw-id:
          - CLbZfFGXvHcEQGw=
        x-amzn-Remapped-Connection:
          - keep-alive
        x-amzn-Remapped-Content-Length:
          - "1446"
        x-amzn-Remapped-Date:
          - Mon, 02 Dec 2024 19:36:28 GMT
        x-amzn-Remapped-Server:
          - gunicorn
        x-amzn-RequestId:
          - 0e07ad61-bdfb-47eb-92e8-24f5193c0fdc
      status:
        code: 200
        message: OK
  - request:
      body: null
      headers: {}
      method: GET
      uri: https://api.openalex.org/works/https://doi.org/10.1023%2Fa:1007154515475
    response:
      body:
        string:
          '{"id":"https://openalex.org/W1554322594","doi":"https://doi.org/10.1023/a:1007154515475","title":"An
          essential role of active site arginine residue in iodide binding and histidine
          residue in electron transfer for iodide oxidation by horseradish peroxidase.","display_name":"An
          essential role of active site arginine residue in iodide binding and histidine
          residue in electron transfer for iodide oxidation by horseradish peroxidase.","publication_year":2001,"publication_date":"2001-01-01","ids":{"openalex":"https://openalex.org/W1554322594","doi":"https://doi.org/10.1023/a:1007154515475","mag":"1554322594","pmid":"https://pubmed.ncbi.nlm.nih.gov/11330823"},"language":"en","primary_location":{"is_oa":false,"landing_page_url":"https://doi.org/10.1023/a:1007154515475","pdf_url":null,"source":{"id":"https://openalex.org/S11742566","display_name":"Molecular
          and Cellular Biochemistry","issn_l":"0300-8177","issn":["0300-8177","1573-4919"],"is_oa":false,"is_in_doaj":false,"is_core":true,"host_organization":"https://openalex.org/P4310319900","host_organization_name":"Springer
          Science+Business Media","host_organization_lineage":["https://openalex.org/P4310319965","https://openalex.org/P4310319900"],"host_organization_lineage_names":["Springer
          Nature","Springer Science+Business Media"],"type":"journal"},"license":null,"license_id":null,"version":null,"is_accepted":false,"is_published":false},"type":"article","type_crossref":"journal-article","indexed_in":["crossref","pubmed"],"open_access":{"is_oa":false,"oa_status":"closed","oa_url":null,"any_repository_has_fulltext":false},"authorships":[{"author_position":"first","author":{"id":"https://openalex.org/A5007713390","display_name":"Subrata
          Adak","orcid":"https://orcid.org/0000-0001-7376-4755"},"institutions":[{"id":"https://openalex.org/I160344538","display_name":"Indian
          Institute of Chemical Biology","ror":"https://ror.org/01kh0x418","country_code":"IN","type":"facility","lineage":["https://openalex.org/I160344538","https://openalex.org/I2799351866","https://openalex.org/I4210134808","https://openalex.org/I66760702"]}],"countries":["IN"],"is_corresponding":false,"raw_author_name":"Subrata
          Adak","raw_affiliation_strings":["Department of Physiology, Indian Institute
          of Chemical Biology, Calcutta."],"affiliations":[{"raw_affiliation_string":"Department
          of Physiology, Indian Institute of Chemical Biology, Calcutta.","institution_ids":["https://openalex.org/I160344538"]}]},{"author_position":"middle","author":{"id":"https://openalex.org/A5053039237","display_name":"Debasish
          Bandyopadhyay","orcid":"https://orcid.org/0000-0001-7993-0777"},"institutions":[{"id":"https://openalex.org/I160344538","display_name":"Indian
          Institute of Chemical Biology","ror":"https://ror.org/01kh0x418","country_code":"IN","type":"facility","lineage":["https://openalex.org/I160344538","https://openalex.org/I2799351866","https://ope[...]
  - request:
      body: null
      headers: {}
      method: GET
      uri: https://api.crossref.org/works/10.1023%2Fa:1007154515475?mailto=example@papercrow.ai
    response:
      body:
        string:
          '{"status":"ok","message-type":"work","message-version":"1.0.0","message":{"indexed":{"date-parts":[[2024,1,21]],"date-time":"2024-01-21T17:53:48Z","timestamp":1705859628791},"reference-count":0,"publisher":"Springer
          Science and Business Media LLC","issue":"1\/2","content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":[],"published-print":{"date-parts":[[2001]]},"DOI":"10.1023\/a:1007154515475","type":"journal-article","created":{"date-parts":[[2002,12,22]],"date-time":"2002-12-22T09:07:15Z","timestamp":1040548035000},"page":"1-11","source":"Crossref","is-referenced-by-count":6,"title":[],"prefix":"10.1007","volume":"218","author":[{"given":"Subrata","family":"Adak","sequence":"first","affiliation":[]},{"given":"Debashis","family":"Bandyopadhyay","sequence":"additional","affiliation":[]},{"given":"Uday","family":"Bandyopadhyay","sequence":"additional","affiliation":[]},{"given":"Ranajit
          K.","family":"Banerjee","sequence":"additional","affiliation":[]}],"member":"297","container-title":["Molecular
          and Cellular Biochemistry"],"original-title":[],"deposited":{"date-parts":[[2012,12,27]],"date-time":"2012-12-27T23:10:34Z","timestamp":1356649834000},"score":1,"resource":{"primary":{"URL":"http:\/\/link.springer.com\/10.1023\/A:1007154515475"}},"subtitle":[],"short-title":[],"issued":{"date-parts":[[2001]]},"references-count":0,"journal-issue":{"issue":"1\/2"},"alternative-id":["271450"],"URL":"http:\/\/dx.doi.org\/10.1023\/a:1007154515475","relation":{},"ISSN":["0300-8177"],"issn-type":[{"value":"0300-8177","type":"print"}],"subject":[],"published":{"date-parts":[[2001]]}}}'
      headers:
        Content-Type:
          - application/json
        x-api-pool:
          - plus
        x-rate-limit-interval:
          - 1s
        x-rate-limit-limit:
          - "150"
        x-ratelimit-interval:
          - 1s
        x-ratelimit-limit:
          - "150"
      status:
        code: 200
        message: OK
  - request:
      body: null
      headers: {}
      method: GET
      uri: https://api.crossref.org/works/10.1023%2Fa:1007154515475/transform/application/x-bibtex
    response:
      body:
        string:
          " @article{Adak_2001, volume={218}, ISSN={0300-8177}, url={http://dx.doi.org/10.1023/a:1007154515475},
          DOI={10.1023/a:1007154515475}, number={1/2}, journal={Molecular and Cellular
          Biochemistry}, publisher={Springer Science and Business Media LLC}, author={Adak,
          Subrata and Bandyopadhyay, Debashis and Bandyopadhyay, Uday and Banerjee,
          Ranajit K.}, year={2001}, pages={1\u201311} }\n"
      headers:
        x-api-pool:
          - plus
        x-rate-limit-interval:
          - 1s
        x-rate-limit-limit:
          - "150"
        x-ratelimit-interval:
          - 1s
        x-ratelimit-limit:
          - "150"
      status:
        code: 200
        message: OK
  - request:
      body: null
      headers: {}
      method: GET
      uri: https://api.unpaywall.org/v2/10.1023/a:1007154515475?email=example@papercrow.ai
    response:
      body:
        string:
          '{"doi": "10.1023/a:1007154515475", "doi_url": "https://doi.org/10.1023/a:1007154515475",
          "title": null, "genre": "journal-article", "is_paratext": false, "published_date":
          "2001-01-01", "year": 2001, "journal_name": "Molecular and Cellular Biochemistry",
          "journal_issns": "0300-8177", "journal_issn_l": "0300-8177", "journal_is_oa":
          false, "journal_is_in_doaj": false, "publisher": "Springer Science and Business
          Media LLC", "is_oa": false, "oa_status": "closed", "has_repository_copy":
          false, "best_oa_location": null, "first_oa_location": null, "oa_locations":
          [], "oa_locations_embargoed": [], "updated": "2021-01-15T22:46:04.723698",
          "data_standard": 2, "z_authors": [{"given": "Subrata", "family": "Adak", "sequence":
          "first"}, {"given": "Debashis", "family": "Bandyopadhyay", "sequence": "additional"},
          {"given": "Uday", "family": "Bandyopadhyay", "sequence": "additional"}, {"given":
          "Ranajit K.", "family": "Banerjee", "sequence": "additional"}]}'
      headers:
        Content-Type:
          - application/json
      status:
        code: 200
        message: OK
version: 1
