interactions:
  - request:
      body: null
      headers: {}
      method: GET
      uri: https://api.crossref.org/works/10.1016%2Fj.semcdb.2016.08.024?mailto=example@papercrow.ai
    response:
      body:
        string:
          '{"status":"ok","message-type":"work","message-version":"1.0.0","message":{"indexed":{"date-parts":[[2024,7,2]],"date-time":"2024-07-02T07:52:42Z","timestamp":1719906762338},"reference-count":81,"publisher":"Elsevier
          BV","license":[{"start":{"date-parts":[[2017,4,1]],"date-time":"2017-04-01T00:00:00Z","timestamp":1491004800000},"content-version":"tdm","delay-in-days":0,"URL":"https:\/\/www.elsevier.com\/tdm\/userlicense\/1.0\/"}],"funder":[{"DOI":"10.13039\/501100012150","name":"Shanghai
          Leading Academic Discipline Project","doi-asserted-by":"crossref","award":["B115"],"id":[{"id":"10.13039\/501100012150","id-type":"DOI","asserted-by":"crossref"}]},{"DOI":"10.13039\/501100001809","name":"The
          National Nature Science Foundation of China","doi-asserted-by":"crossref","award":["91230204","81270099","81320108001","81270131","81400035","81570075","81500058","81500025"],"id":[{"id":"10.13039\/501100001809","id-type":"DOI","asserted-by":"crossref"}]},{"name":"The
          Shanghai Committee of Science and Technology","award":["12JC1402200","12431900207","11410708600"]},{"DOI":"10.13039\/501100004731","name":"Zhejiang
          Provincial Natural Science Foundation","doi-asserted-by":"crossref","award":["Z15H010002"],"id":[{"id":"10.13039\/501100004731","id-type":"DOI","asserted-by":"crossref"}]},{"name":"Zhejiang
          Provincial Science Technology Department Foundation","award":["WKJ-ZJ-1526"]}],"content-domain":{"domain":["elsevier.com","sciencedirect.com"],"crossmark-restriction":true},"short-container-title":["Seminars
          in Cell &amp; Developmental Biology"],"published-print":{"date-parts":[[2017,4]]},"DOI":"10.1016\/j.semcdb.2016.08.024","type":"journal-article","created":{"date-parts":[[2016,9,3]],"date-time":"2016-09-03T06:09:21Z","timestamp":1472882961000},"page":"116-124","update-policy":"http:\/\/dx.doi.org\/10.1016\/elsevier_cm_policy","source":"Crossref","is-referenced-by-count":7,"special_numbering":"C","title":["The
          impact of heterogeneity in phosphoinositide 3-kinase pathway in human cancer
          and possible therapeutic treatments"],"prefix":"10.1016","volume":"64","author":[{"given":"William","family":"Wang","sequence":"first","affiliation":[]},{"given":"Jiapei","family":"Lv","sequence":"additional","affiliation":[]},{"given":"Lingyan","family":"Wang","sequence":"additional","affiliation":[]},{"given":"Xiangdong","family":"Wang","sequence":"additional","affiliation":[]},{"given":"Ling","family":"Ye","sequence":"additional","affiliation":[]}],"member":"78","reference":[{"key":"10.1016\/j.semcdb.2016.08.024_bib0005","doi-asserted-by":"crossref","first-page":"40","DOI":"10.3389\/fonc.2013.00040","article-title":"p110delta
          PI3 kinase pathway: emerging roles in cancer","volume":"3","author":"Tzenaki","year":"2013","journal-title":"Front.
          Oncol."},{"key":"10.1016\/j.semcdb.2016.08.024_bib0010","doi-asserted-by":"crossref","first-page":"26ra5","DOI":"10.1126\/scitranslmed.3000251","article-title":"Airway
          PI3K pathway activation is an early and reversible event in lung cancer development","volume":"2","author":"Gustafson","year":"2010","journal-title":"Sci.
          Trans. Med."},{"key":"10.1016\/j.semcdb.2016.08.024_bib0015","doi-asserted-by":"crossref","first-page":"235","DOI":"10.2174\/15680090433330[...]
  - request:
      body: null
      headers: {}
      method: GET
      uri: https://api.crossref.org/works/10.1016%2Fj.semcdb.2016.08.024/transform/application/x-bibtex
    response:
      body:
        string:
          " @article{Wang_2017, title={The impact of heterogeneity in phosphoinositide
          3-kinase pathway in human cancer and possible therapeutic treatments}, volume={64},
          ISSN={1084-9521}, url={http://dx.doi.org/10.1016/j.semcdb.2016.08.024}, DOI={10.1016/j.semcdb.2016.08.024},
          journal={Seminars in Cell &amp; Developmental Biology}, publisher={Elsevier
          BV}, author={Wang, William and Lv, Jiapei and Wang, Lingyan and Wang, Xiangdong
          and Ye, Ling}, year={2017}, month=apr, pages={116\u2013124} }\n"
      headers:
        x-api-pool:
          - plus
        x-rate-limit-interval:
          - 1s
        x-rate-limit-limit:
          - "150"
      status:
        code: 200
        message: OK
version: 1
