interactions:
  - request:
      body: null
      headers: {}
      method: GET
      uri: https://api.crossref.org/works/10.48550%2Farxiv.2312.07559?mailto=test@example.com
    response:
      body:
        string: Resource not found.
      headers:
        Content-Type:
          - text/plain
        x-api-pool:
          - plus
        x-rate-limit-interval:
          - 1s
        x-rate-limit-limit:
          - "150"
        x-ratelimit-interval:
          - 1s
        x-ratelimit-limit:
          - "150"
      status:
        code: 404
        message: Not Found
  - request:
      body: null
      headers: {}
      method: GET
      uri: https://api.semanticscholar.org/graph/v1/paper/DOI:10.48550/arxiv.2312.07559?fields=externalIds,title
    response:
      body:
        string:
          '{"paperId": "7e55d8701785818776323b4147cb13354c820469", "externalIds":
          {"ArXiv": "2312.07559", "DBLP": "journals/corr/abs-2312-07559", "DOI": "10.48550/arXiv.2312.07559",
          "CorpusId": 266191420}, "title": "PaperQA: Retrieval-Augmented Generative
          Agent for Scientific Research"}

          '
      headers:
        Content-Type:
          - application/json
        x-amz-apigw-id:
          - dWIhXEWEvHcEQ6g=
        x-amzn-Remapped-Connection:
          - keep-alive
        x-amzn-Remapped-Content-Length:
          - "277"
        x-amzn-Remapped-Date:
          - Fri, 30 Aug 2024 23:23:26 GMT
        x-amzn-Remapped-Server:
          - gunicorn
        x-amzn-RequestId:
          - ef0cc09e-40f4-409b-9ba0-fe4d55f6de96
      status:
        code: 200
        message: OK
  - request:
      body: null
      headers: {}
      method: GET
      uri: https://api.crossref.org/works/10.48550%2FarXiv.2312.07559/transform/application/x-bibtex
    response:
      body:
        string: Resource not found.
      headers:
        Content-Type:
          - text/plain;charset=utf-8
        x-api-pool:
          - plus
        x-rate-limit-interval:
          - 1s
        x-rate-limit-limit:
          - "150"
        x-ratelimit-interval:
          - 1s
        x-ratelimit-limit:
          - "150"
      status:
        code: 404
        message: Not Found
version: 1
