interactions:
  - request:
      body: null
      headers: {}
      method: GET
      uri: https://api.crossref.org/works?mailto=test@example.com&query.title=Augmenting+large+language+models+with+chemistry+tools&rows=1&select=DOI,author,container-title,title
    response:
      body:
        string:
          '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"total-results":2296021,"items":[{"DOI":"10.1038\/s42256-024-00832-8","author":[{"given":"Andres","family":"M.
          Bran","sequence":"first","affiliation":[]},{"given":"Sam","family":"Cox","sequence":"additional","affiliation":[]},{"ORCID":"http:\/\/orcid.org\/0000-0003-0310-0851","authenticated-orcid":false,"given":"Oliver","family":"Schilter","sequence":"additional","affiliation":[]},{"given":"Carlo","family":"Baldassari","sequence":"additional","affiliation":[]},{"ORCID":"http:\/\/orcid.org\/0000-0002-6647-3965","authenticated-orcid":false,"given":"Andrew
          D.","family":"White","sequence":"additional","affiliation":[]},{"ORCID":"http:\/\/orcid.org\/0000-0003-3046-6576","authenticated-orcid":false,"given":"Philippe","family":"Schwaller","sequence":"additional","affiliation":[]}],"container-title":["Nature
          Machine Intelligence"],"title":["Augmenting large language models with chemistry
          tools"]}],"items-per-page":1,"query":{"start-index":0,"search-terms":null}}}'
      headers:
        Content-Type:
          - application/json
        x-api-pool:
          - plus
        x-rate-limit-interval:
          - 1s
        x-rate-limit-limit:
          - "150"
        x-ratelimit-interval:
          - 1s
        x-ratelimit-limit:
          - "150"
      status:
        code: 200
        message: OK
version: 1
