interactions:
  - request:
      body: null
      headers: {}
      method: GET
      uri: https://api.semanticscholar.org/graph/v1/paper/DOI:10.1101/2024.04.01.587366?fields=authors,citationCount,citationStyles,externalIds,influentialCitationCount,isOpenAccess,journal,openAccessPdf,publicationDate,publicationTypes,title,url,venue,year
    response:
      body:
        string:
          '{"paperId": "7e5d4466c8b85f93775fe183e1a318a3e65ac8e4", "externalIds":
          {"DOI": "10.1101/2024.04.01.587366", "CorpusId": 268890006}, "url": "https://www.semanticscholar.org/paper/7e5d4466c8b85f93775fe183e1a318a3e65ac8e4",
          "title": "High-throughput screening of human genetic variants by pooled prime
          editing", "venue": "bioRxiv", "year": 2024, "citationCount": 1, "influentialCitationCount":
          0, "isOpenAccess": true, "openAccessPdf": {"url": "https://www.biorxiv.org/content/biorxiv/early/2024/04/01/2024.04.01.587366.full.pdf",
          "status": "GREEN"}, "publicationTypes": null, "publicationDate": "2024-04-01",
          "journal": {"name": "bioRxiv"}, "citationStyles": {"bibtex": "@Article{Herger2024HighthroughputSO,\n
          author = {Michael Herger and Christina M. Kajba and Megan Buckley and Ana
          Cunha and Molly Strom and Gregory M. Findlay},\n booktitle = {bioRxiv},\n
          journal = {bioRxiv},\n title = {High-throughput screening of human genetic
          variants by pooled prime editing},\n year = {2024}\n}\n"}, "authors": [{"authorId":
          "2294884120", "name": "Michael Herger"}, {"authorId": "2163800172", "name":
          "Christina M. Kajba"}, {"authorId": "2120283350", "name": "Megan Buckley"},
          {"authorId": "2294861709", "name": "Ana Cunha"}, {"authorId": "2294881320",
          "name": "Molly Strom"}, {"authorId": "145686550", "name": "Gregory M. Findlay"}]}

          '
      headers:
        Content-Type:
          - application/json
        x-amz-apigw-id:
          - CLbZTGsbvHcEXDg=
        x-amzn-Remapped-Connection:
          - keep-alive
        x-amzn-Remapped-Content-Length:
          - "1325"
        x-amzn-Remapped-Date:
          - Mon, 02 Dec 2024 19:36:27 GMT
        x-amzn-Remapped-Server:
          - gunicorn
        x-amzn-RequestId:
          - 72d3483b-4629-4199-8766-c1f40565fcba
      status:
        code: 200
        message: OK
  - request:
      body: null
      headers: {}
      method: GET
      uri: https://api.openalex.org/works/https://doi.org/10.1101%2F2024.04.01.587366
    response:
      body:
        string:
          '{"id":"https://openalex.org/W4393448183","doi":"https://doi.org/10.1101/2024.04.01.587366","title":"High-throughput
          screening of human genetic variants by pooled prime editing","display_name":"High-throughput
          screening of human genetic variants by pooled prime editing","publication_year":2024,"publication_date":"2024-04-01","ids":{"openalex":"https://openalex.org/W4393448183","doi":"https://doi.org/10.1101/2024.04.01.587366"},"language":"en","primary_location":{"is_oa":true,"landing_page_url":"https://doi.org/10.1101/2024.04.01.587366","pdf_url":"https://www.biorxiv.org/content/biorxiv/early/2024/04/01/2024.04.01.587366.full.pdf","source":{"id":"https://openalex.org/S4306402567","display_name":"bioRxiv
          (Cold Spring Harbor Laboratory)","issn_l":null,"issn":null,"is_oa":true,"is_in_doaj":false,"is_core":false,"host_organization":"https://openalex.org/I2750212522","host_organization_name":"Cold
          Spring Harbor Laboratory","host_organization_lineage":["https://openalex.org/I2750212522"],"host_organization_lineage_names":["Cold
          Spring Harbor Laboratory"],"type":"repository"},"license":"cc-by","license_id":"https://openalex.org/licenses/cc-by","version":"submittedVersion","is_accepted":false,"is_published":false},"type":"preprint","type_crossref":"posted-content","indexed_in":["crossref"],"open_access":{"is_oa":true,"oa_status":"green","oa_url":"https://www.biorxiv.org/content/biorxiv/early/2024/04/01/2024.04.01.587366.full.pdf","any_repository_has_fulltext":true},"authorships":[{"author_position":"first","author":{"id":"https://openalex.org/A5067011895","display_name":"Michael
          Herger","orcid":"https://orcid.org/0000-0002-5390-2695"},"institutions":[{"id":"https://openalex.org/I2801081054","display_name":"The
          Francis Crick Institute","ror":"https://ror.org/04tnbqb63","country_code":"GB","type":"facility","lineage":["https://openalex.org/I2801081054"]}],"countries":["GB"],"is_corresponding":false,"raw_author_name":"Michael
          Herger","raw_affiliation_strings":["The Francis Crick Institute"],"affiliations":[{"raw_affiliation_string":"The
          Francis Crick Institute","institution_ids":["https://openalex.org/I2801081054"]}]},{"author_position":"middle","author":{"id":"https://openalex.org/A5003387836","display_name":"Christina
          M. Kajba","orcid":"https://orcid.org/0000-0002-7896-0744"},"institutions":[{"id":"https://openalex.org/I2801081054","display_name":"The
          Francis Crick Institute","ror":"https://ror.org/04tnbqb63","country_code":"GB","type":"facility","lineage":["https://openalex.org/I2801081054"]}],"countries":["GB"],"is_corresponding":false,"raw_autho[...]
  - request:
      body: null
      headers: {}
      method: GET
      uri: https://api.crossref.org/works/10.1101%2F2024.04.01.587366?mailto=example@papercrow.ai
    response:
      body:
        string:
          '{"status":"ok","message-type":"work","message-version":"1.0.0","message":{"institution":[{"name":"bioRxiv"}],"indexed":{"date-parts":[[2024,11,19]],"date-time":"2024-11-19T19:09:55Z","timestamp":1732043395754},"posted":{"date-parts":[[2024,4,1]]},"group-title":"Genomics","reference-count":50,"publisher":"Cold
          Spring Harbor Laboratory","content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":[],"accepted":{"date-parts":[[2024,4,1]]},"abstract":"<jats:title>ABSTRACT<\/jats:title><jats:p>Understanding
          the effects of rare genetic variants remains challenging, both in coding and
          non-coding regions. While multiplexed assays of variant effect (MAVEs) have
          enabled scalable functional assessment of variants, established MAVEs are
          limited by either exogenous expression of variants or constraints of genome
          editing. Here, we introduce a pooled prime editing (PE) platform in haploid
          human cells to scalably assay variants in their endogenous context. We first
          optimized delivery of variants to HAP1 cells, defining optimal pegRNA designs
          and establishing a co-selection strategy for improved efficiency. We characterize
          our platform in the context of negative selection by testing over 7,500 pegRNAs
          targeting<jats:italic>SMARCB1<\/jats:italic>for editing activity and observing
          depletion of highly active pegRNAs installing loss-of-function variants. We
          next assess variants in<jats:italic>MLH1<\/jats:italic>via 6-thioguanine selection,
          assaying 65.3% of all possible SNVs in a 200-bp region spanning exon 10 and
          distinguishing LoF variants with high accuracy. Lastly, we assay 362 non-coding<jats:italic>MLH1<\/jats:italic>variants
          across a 60 kb region in a single experiment, identifying pathogenic variants
          acting via multiple mechanisms with high specificity. Our analyses detail
          how filtering for highly active pegRNAs can facilitate both positive and negative
          selection screens. Accordingly, our platform promises to enable highly scalable
          functional assessment of human variants.<\/jats:p>","DOI":"10.1101\/2024.04.01.587366","type":"posted-content","created":{"date-parts":[[2024,4,2]],"date-time":"2024-04-02T02:05:17Z","timestamp":1712023517000},"source":"Crossref","is-referenced-by-count":1,"title":["High-throughput
          screening of human genetic variants by pooled prime editing"],"prefix":"10.1101","author":[{"given":"Michael","family":"Herger","sequence":"first","affiliation":[]},{"given":"Christina
          M.","family":"Kajba","sequence":"additional","affiliation":[]},{"given":"Megan","family":"Buckley","sequence":"additional","affiliation":[]},{"given":"Ana","family":"Cunha","sequence":"additional","affiliation":[]},{"given":"Molly","family":"Strom","sequence":"additional","affiliation":[]},{"ORCID":"http:\/\/orcid.org\/0000-0002-7767-8608","authenticated-orcid":false,"given":"Gregory
          M.","family":"Findlay","sequence":"additional","affiliation":[]}],"member":"246","reference":[{"key":"2024040415500652000_2024.04.01.587366v1.1","doi-asserted-by":"publisher","DOI":"10.1038\/gim.2015.30"},{"key":"2024040415500652000_2024.04.01.587366v1.2","doi-asserted-by":"crossref","first-page":"116","DOI":"10.1016\/j.cels.2017.11.003","article-title":"Quantitative
          Missense Variant Effect Prediction Using Large-Scale Mutagenesis Data","volume":"6","year":"2018","journal-title":"Cell
          Syst"},{"key":"2024040415500652000_2024.04.01.587366v1.3","doi-asserted-by":"publisher","DOI":"10.1126\/science.abi8207"},{"key":"2024040415500652000_2024.04.01.587366v1.4","doi-asserted-by":"publisher","DOI":"10.1016\/J.CELL.2018.12.015"},{"key":"2024040415500652000_2024.04.01.587366v1.5","doi-asserted-by":"crossref","first-page":"eabn8153","DOI":"10.1126\/science.abn8197","article-title":"The
          landscape of tolerated genetic variation in humans and primates","volume":"380","year":"2023","journal-title":"Science"},{"key":"2024040415500652000_2024.04.01.587366v1.6","doi-asserted-by":"crossref","first-page":"eadg7492","DOI":"10.1126\/science.adg7492","article-title":"Accurate
          proteome-wide missense variant effect prediction with AlphaMissense","volume":"381","year":"2023","journal-title":"Science"},{"key":"2024040415500652000_2024.04.01.587366v1.7","doi-asserted-by":"publisher","DOI":"10.1093\/nar\/gkv1222"},{"key":"2024040415500652000_2024.04.01.587366v1.8","doi-asserted-by":"crossref","first-page":"1381","DOI":"10.1038\/s41436-021-01172-3","article-title":"ACMG
          SF v3.0 list for reporting of secondary findings in clinical exome and genome
          sequencing: a policy statement of the American College of Medical Genetics
          and Genomics (ACMG)","volume":"23","year":"2021","journal-title":"Genet. Med"},{"key":"2024040415500652000_2024.04.01.587366v1.9","doi-asserted-by":"publisher","DOI":"10.1038\/nprot.2016.135"},{"key":"2024040415500652000_2024.04.01.587366v1.10","doi-asserted-by":"publisher","DOI":"10.1093\/hmg\/ddab219"},{"key":"2024040415500652000_2024.04.01.587366v1.11","doi-asserted-by":"publisher","DOI":"10.1038\/s41467-019-11526-w"},{[...]
  - request:
      body: null
      headers: {}
      method: GET
      uri: https://api.unpaywall.org/v2/10.1101/2024.04.01.587366?email=example@papercrow.ai
    response:
      body:
        string:
          '{"doi": "10.1101/2024.04.01.587366", "doi_url": "https://doi.org/10.1101/2024.04.01.587366",
          "title": "High-throughput screening of human genetic variants by pooled prime
          editing", "genre": "posted-content", "is_paratext": false, "published_date":
          "2024-04-01", "year": 2024, "journal_name": null, "journal_issns": null, "journal_issn_l":
          null, "journal_is_oa": false, "journal_is_in_doaj": false, "publisher": "Cold
          Spring Harbor Laboratory", "is_oa": true, "oa_status": "green", "has_repository_copy":
          true, "best_oa_location": {"updated": "2024-04-03T02:38:26.107690", "url":
          "https://www.biorxiv.org/content/biorxiv/early/2024/04/01/2024.04.01.587366.full.pdf",
          "url_for_pdf": "https://www.biorxiv.org/content/biorxiv/early/2024/04/01/2024.04.01.587366.full.pdf",
          "url_for_landing_page": "https://doi.org/10.1101/2024.04.01.587366", "evidence":
          "oa repository (via page says license)", "license": "cc-by", "version": "submittedVersion",
          "host_type": "repository", "is_best": true, "pmh_id": null, "endpoint_id":
          null, "repository_institution": null, "oa_date": "2024-04-01"}, "first_oa_location":
          {"updated": "2024-04-03T02:38:26.107690", "url": "https://www.biorxiv.org/content/biorxiv/early/2024/04/01/2024.04.01.587366.full.pdf",
          "url_for_pdf": "https://www.biorxiv.org/content/biorxiv/early/2024/04/01/2024.04.01.587366.full.pdf",
          "url_for_landing_page": "https://doi.org/10.1101/2024.04.01.587366", "evidence":
          "oa repository (via page says license)", "license": "cc-by", "version": "submittedVersion",
          "host_type": "repository", "is_best": true, "pmh_id": null, "endpoint_id":
          null, "repository_institution": null, "oa_date": "2024-04-01"}, "oa_locations":
          [{"updated": "2024-04-03T02:38:26.107690", "url": "https://www.biorxiv.org/content/biorxiv/early/2024/04/01/2024.04.01.587366.full.pdf",
          "url_for_pdf": "https://www.biorxiv.org/content/biorxiv/early/2024/04/01/2024.04.01.587366.full.pdf",
          "url_for_landing_page": "https://doi.org/10.1101/2024.04.01.587366", "evidence":
          "oa repository (via page says license)", "license": "cc-by", "version": "submittedVersion",
          "host_type": "repository", "is_best": true, "pmh_id": null, "endpoint_id":
          null, "repository_institution": null, "oa_date": "2024-04-01"}], "oa_locations_embargoed":
          [], "updated": "2024-04-03T02:38:52.695109", "data_standard": 2, "z_authors":
          [{"given": "Michael", "family": "Herger", "sequence": "first"}, {"given":
          "Christina M.", "family": "Kajba", "sequence": "additional"}, {"given": "Megan",
          "family": "Buckley", "sequence": "additional"}, {"given": "Ana", "family":
          "Cunha", "sequence": "additional"}, {"given": "Molly", "family": "Strom",
          "sequence": "additional"}, {"ORCID": "http://orcid.org/0000-0002-7767-8608",
          "given": "Gregory M.", "family": "Findlay", "sequence": "additional", "authenticated-orcid":
          false}]}'
      headers:
        Content-Type:
          - application/json
      status:
        code: 200
        message: OK
  - request:
      body: null
      headers: {}
      method: GET
      uri: https://api.crossref.org/works/10.1101%2F2024.04.01.587366/transform/application/x-bibtex
    response:
      body:
        string:
          " @article{Herger_2024, title={High-throughput screening of human genetic
          variants by pooled prime editing}, url={http://dx.doi.org/10.1101/2024.04.01.587366},
          DOI={10.1101/2024.04.01.587366}, publisher={Cold Spring Harbor Laboratory},
          author={Herger, Michael and Kajba, Christina M. and Buckley, Megan and Cunha,
          Ana and Strom, Molly and Findlay, Gregory M.}, year={2024}, month=apr }

          "
      headers:
        x-api-pool:
          - plus
        x-rate-limit-interval:
          - 1s
        x-rate-limit-limit:
          - "150"
        x-ratelimit-interval:
          - 1s
        x-ratelimit-limit:
          - "150"
      status:
        code: 200
        message: OK
version: 1
