interactions:
  - request:
      body: null
      headers: {}
      method: GET
      uri: https://api.crossref.org/works?mailto=example@papercrow.ai&query.title=abs12032jsdafn&rows=1
    response:
      body:
        string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"total-results":0,"items":[],"items-per-page":1,"query":{"start-index":0,"search-terms":null}}}'
      headers:
        Content-Type:
          - application/json
        x-api-pool:
          - plus
        x-rate-limit-interval:
          - 1s
        x-rate-limit-limit:
          - "150"
        x-ratelimit-interval:
          - 1s
        x-ratelimit-limit:
          - "150"
      status:
        code: 200
        message: OK
  - request:
      body: null
      headers: {}
      method: GET
      uri: https://api.semanticscholar.org/graph/v1/paper/search/match?query=abs12032jsdafn&fields=authors,citationCount,citationStyles,externalIds,influentialCitationCount,isOpenAccess,journal,openAccessPdf,publicationDate,publicationTypes,title,url,venue,year
    response:
      body:
        string: '{"error":"Title match not found"}

          '
      headers:
        Content-Type:
          - application/json
        x-amz-apigw-id:
          - CLbaSFnKPHcEVYA=
        x-amzn-Remapped-Connection:
          - keep-alive
        x-amzn-Remapped-Content-Length:
          - "34"
        x-amzn-Remapped-Date:
          - Mon, 02 Dec 2024 19:36:33 GMT
        x-amzn-Remapped-Server:
          - gunicorn
        x-amzn-RequestId:
          - 273a4cdb-290d-4be7-8b94-fd99f060314a
      status:
        code: 404
        message: Not Found
version: 1
