[build-system]
build-backend = "setuptools.build_meta"
requires = ["setuptools>=64", "setuptools_scm>=8"]

[project]
authors = [
    {email = "hello@futurehouse.org", name = "FutureHouse technical staff"},
]
classifiers = [
    "Intended Audience :: Developers",
    "License :: OSI Approved :: Apache Software License",
    "Operating System :: OS Independent",
    "Programming Language :: Python :: 3 :: Only",
    "Programming Language :: Python :: 3.11",
    "Programming Language :: Python :: 3.12",
    "Programming Language :: Python :: 3.13",
    "Programming Language :: Python",
    "Topic :: Scientific/Engineering :: Artificial Intelligence",
]
dependencies = [
    "docling-core>=2",  # Pin for v2 with DocItem, TextItem, etc.
    "docling>=2",  # Pin for v2 introducing PdfPipelineOptions
    "paper-qa",
]
description = "PaperQA readers implemented using Docling"
dynamic = ["version"]
license = {file = "LICENSE"}
maintainers = [
    {email = "jamesbraza@gmail.com", name = "James Braza"},
    {email = "michael.skarlinski@gmail.com", name = "Michael Skarlinski"},
    {email = "white.d.andrew@gmail.com", name = "Andrew White"},
]
name = "paper-qa-docling"
readme = "README.md"
requires-python = ">=3.11"

[project.optional-dependencies]
dev = [
    "docling-ibm-models[opencv-python-headless]>=3.10.0",  # Lower pin and specify opencv after https://github.com/docling-project/docling-ibm-models/pull/130
    "docling>=2.63",  # Pin for StandardPdfPipeline timeout fix
    "fhlmi>=0.39",  # Pin for bytes_to_string
    "paper-qa>=5.23",  # Pin for PDFParserFn
    "pytest-asyncio",
    "pytest>=8",  # Pin to keep recent
]

[tool.ruff]
extend = "../../pyproject.toml"

[tool.setuptools.packages.find]
where = ["src"]

[tool.setuptools_scm]
root = "../.."
version_file = "src/paperqa_docling/version.py"
